unpackaged/main/default/flows/AQL_Opty_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PostWithContactAddition</name>
        <label>PostWithContactAddition</label>
        <locationX>1018</locationX>
        <locationY>2942</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Oppies_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterPostWithContactAddition</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>Oppies_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Contact_Account_s_Expertise</name>
        <label>Assign Contact Account&apos;s Expertise</label>
        <locationX>842</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.Expertise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Account_Expertise.Expertise__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Account_Expertise</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Campaign_Member_Status</name>
        <label>Change Campaign Member Status</label>
        <locationX>50</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>Get_Campaign_Member.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IBM – Opportunity created</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Account_Expertises</name>
        <label>Count Account Expertises</label>
        <locationX>886</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AccountExpertiseCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Account_Expertises</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_Of_Cegid_Account_Expertises</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateSingleContactRole</name>
        <label>CreateSingleContactRole</label>
        <locationX>1106</locationX>
        <locationY>2726</locationY>
        <assignmentItems>
            <assignToReference>ContactRolesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleContactRoleToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PostWithContactAddition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opportunity_Values</name>
        <label>Set Opportunity Values</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>G - MQL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.ForecastCategoryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Omitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedOptyName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.LeadSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.Expertise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Expertise__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.Oppy_AutoCreated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.Forecast_Category_EDIT__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Omitted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.External_Comment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.AttrLTcontent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.AttrLTcontent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.ATTRILTmedium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.ATTRILTmedium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.ATTRILTSource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.ATTRILTSource__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Oppy_Owner</name>
        <label>Set Oppy Owner</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign.Opportunity_Owner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Campaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityToCreate.TECH_Force_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Opportunity_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SingleContactRoleAssignment</name>
        <label>SingleContactRoleAssignment</label>
        <locationX>1106</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>SingleContactRoleToCreate.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Oppies_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleContactRoleToCreate.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateSingleContactRole</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Campaign_Member_Found</name>
        <label>Campaign Member Found ?</label>
        <locationX>1122</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>No_Expertise_On_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Campaign_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign</targetReference>
            </connector>
            <label>Found Campaign Member</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_on_Oppy</name>
        <label>Contact on Oppy ?</label>
        <locationX>1018</locationX>
        <locationY>2486</locationY>
        <defaultConnector>
            <targetReference>SingleContactRoleAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact to Add</defaultConnectorLabel>
        <rules>
            <name>Contact_already_on_Oppy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Oppy_Contact_Roles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PostWithContactAddition</targetReference>
            </connector>
            <label>Contact already on Oppy</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsExpertiseFound</name>
        <label>ExpertiseFound ?</label>
        <locationX>1238</locationX>
        <locationY>2246</locationY>
        <defaultConnector>
            <targetReference>Get_Marketing_Queue_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExpertiseFound</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Expertise</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account_Expertises</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Set_Opportunity_Values</targetReference>
            </connector>
            <label>ExpertiseFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Expertise_On_Contact</name>
        <label>No Expertise On Contact ?</label>
        <locationX>1040</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Expertise</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Expertise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Expertise__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Expertises</targetReference>
            </connector>
            <label>No Expertise</label>
        </rules>
    </decisions>
    <decisions>
        <name>Number_Of_Cegid_Account_Expertises</name>
        <label>Number Of Cegid Account Expertises ?</label>
        <locationX>886</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountExpertiseCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Account_Expertise</targetReference>
            </connector>
            <label>1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oppy_found</name>
        <label>Oppy found ?</label>
        <locationX>1040</locationX>
        <locationY>2126</locationY>
        <defaultConnector>
            <targetReference>IsExpertiseFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No existing Oppy</defaultConnectorLabel>
        <rules>
            <name>At_least_One_Oppy_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_with_same_expertise</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oppies_Loop</targetReference>
            </connector>
            <label>At least One Oppy Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>OppyOwnerOnCampaign</name>
        <label>OppyOwnerOnCampaign ?</label>
        <locationX>611</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>No_Expertise_On_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oppy_Owner_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign.Opportunity_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Oppy_Owner</targetReference>
            </connector>
            <label>Oppy Owner exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>OppyOwnerOnCampaign_0</name>
        <label>OppyOwnerOnCampaign ?</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oppy_Owner_exists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign.Opportunity_Owner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Campaign_Member_Status</targetReference>
            </connector>
            <label>Oppy Owner exists</label>
        </rules>
    </decisions>
    <description>04/02/2021 - RMA :  Correction pour tester présence d&apos;expertise sur contact ou sur compte pour création oppy</description>
    <environments>Default</environments>
    <formulas>
        <name>BufferCampaignId</name>
        <dataType>String</dataType>
        <expression>{!$Label.TMK_Campaign}</expression>
    </formulas>
    <formulas>
        <name>CalculatedCloseDate</name>
        <dataType>Date</dataType>
        <expression>NOW() + 30</expression>
    </formulas>
    <formulas>
        <description>Contact Full Name + Expertise</description>
        <name>CalculatedOptyName</name>
        <dataType>String</dataType>
        <expression>{!Get_Contact.Name}+ &quot; &quot; +  
CASE({!Get_Contact.Expertise__c},
	&quot;110&quot;,&quot;CPA&quot;,
	&quot;350&quot;,&quot;ERP High&quot;,
	&quot;340&quot;,&quot;ERP Middle&quot;,
	&quot;320&quot;,&quot;HCM&quot;,
	&quot;200&quot;,&quot;Retail&quot;, 
	&quot;100&quot;,&quot;SMB&quot;,
	&quot;315&quot;,&quot;TAX&quot;,	
	&quot;999&quot;,&quot;Out of Expertise&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>ChatterPostWithContactAddition</name>
        <dataType>String</dataType>
        <expression>&quot;@[&quot;+  {!Oppies_Loop.OwnerId} +&quot;]&quot; + &quot; The contact &quot; + {!Get_Contact.Name}  + &quot; has made a new marketing request with the same expertise as your existing opportunity. No duplicate has been created.&quot;</expression>
    </formulas>
    <formulas>
        <name>ContactLeadRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.Contact_Lead_Record_Type_Id}</expression>
    </formulas>
    <interviewLabel>AQL Opty Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AQL Contact Management V2</label>
    <loops>
        <name>Loop_Account_Expertise</name>
        <label>Loop Account Expertise</label>
        <locationX>754</locationX>
        <locationY>1238</locationY>
        <collectionReference>Get_Account_Expertises</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Contact_Account_s_Expertise</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Oppies_Loop</name>
        <label>Oppies Loop</label>
        <locationX>842</locationX>
        <locationY>2246</locationY>
        <collectionReference>Get_Opportunity_with_same_expertise</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Oppy_Contact_Roles</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Contact_Roles</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Contact_Lead</name>
        <label>Create Contact Lead</label>
        <locationX>1370</locationX>
        <locationY>2486</locationY>
        <inputAssignments>
            <field>ATTRILTSource__c</field>
            <value>
                <elementReference>Get_Contact.ATTRILTSource__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATTRILTmedium__c</field>
            <value>
                <elementReference>Get_Contact.ATTRILTmedium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>Get_Account.AnnualRevenue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>City</field>
            <value>
                <elementReference>Get_Account.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country</field>
            <value>
                <elementReference>Get_Account.BillingCountry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Direct_Phone__c</field>
            <value>
                <elementReference>Get_Contact.Direct_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Existing_Account__c</field>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expertise__c</field>
            <value>
                <elementReference>Get_Contact.Expertise__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Comment__c</field>
            <value>
                <elementReference>Get_Contact.External_Comment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_Contact.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Function__c</field>
            <value>
                <elementReference>Get_Contact.Function__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasOptedOutOfEmail</field>
            <value>
                <elementReference>Get_Contact.HasOptedOutOfEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry_Code__c</field>
            <value>
                <elementReference>Get_Account.Industry_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intercommunity_VAT_number__c</field>
            <value>
                <elementReference>Get_Account.IntercommunityVATnumber__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_Contact.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_AQL_Date__c</field>
            <value>
                <elementReference>Get_Contact.Last_AQL_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <elementReference>Get_Contact.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Campaign__c</field>
            <value>
                <elementReference>Get_Contact.Marketing_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketing_Status__c</field>
            <value>
                <elementReference>Get_Contact.Marketing_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Marketo_Info__c</field>
            <value>
                <elementReference>Get_Contact.Marketo_Info__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Get_Contact.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>National_ID_Exception__c</field>
            <value>
                <elementReference>Get_Account.National_ID_Exception__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>National_ID__c</field>
            <value>
                <elementReference>Get_Account.National_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_Companies__c</field>
            <value>
                <elementReference>Get_Account.No_of_companies__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_establishments__c</field>
            <value>
                <elementReference>Get_Account.No_of_establishments__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Marketing_Queue_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Account__c</field>
            <value>
                <elementReference>Get_Account.ParentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partnership__c</field>
            <value>
                <elementReference>Get_Account.Partnership__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payslips_per_month__c</field>
            <value>
                <elementReference>Get_Account.Payslips_per_month__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Get_Contact.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PostalCode</field>
            <value>
                <elementReference>Get_Account.BillingPostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Language__c</field>
            <value>
                <elementReference>Get_Contact.Preferred_Language__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>ContactLeadRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retail_Segmentation__c</field>
            <value>
                <elementReference>Get_Account.Retail_Segmentation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>Get_Contact.Salutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <elementReference>Get_Contact.Service__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Buffer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Street</field>
            <value>
                <elementReference>Get_Account.BillingStreet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Get_Account.Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Website</field>
            <value>
                <elementReference>Get_Account.Website</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>mkto71_Acquisition_Date__c</field>
            <value>
                <elementReference>Get_Contact.mkto71_Acquisition_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>mkto71_Acquisition_Program__c</field>
            <value>
                <elementReference>Get_Contact.mkto71_Acquisition_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>mkto71_Original_Referrer__c</field>
            <value>
                <elementReference>Get_Contact.mkto71_Original_Referrer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>mkto71_Original_Source_Info__c</field>
            <value>
                <elementReference>Get_Contact.mkto71_Original_Source_Info__c</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Roles</name>
        <label>Create Contact Roles</label>
        <locationX>842</locationX>
        <locationY>3158</locationY>
        <inputReference>ContactRolesToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>OppyOwnerOnCampaign_0</targetReference>
        </connector>
        <inputReference>OpportunityToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1040</locationX>
        <locationY>1886</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_with_same_expertise</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Expertise</name>
        <label>Get Cegid Account Expertise</label>
        <locationX>1194</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cegid_solution__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Expertise__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Expertise__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account_Expertise__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Expertises</name>
        <label>Get Account Expertises</label>
        <locationX>886</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Account_Expertises</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cegid_solution__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Expertise__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>611</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OppyOwnerOnCampaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Campaign_Member.CampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Campaign_Member</name>
        <label>Get Campaign Member</label>
        <locationX>1122</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_Member_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IBM – Opportunity to be generated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1122</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Campaign_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Marketing_Queue_Id</name>
        <label>Get Marketing Queue Id</label>
        <locationX>1370</locationX>
        <locationY>2366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Contact_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Telemarketing_Leads</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_with_same_expertise</name>
        <label>Get Opportunity with same expertise</label>
        <locationX>1040</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Oppy_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expertise__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Expertise__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Oppy_Contact_Roles</name>
        <label>Get Oppy Contact Roles</label>
        <locationX>1018</locationX>
        <locationY>2366</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_on_Oppy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Oppies_Loop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign_Member</name>
        <label>Update Campaign Member</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <inputReference>Get_Campaign_Member</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>754</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <inputReference>Get_Contact</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>996</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountExpertiseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CampaignMemberToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRolesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>OpportunityToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>SingleContactRoleToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
</Flow>
