unpackaged/main/default/flows/Check_MQL_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Empty_Oppty</name>
        <label>Empty Oppty</label>
        <locationX>366</locationX>
        <locationY>284</locationY>
        <assignmentItems>
            <assignToReference>$Record.TECH_MQL_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Empty_Oppty_0</name>
        <label>Empty Oppty</label>
        <locationX>921</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>$Record.TECH_MQL_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Empty_Oppty_0_0</name>
        <label>Empty Oppty</label>
        <locationX>708</locationX>
        <locationY>1159</locationY>
        <assignmentItems>
            <assignToReference>$Record.TECH_MQL_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Oppy</name>
        <label>Update Oppy</label>
        <locationX>565</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>$Record.TECH_MQL_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Oppy_0_0</name>
        <label>Update Oppy</label>
        <locationX>963</locationX>
        <locationY>836</locationY>
        <assignmentItems>
            <assignToReference>$Record.TECH_MQL_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed CPA/SMB</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Oppy_0_0_0</name>
        <label>Update Oppy</label>
        <locationX>917</locationX>
        <locationY>1010</locationY>
        <assignmentItems>
            <assignToReference>$Record.TECH_MQL_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Other</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CPA_SMB_Oppy_Found</name>
        <label>CPA SMB Oppy Found ?</label>
        <locationX>768</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Empty_Oppty_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_CPA_SMB_Oppy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CPA_SMB_Closed_Opty</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Oppy_0_0</targetReference>
            </connector>
            <label>Found CPA / SMB Oppy</label>
        </rules>
    </decisions>
    <decisions>
        <name>CPA_SMB_or_Other</name>
        <label>CPA SMB or Other</label>
        <locationX>345</locationX>
        <locationY>663</locationY>
        <defaultConnector>
            <targetReference>Get_Other_Closed_Opty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CPA_SMB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CPAorSMB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CPA_SMB_Closed_Opty</targetReference>
            </connector>
            <label>CPA / SMB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Oppy_comes_from_Marketing</name>
        <label>Oppy comes from Marketing ?</label>
        <locationX>166</locationX>
        <locationY>279</locationY>
        <defaultConnector>
            <targetReference>Empty_Oppty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_From_MKT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MarketingOpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Open_Opty</targetReference>
            </connector>
            <label>Not From MKT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opy_from_Lead_Found</name>
        <label>Opy from Marketing Found ?</label>
        <locationX>344</locationX>
        <locationY>444</locationY>
        <defaultConnector>
            <targetReference>CPA_SMB_or_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_open_Oppy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Opty</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Oppy</targetReference>
            </connector>
            <label>Found open Oppy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Oppy_Found</name>
        <label>Other Oppy Found ?</label>
        <locationX>699</locationX>
        <locationY>1009</locationY>
        <defaultConnector>
            <targetReference>Empty_Oppty_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Other_Oppy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Other_Closed_Opty</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Oppy_0_0_0</targetReference>
            </connector>
            <label>Found Other Oppy</label>
        </rules>
    </decisions>
    <description>AZI - W-001691 Update MarketingOpty Variable</description>
    <formulas>
        <name>CPAorSMB</name>
        <dataType>Boolean</dataType>
        <expression>OR ( ISPICKVAL({!$Record.Expertise__c},&quot;110&quot;), ISPICKVAL({!$Record.Expertise__c},&quot;100&quot;))</expression>
    </formulas>
    <formulas>
        <name>CPASMBLimitDate</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 30</expression>
    </formulas>
    <formulas>
        <name>MarketingOpty</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!$Record.Oppy_AutoCreated__c}, 
{!$Record.Oppy_converted_from_Lead__c},
{!$Record.Is_Converted_From_Lead_Origin_Value__c}
)</expression>
    </formulas>
    <formulas>
        <name>OtherLimitDate</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-90</expression>
    </formulas>
    <interviewLabel>Check MQL Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Check MQL Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CPA_SMB_Closed_Opty</name>
        <label>Get CPA/SMB Closed Opty</label>
        <locationX>563</locationX>
        <locationY>667</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CPA_SMB_Oppy_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>By_Pass_MQL_Check__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Core_Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Core_Business__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expertise__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Expertise__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Purpose__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Purpose__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_Closing_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CPASMBLimitDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_MQL_Oppty__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Opty</name>
        <label>Get Open Opty from Marketing</label>
        <locationX>177</locationX>
        <locationY>487</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opy_from_Lead_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>By_Pass_MQL_Check__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Core_Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Core_Business__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expertise__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Expertise__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Purpose__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Purpose__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_MQL_Oppty__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Other_Closed_Opty</name>
        <label>Get Other Closed Opty</label>
        <locationX>539</locationX>
        <locationY>1007</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Other_Oppy_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>By_Pass_MQL_Check__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Core_Business__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Core_Business__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Expertise__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Expertise__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sales_Purpose__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Purpose__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_Closing_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>OtherLimitDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_MQL_Oppty__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>48</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Oppy_comes_from_Marketing</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
