unpackaged/main/default/flows/CompanyLabels_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Default_Assigments</name>
        <label>Default Assigments</label>
        <locationX>426</locationX>
        <locationY>496</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__RenewalTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Labels.Renewal_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Increase_Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Labels.Increase_Mode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Notice_Period_Months__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Labels.Notice_Period_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__SubscriptionTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>numbersubterm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Increase_Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Labels.Increase_Mode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Company_Label_Initialized__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Folder_Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Labels.Default_Entity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Renewal_Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Labels.Renewal_Mode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Extension_Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Labels.Extension_Mode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Full_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Payment_Date_Calculation_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Labels.Payment_Date_Calculation_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Increase_Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Company_Labels.Increase_Mode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Legal_Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConcatInfosLegalLabel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_assignment_upsell</name>
        <label>Default assignment upsell</label>
        <locationX>542</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__RenewalTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__MasterContract__r.Renewal_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__MasterContract__r.Payment_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Payment_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__MasterContract__r.Payment_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Increase_Mode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__MasterContract__r.Increase_Mode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__MasterContract__r.Billing_Frequency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Payment_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__MasterContract__r.Payment_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Increase_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__MasterContract__r.Increase_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Company_Label_Initialized__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Payment_Date_Calculation_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__MasterContract__r.Payment_Date_Calculation_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.UMR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__MasterContract__r.RUM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Legal_Label__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConcatInfosLegalLabelMC</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_quote_upsell</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Quote_UPSELL</name>
        <label>Is Quote UPSELL ?</label>
        <locationX>283</locationX>
        <locationY>247</locationY>
        <defaultConnector>
            <targetReference>Company_Labels</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_is_UPSELL</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MasterContractSalesPurpose__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>411</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MasterContractSalesPurpose__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>511</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_assignment_upsell</targetReference>
            </connector>
            <label>Quote is UPSELL</label>
        </rules>
    </decisions>
    <formulas>
        <name>ConcatInfosLegalLabel</name>
        <dataType>String</dataType>
        <expression>TEXT({!Company_Labels.Payment_Method__c})&amp;&apos; &apos;&amp;TEXT({!Company_Labels.Payment_Term__c})&amp;&apos; &apos;&amp;TEXT({!Company_Labels.Payment_Date_Calculation_Method__c})</expression>
    </formulas>
    <formulas>
        <name>ConcatInfosLegalLabelMC</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.SBQQ__MasterContract__r.Payment_Method__c})&amp;&apos; &apos;&amp;TEXT({!$Record.SBQQ__MasterContract__r.Payment_Term__c})&amp;&apos; &apos;&amp;TEXT({!$Record.SBQQ__MasterContract__r.Payment_Date_Calculation_Method__c})</expression>
    </formulas>
    <formulas>
        <name>numbersubterm</name>
        <dataType>Number</dataType>
        <expression>VALUE(Text({!Company_Labels.Subscription_Term__c}))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>CompanyLabels- Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CompanyLabels- Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Company_Labels</name>
        <label>Get Company Labels</label>
        <locationX>292</locationX>
        <locationY>357</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Default_Assigments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Default_Entity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__PriceBook__r.Cegid_Entity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Company_Labels__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_quote</name>
        <label>Update quote</label>
        <locationX>648</locationX>
        <locationY>593</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_quote_upsell</name>
        <label>Update quote upsell</label>
        <locationX>849</locationX>
        <locationY>364</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Is_Quote_UPSELL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__PriceBook__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Company_Label_Initialized__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
