unpackaged/main/default/flows/CompanyLabels_Product.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Default_Assigments</name>
        <label>Default Assigments</label>
        <locationX>240</locationX>
        <locationY>515</locationY>
        <assignmentItems>
            <assignToReference>$Record.First_Subscription_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Company_Labels.Subscription_Term__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product</targetReference>
        </connector>
    </assignments>
    <interviewLabel>CompanyLabels - Product {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CompanyLabels - Product</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Company_Labels</name>
        <label>Get Company Labels</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Default_Assigments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CEGID Default Company Labels</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Company_Labels__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Product</name>
        <label>Update Product</label>
        <locationX>241</locationX>
        <locationY>685</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Company_Labels</targetReference>
        </connector>
        <object>Product2</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
