unpackaged/main/default/flows/CreateAccountCompetitorFromLead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Competitor_1</name>
        <label>Check Competitor 1</label>
        <locationX>295</locationX>
        <locationY>59</locationY>
        <defaultConnector>
            <targetReference>Check_Competitor_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Competitor_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLeadCompetitors.CurrentSolution_Competitor1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLeadCompetitors.CurrentSolution_CoreBusiness1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Competitor_1</targetReference>
            </connector>
            <label>Existing Competitor 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Competitor_2</name>
        <label>Check Competitor 2</label>
        <locationX>418</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Check_Competitor_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Competitor_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLeadCompetitors.CurrentSolution_Competitor2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLeadCompetitors.CurrentSolution_CoreBusiness2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Competitor_2</targetReference>
            </connector>
            <label>Existing Competitor 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Competitor_3</name>
        <label>Check Competitor 3</label>
        <locationX>418</locationX>
        <locationY>477</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Competitor_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetLeadCompetitors.CurrentSolution_Competitor3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetLeadCompetitors.CurrentSolution_CoreBusiness3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account_Competitor_3</targetReference>
            </connector>
            <label>Existing Competitor 3</label>
        </rules>
    </decisions>
    <description>Creates up to 3 Account Competitors for teh Account following the lead conversion</description>
    <interviewLabel>CreateAccountCompetitorFromLead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateAccountCompetitorFromLead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account_Competitor_1</name>
        <label>Create Account Competitor 1</label>
        <locationX>508</locationX>
        <locationY>63</locationY>
        <connector>
            <targetReference>Check_Competitor_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>GetLeadCompetitors.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor__c</field>
            <value>
                <elementReference>GetLeadCompetitors.CurrentSolution_Competitor1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Business__c</field>
            <value>
                <elementReference>GetLeadCompetitors.CurrentSolution_CoreBusiness1__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Competitor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Account_Competitor_2</name>
        <label>Create Account Competitor 2</label>
        <locationX>663</locationX>
        <locationY>282</locationY>
        <connector>
            <targetReference>Check_Competitor_3</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>GetLeadCompetitors.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor__c</field>
            <value>
                <elementReference>GetLeadCompetitors.CurrentSolution_Competitor2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Business__c</field>
            <value>
                <elementReference>GetLeadCompetitors.CurrentSolution_CoreBusiness2__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Competitor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Account_Competitor_3</name>
        <label>Create Account Competitor 3</label>
        <locationX>669</locationX>
        <locationY>473</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>GetLeadCompetitors.ConvertedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Competitor__c</field>
            <value>
                <elementReference>GetLeadCompetitors.CurrentSolution_Competitor3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Business__c</field>
            <value>
                <elementReference>GetLeadCompetitors.CurrentSolution_CoreBusiness3__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account_Competitor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>GetLeadCompetitors</name>
        <label>GetLeadCompetitors</label>
        <locationX>179</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Competitor_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>41</locationX>
        <locationY>54</locationY>
        <connector>
            <targetReference>GetLeadCompetitors</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
