unpackaged/main/default/flows/CreateTask_W000762.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>IF_contact</name>
        <label>IF contact</label>
        <locationX>568</locationX>
        <locationY>57</locationY>
        <defaultConnector>
            <targetReference>getRecordLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead</defaultConnectorLabel>
        <rules>
            <name>Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WhoId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getRecordContact</targetReference>
            </connector>
            <label>Contact</label>
        </rules>
    </decisions>
    <formulas>
        <name>setLeadSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Rappel &apos; + {!setRecordLead.Name}</expression>
    </formulas>
    <formulas>
        <name>taskSubject</name>
        <dataType>String</dataType>
        <expression>&apos;Rappel &apos; + {!setRecordContact.Name}</expression>
    </formulas>
    <interviewLabel>CreateTask {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateTask W000762</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>createNewTask</name>
        <label>createNewTask</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DateReminder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>taskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Targeting_Plan__c</field>
            <value>
                <elementReference>targetingPlan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>createNewTaskLead</name>
        <label>createNewTaskLead</label>
        <locationX>824</locationX>
        <locationY>485</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DateReminder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>setLeadSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Targeting_Plan__c</field>
            <value>
                <elementReference>targetingPlan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>WhoId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>248</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IF_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>DateReminder</assignToReference>
            <field>ReminderDate__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>targetingPlan</assignToReference>
            <field>Targeting_Plan__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WhoId</assignToReference>
            <field>WhoId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getRecordContact</name>
        <label>getRecordContact</label>
        <locationX>577</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createNewTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>setRecordContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getRecordLead</name>
        <label>getRecordLead</label>
        <locationX>820</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createNewTaskLead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WhoId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>setRecordLead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <start>
        <locationX>55</locationX>
        <locationY>56</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DateReminder</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>setRecordContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>setRecordLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>targetingPlan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
