unpackaged/main/default/flows/Ecosystem_Relationship_Management_From_Opty.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Consulting_to_Collection</name>
        <label>Add Consulting to Collection</label>
        <locationX>196</locationX>
        <locationY>557</locationY>
        <assignmentItems>
            <assignToReference>PartnersAccountsFromOpty</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Consulting_Account_from_Opty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Distributor_Account_from_Opty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Distributor_to_Collection</name>
        <label>Add Distributor to Collection</label>
        <locationX>395</locationX>
        <locationY>558</locationY>
        <assignmentItems>
            <assignToReference>PartnersAccountsFromOpty</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Distributor_Account_from_Opty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Integrator_Account_from_Opty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Integrator_to_Collection</name>
        <label>Add Integrator to Collection</label>
        <locationX>602</locationX>
        <locationY>544</locationY>
        <assignmentItems>
            <assignToReference>PartnersAccountsFromOpty</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Integrator_Account_from_Opty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection_to_create</name>
        <label>Add to collection to create</label>
        <locationX>1363</locationX>
        <locationY>399</locationY>
        <assignmentItems>
            <assignToReference>RelationshipsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopRelationship</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Collection_to_Update</name>
        <label>Add To Collection to Update</label>
        <locationX>932</locationX>
        <locationY>581</locationY>
        <assignmentItems>
            <assignToReference>RelationshipstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Inactive_Ecosystem_Relationship</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Define_Relationship_To_Create</name>
        <label>Define Relationship To Create</label>
        <locationX>1362</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>LoopRelationship.Main_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opty_Details.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopRelationship.Partner_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopRelationship.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopRelationship.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopRelationship.Partner_Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAccount.Partnership__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection_to_create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Relationship_as_Active</name>
        <label>Set Relationship as Active</label>
        <locationX>1294</locationX>
        <locationY>617</locationY>
        <assignmentItems>
            <assignToReference>Get_Inactive_Ecosystem_Relationship.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection_to_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Found_Consulting</name>
        <label>Found Consulting ?</label>
        <locationX>185</locationX>
        <locationY>357</locationY>
        <defaultConnector>
            <targetReference>Get_Distributor_Account_from_Opty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consulting_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Consulting_Account_from_Opty</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Consulting_to_Collection</targetReference>
            </connector>
            <label>Consulting found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Consulting_0</name>
        <label>Found Distributor ?</label>
        <locationX>403</locationX>
        <locationY>331</locationY>
        <defaultConnector>
            <targetReference>Get_Integrator_Account_from_Opty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Consulting_found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Distributor_Account_from_Opty</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Distributor_to_Collection</targetReference>
            </connector>
            <label>Distributor found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_Integrator</name>
        <label>Found Integrator ?</label>
        <locationX>577</locationX>
        <locationY>358</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Integrator_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Integrator_Account_from_Opty</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Integrator_to_Collection</targetReference>
            </connector>
            <label>Integrator found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inactive_relationship_exists</name>
        <label>Inactive relationship exists ?</label>
        <locationX>1181</locationX>
        <locationY>509</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Inactive_Ecosystem_Relationship</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Relationship_as_Active</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Relationship_exists</name>
        <label>Relationship exists ?</label>
        <locationX>1161</locationX>
        <locationY>210</locationY>
        <defaultConnector>
            <targetReference>Get_Inactive_Ecosystem_Relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Ecosystem_Relationship</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_Relationship_To_Create</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>RMA V2 - Execute as System</description>
    <formulas>
        <name>Comment</name>
        <dataType>String</dataType>
        <expression>&quot;Created from opportunity &quot;+ {!Get_Opty_Details.Name}</expression>
    </formulas>
    <interviewLabel>Ecosystem Relationship Management From Opty {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ecosystem Relationship Management From Opty</label>
    <loops>
        <name>Loop_Through_Accounts</name>
        <label>Loop Through Accounts</label>
        <locationX>750</locationX>
        <locationY>208</locationY>
        <assignNextValueToReference>LoopAccount</assignNextValueToReference>
        <collectionReference>PartnersAccountsFromOpty</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Ecosystem_Relationship</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateRelationsShip</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Relationshipq</name>
        <label>Create Relationshipq</label>
        <locationX>752</locationX>
        <locationY>585</locationY>
        <inputReference>RelationshipsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Consulting_Account_from_Opty</name>
        <label>Get Consulting Account from Opty</label>
        <locationX>187</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Consulting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opty_Details.Partner_Consulting__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Distributor_Account_from_Opty</name>
        <label>Get Distributor Account from Opty</label>
        <locationX>341</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Consulting_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opty_Details.Partner_Distributor__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Opty_Details.Partner_Consulting__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ecosystem_Relationship</name>
        <label>Get Ecosystem Relationship</label>
        <locationX>998</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Relationship_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Main_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opty_Details.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ecosystem_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Inactive_Ecosystem_Relationship</name>
        <label>Get Inactive Ecosystem Relationship</label>
        <locationX>1207</locationX>
        <locationY>343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Inactive_relationship_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Main_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opty_Details.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopAccount.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ecosystem_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Integrator_Account_from_Opty</name>
        <label>Get Integrator Account from Opty</label>
        <locationX>525</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Integrator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opty_Details.Partner_Integrator__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Opty_Details.Partner_Consulting__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Opty_Details.Partner_Distributor__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opty_Details</name>
        <label>Get Opty Details</label>
        <locationX>390</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Consulting_Account_from_Opty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateRelationsShip</name>
        <label>UpdateRelationsShip</label>
        <locationX>751</locationX>
        <locationY>410</locationY>
        <connector>
            <targetReference>Create_Relationshipq</targetReference>
        </connector>
        <inputReference>RelationshipstoUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Opty_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>LoopAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>LoopId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LoopRelationship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ecosystem_Relationship__c</objectType>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PartnersAccountsFromOpty</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>RelationshipsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ecosystem_Relationship__c</objectType>
    </variables>
    <variables>
        <name>RelationshipstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ecosystem_Relationship__c</objectType>
    </variables>
</Flow>
