unpackaged/main/default/flows/Flow_Notify_AC_when_Quote_is_Approved.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Devis_approuv_en_interne_contr_ler</name>
        <label>Devis approuvé en interne à contrôler</label>
        <locationX>1090</locationX>
        <locationY>1000</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>Emails</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Emails</name>
        <label>Add Emails</label>
        <locationX>1318</locationX>
        <locationY>790</locationY>
        <assignmentItems>
            <assignToReference>Emails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_User_Ids.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_User_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collection</label>
        <locationX>1299</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>UserIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Group_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Group_Members</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Flow - Notify AC when Quote is Approved {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow - Notify AC when Quote is Approved</label>
    <loops>
        <name>Loop_Through_Group_Members</name>
        <label>Loop Through Group Members</label>
        <locationX>1082</locationX>
        <locationY>457</locationY>
        <collectionReference>Get_Group_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_User_Emails</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_User_Ids</name>
        <label>Loop Through User Ids</label>
        <locationX>1090</locationX>
        <locationY>789</locationY>
        <collectionReference>Get_User_Emails</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Emails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Devis_approuv_en_interne_contr_ler</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Group</name>
        <label>Get Group</label>
        <locationX>690</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Tech_SalesAssistantGroupName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Members</name>
        <label>Get Group Members</label>
        <locationX>929</locationX>
        <locationY>457</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Emails</name>
        <label>Get User Emails</label>
        <locationX>1079</locationX>
        <locationY>660</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_User_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>UserIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>562</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tech_SendToLegal_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Un devis avec des conditions particulières vient d&apos;être approuvé.
- Numéro du devis : {!$Record.Name}
- Ordering Account : {!$Record.OrderingAccountId__r.ERP_Number__c},  {!$Record.OrderingAccountId__r.Name}
- Billing Account : {!$Record.Billing_Account__r.ERP_Number__c}, {!$Record.Billing_Account__r.Name}

Merci de contrôler le devis ainsi que la conformité de l&apos;ensemble des pièces.
Dès lors que le dossier est complet vous devez transmettre au commercial l&apos;ensemble des pièces qui vont devoir être signées :
- Le devis en pdf
- Les pièces jointes qui doivent être signés.</text>
    </textTemplates>
    <variables>
        <name>Emails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Devis à contrôler</stringValue>
        </value>
    </variables>
    <variables>
        <name>UserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
