unpackaged/main/default/flows/FlowTrigger_OneNoteS_AfterSave_CreateUpdate_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>UpdateCurrentRecord</name>
        <label>UpdateCurrentRecord</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.tech_RelatedCustomerRequestId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedInvoiceLine.CustomerRequest__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CurrentRecord</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>FlowTrigger_OneNoteS_AfterSave_CreateUpdate_Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowTrigger_OneNoteS_AfterSave_CreateUpdate_Invoice</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRelatedInvoiceLine</name>
        <label>GetRelatedInvoiceLine</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCurrentRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InvoiceLine__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CurrentRecord</name>
        <label>Update_CurrentRecord</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRelatedInvoiceLine</targetReference>
        </connector>
        <object>Invoice__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
