unpackaged/main/default/flows/Flow_Service_Books_in_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Flow-Service-Books in Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow-Service-Books in Products</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetServiceBooks</name>
        <label>GetServiceBooks</label>
        <locationX>178</locationX>
        <locationY>549</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_ServiceBooks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Line__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordProductLine</elementReference>
            </value>
        </filters>
        <filters>
            <field>StructureLevel1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordStructureLevel1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Attached_Document__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Blank_Service_Book</name>
        <label>Blank Service Book</label>
        <locationX>256</locationX>
        <locationY>248</locationY>
        <connector>
            <targetReference>GetServiceBooks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Service_Book__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ServiceBooks</name>
        <label>Update ServiceBooks</label>
        <locationX>421</locationX>
        <locationY>549</locationY>
        <inputReference>GetServiceBooks</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>52</locationX>
        <locationY>28</locationY>
        <connector>
            <targetReference>Blank_Service_Book</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordProductLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordStructureLevel1</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordStructureLevel2</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
