unpackaged/main/default/flows/FlowAutoLaunched_OneNoteS_DataRecovery_ElapsedTimes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assignment_SetFinalApprovalDate</name>
        <label>Assignment_SetFinalApprovalDate</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>$Record.FinalApprovalDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_SetFinalApprovalDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_IsFinalized</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_SetFinalizedProcessDate</name>
        <label>Assignment_SetFinalizedProcessDate</label>
        <locationX>50</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>$Record.FinalizedProcessDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_SetFinalizedProcessDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CurrentRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_IsFinalized</name>
        <label>Decision_IsFinalized</label>
        <locationX>182</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>Update_CurrentRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_IsFinalized_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finished treatment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_SetFinalizedProcessDate</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Formula_SetFinalApprovalDate</name>
        <dataType>Date</dataType>
        <expression>FROMUNIXTIME(
    MAX(
        IF(
            ISBLANK({!$Record.ApprovedDateSalesPlanner__c}),
            0,
            UNIXTIMESTAMP({!$Record.ApprovedDateSalesPlanner__c})
        ),
        IF(
            ISBLANK({!$Record.ApprovedDateSalesManager__c}),
            0,
            UNIXTIMESTAMP({!$Record.ApprovedDateSalesManager__c})
        ),
        IF(
            ISBLANK({!$Record.ApprovedDateSrcManager__c}),
            0,
            UNIXTIMESTAMP({!$Record.ApprovedDateSrcManager__c})
        ),
        IF(
            ISBLANK({!$Record.ApprovedDateAgencyManager__c}),
            0,
            UNIXTIMESTAMP({!$Record.ApprovedDateAgencyManager__c})
        ),
        IF(
            ISBLANK({!$Record.ApprovedDateBuAssistantManager__c}),
            0,
            UNIXTIMESTAMP({!$Record.ApprovedDateBuAssistantManager__c})
        ),
        IF(
            ISBLANK({!$Record.ApprovedDateBuManagerPS__c}),
            0,
            UNIXTIMESTAMP({!$Record.ApprovedDateBuManagerPS__c})
        ),
        IF(
            ISBLANK({!$Record.ApprovedDateBuManager__c}),
            0,
            UNIXTIMESTAMP({!$Record.ApprovedDateBuManager__c})
        ),
        IF(
            ISBLANK({!$Record.ApprovedDateCfo__c}),
            0,
            UNIXTIMESTAMP({!$Record.ApprovedDateCfo__c})
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>Formula_SetFinalizedProcessDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!$Record.LastModifiedDate})</expression>
    </formulas>
    <interviewLabel>FlowAutoLaunched_OneNoteS_DataRecovery_ElapsedTimes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowAutoLaunched_OneNoteS_DataRecovery_ElapsedTimes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_CurrentRecord</name>
        <label>Update_CurrentRecord</label>
        <locationX>182</locationX>
        <locationY>732</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment_SetFinalApprovalDate</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Validate Adv in progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Finished treatment</stringValue>
            </value>
        </filters>
        <object>CustomerRequest__c</object>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2022-12-09</startDate>
            <startTime>15:02:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
