unpackaged/main/default/flows/Flow_Product_NewVersion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>AssignInfo</name>
        <label>AssignInfo</label>
        <locationX>465</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>GetProductInfo.Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VersionFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetProductInfo.Version_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetProductInfo.New_Version_impacts_the_assets__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Version_impacts_the_Assets</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>VersionFormula</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY())) + LPAD(TEXT(MONTH(TODAY())),2,&quot;0&quot;) + LPAD(TEXT(DAY(TODAY())),2,&quot;0&quot;) + &quot;-V&quot; +TEXT(VALUE(RIGHT({!GetProductInfo.Version__c},LEN({!GetProductInfo.Version__c})-1-FIND(&quot;-V&quot;,{!GetProductInfo.Version__c})))+1)</expression>
    </formulas>
    <interviewLabel>Flow-Product-NewVersion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow-Product-NewVersion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetProductInfo</name>
        <label>GetProductInfo</label>
        <locationX>175</locationX>
        <locationY>203</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update</name>
        <label>Update</label>
        <locationX>709</locationX>
        <locationY>541</locationY>
        <inputReference>GetProductInfo</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>177</locationX>
        <locationY>364</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignInfo</targetReference>
        </connector>
        <fields>
            <name>Comment</name>
            <dataType>String</dataType>
            <fieldText>Comment :</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>New_Version_impacts_the_Assets</name>
            <dataType>Boolean</dataType>
            <fieldText>New Version impacts the Assets</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetProductInfo</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
