unpackaged/main/default/flows/Flow_CreateTransversalThemeCharges.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Flow-CreateTransversalThemeCharges {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow-CreateTransversalThemeCharges</label>
    <loops>
        <name>Loop_through_TransversalThemeProduct</name>
        <label>Loop through TransversalThemeProduct</label>
        <locationX>323</locationX>
        <locationY>50</locationY>
        <assignNextValueToReference>TTP_i</assignNextValueToReference>
        <collectionReference>Get_TransversalThemeProduct</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_TransversalThemeCharge</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_TransversalThemeCharge</name>
        <label>Create TransversalThemeCharge</label>
        <locationX>668</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Loop_through_TransversalThemeProduct</targetReference>
        </connector>
        <inputAssignments>
            <field>Discount_Max_Level_2__c</field>
            <value>
                <elementReference>TTP_i.Discount_Max_Level_2__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_Max_Level_3__c</field>
            <value>
                <elementReference>TTP_i.Discount_Max_Level_3__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>ChargeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transversal_Theme__c</field>
            <value>
                <elementReference>TTP_i.Transversal_Theme__c</elementReference>
            </value>
        </inputAssignments>
        <object>Transversal_Theme__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_TransversalThemeProduct</name>
        <label>Get TransversalThemeProduct</label>
        <locationX>182</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_TransversalThemeProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Transversal_Theme__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_TransversalThemeProduct</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ChargeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TTP_i</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Transversal_Theme__c</objectType>
    </variables>
</Flow>
