unpackaged/main/default/flows/Flow_QuoteLineApprovalsCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Flow-QuoteLineApprovalsCreation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow - Approval - Quote Line Approvals Creation</label>
    <loops>
        <name>Loop_through_Quote_Lines</name>
        <label>Loop through Quote Lines</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNextValueToReference>ryghj</assignNextValueToReference>
        <collectionReference>Get_Quote_Lines_with_Discount_Exceeding_Limits</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Quote_Line_Approval</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Quote_Line_Approval</name>
        <label>Create Quote Line Approval</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </connector>
        <inputAssignments>
            <field>Approval__c</field>
            <value>
                <elementReference>ApprovalRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>ryghj.SBQQ__Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Line__c</field>
            <value>
                <elementReference>ryghj.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Quote_Line_Approval__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote_Lines_with_Discount_Exceeding_Limits</name>
        <label>Get Quote Lines with Discount Exceeding Limits</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Quote_Lines</targetReference>
        </connector>
        <filterLogic>2 AND (3 OR 4 OR 1)</filterLogic>
        <filters>
            <field>Tech_Discount_exceeding_limits__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tech_Discount_exceed_limits_GrpLvl2__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tech_Discount_exceed_limits_GrpLvl3__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Quote_Lines_with_Discount_Exceeding_Limits</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ApprovalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>sbaa__Approval__c</objectType>
    </variables>
    <variables>
        <name>myLoopVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <name>ryghj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__QuoteLine__c</objectType>
    </variables>
</Flow>
