unpackaged/main/default/flows/Flow_SalesPurpose.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assigment</name>
        <label>Assigment</label>
        <locationX>390</locationX>
        <locationY>139</locationY>
        <assignmentItems>
            <assignToReference>sObjectcol</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>111</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectcol</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>121</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectcol</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>411</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectcol</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>613</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectcol</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>611</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectcol</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>612</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectcol</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>511</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectcol</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>999</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetPricingMethod</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Var_de_Get_Records</name>
        <label>Clear Var de Get Records</label>
        <locationX>2293</locationX>
        <locationY>189</locationY>
        <assignmentItems>
            <assignToReference>Duplicates.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WarningMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Var_de_Get_Records_0</name>
        <label>Clear Var de Get Records</label>
        <locationX>2340</locationX>
        <locationY>677</locationY>
        <assignmentItems>
            <assignToReference>Duplicates.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WarningMessage_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SLPIdentifier</name>
        <label>Set SLPIdentifier</label>
        <locationX>1023</locationX>
        <locationY>325</locationY>
        <assignmentItems>
            <assignToReference>SLPIdentifier</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sales_Purposes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SLPIdentifier</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SLPIdentifier</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SLPIdentifier</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Service_Level</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceLevelAPIName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Level</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_SLPIdentifier_0</name>
        <label>Set SLPIdentifier</label>
        <locationX>968</locationX>
        <locationY>764</locationY>
        <assignmentItems>
            <assignToReference>SLPIdentifierBlock</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sales_Purposes_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SLPIdentifierBlock</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SLPIdentifierBlock</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PricebookBlock</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SLPIdentifierBlock</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Service_Level_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SLPIdentifierBlock</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LowerBound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SLPIdentifierBlock</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>UpperBound</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceLevelAPIName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Level_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_0</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>DiscountScheduleAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Discount_Schedule__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>DiscountScheduleLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Discount Schedule</stringValue>
        </value>
    </constants>
    <constants>
        <name>DiscountScheduleObjectAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Service_Level_Price__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>PriceBookAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Price_Book__c</stringValue>
        </value>
    </constants>
    <constants>
        <name>PriceBookLabel</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PriceBook</stringValue>
        </value>
    </constants>
    <constants>
        <name>PriceBookObjectAPIName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Service_Level_Price__c</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Duplicates_Decisions</name>
        <label>Duplicates Decisions</label>
        <locationX>2608</locationX>
        <locationY>194</locationY>
        <defaultConnector>
            <targetReference>create_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ADuplicateExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Duplicates.Id</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Var_de_Get_Records</targetReference>
            </connector>
            <label>ADuplicateExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicates_Decisions_0</name>
        <label>Duplicates Decisions</label>
        <locationX>2652</locationX>
        <locationY>801</locationY>
        <defaultConnector>
            <targetReference>create_record_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ADuplicateExists_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Duplicates.Id</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Var_de_Get_Records_0</targetReference>
            </connector>
            <label>ADuplicateExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>List_Vs_Block</name>
        <label>List Vs Block</label>
        <locationX>670</locationX>
        <locationY>319</locationY>
        <defaultConnector>
            <targetReference>Add_Service_Level_Price_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsList</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPricingMethod.SBQQ__PricingMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>List</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Service_Level_Price</targetReference>
            </connector>
            <label>IsList</label>
        </rules>
    </decisions>
    <decisions>
        <name>SalesPurposeSelected</name>
        <label>SalesPurposeSelected</label>
        <locationX>2060</locationX>
        <locationY>102</locationY>
        <defaultConnector>
            <targetReference>Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CurrentSalesPurposeSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Purposes</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>i_text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Duplicates</targetReference>
            </connector>
            <label>CurrentSalesPurposeSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>SalesPurposeSelected_0</name>
        <label>SalesPurposeSelected</label>
        <locationX>1867</locationX>
        <locationY>824</locationY>
        <defaultConnector>
            <targetReference>Loop_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CurrentSalesPurposeSelected_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Sales_Purposes_0</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>i_text</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_Duplicates_0</targetReference>
            </connector>
            <label>CurrentSalesPurposeSelected</label>
        </rules>
    </decisions>
    <description>TNG add  assignement 999</description>
    <dynamicChoiceSets>
        <name>SalesPurposeChoiceSet</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sales_Purposes__c</picklistField>
        <picklistObject>Service_Level_Price__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ServiceLevelPicklistChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Service_Level__c</picklistField>
        <picklistObject>Service_Level_Price__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Flow-SalesPurpose {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow-SalesPurpose</label>
    <loops>
        <name>Loop</name>
        <label>Loop</label>
        <locationX>1921</locationX>
        <locationY>295</locationY>
        <assignNextValueToReference>i_text</assignNextValueToReference>
        <collectionReference>sObjectcol</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SalesPurposeSelected</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_0</name>
        <label>Loop</label>
        <locationX>1734</locationX>
        <locationY>765</locationY>
        <assignNextValueToReference>i_text</assignNextValueToReference>
        <collectionReference>sObjectcol</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SalesPurposeSelected_0</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_record</name>
        <label>create record</label>
        <locationX>2175</locationX>
        <locationY>469</locationY>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_Schedule__c</field>
            <value>
                <elementReference>DiscounScheduleID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximum_Price__c</field>
            <value>
                <elementReference>Maximum_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Book__c</field>
            <value>
                <elementReference>PricebookID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123Y000000LDnZQAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegularPrice__c</field>
            <value>
                <elementReference>Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLP_Identifier_Key__c</field>
            <value>
                <elementReference>SLPIdentifier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Purpose__c</field>
            <value>
                <elementReference>i_text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Level__c</field>
            <value>
                <elementReference>Service_Level</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Level_Price__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_record_0</name>
        <label>create record</label>
        <locationX>2084</locationX>
        <locationY>1004</locationY>
        <connector>
            <targetReference>Loop_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>EUR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lower_Bound__c</field>
            <value>
                <elementReference>LowerBound</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximum_Price__c</field>
            <value>
                <elementReference>Maximum_Price</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Book__c</field>
            <value>
                <elementReference>PricebookBlock</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123Y000000LDnYQAW</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegularPrice__c</field>
            <value>
                <elementReference>Price_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SLP_Identifier_Key__c</field>
            <value>
                <elementReference>SLPIdentifierBlock</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Purpose__c</field>
            <value>
                <elementReference>i_text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Level__c</field>
            <value>
                <elementReference>Service_Level_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Upper_Bound__c</field>
            <value>
                <elementReference>UpperBound</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Level_Price__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Duplicates</name>
        <label>Find Duplicates</label>
        <locationX>2409</locationX>
        <locationY>103</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicates_Decisions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Price_Book__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PricebookID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Purpose__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>i_text</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Level</elementReference>
            </value>
        </filters>
        <object>Service_Level_Price__c</object>
        <outputReference>Duplicates</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Find_Duplicates_0</name>
        <label>Find Duplicates</label>
        <locationX>2155</locationX>
        <locationY>829</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Duplicates_Decisions_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lower_Bound__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LowerBound</elementReference>
            </value>
        </filters>
        <filters>
            <field>Price_Book__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PricebookID.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Purpose__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>i_text</elementReference>
            </value>
        </filters>
        <filters>
            <field>Service_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Level_0</elementReference>
            </value>
        </filters>
        <filters>
            <field>Upper_Bound__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UpperBound</elementReference>
            </value>
        </filters>
        <object>Service_Level_Price__c</object>
        <outputReference>Duplicates</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetPricingMethod</name>
        <label>GetPricingMethod</label>
        <locationX>528</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>List_Vs_Block</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__PricingMethod__c</queriedFields>
        <queriedFields>Service_Levels__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Service_Level_Price</name>
        <label>Add Service Level Price</label>
        <locationX>800</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_SLPIdentifier</targetReference>
        </connector>
        <fields>
            <name>Service_Level</name>
            <choiceReferences>ServiceLevelPicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Discount_Schedule</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <elementReference>DiscountScheduleAPIName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>DiscountScheduleLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>DiscountScheduleObjectAPIName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>DiscounScheduleID.Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>PriceBook</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <elementReference>PriceBookAPIName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>PriceBookLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>PriceBookObjectAPIName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PricebookID.Id</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Price</name>
            <dataType>Currency</dataType>
            <fieldText>Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Maximum_Price</name>
            <dataType>Currency</dataType>
            <fieldText>Maximum Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Sales_Purposes</name>
            <choiceReferences>SalesPurposeChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sales Purposes</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>&lt;p&gt;Gg!&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Service_Level_Price_0</name>
        <label>Add Service Level Price</label>
        <locationX>676</locationX>
        <locationY>764</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_SLPIdentifier_0</targetReference>
        </connector>
        <fields>
            <name>Service_Level_0</name>
            <choiceReferences>ServiceLevelPicklistChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Service Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>PriceBook_0</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <elementReference>PriceBookAPIName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>PriceBookLabel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <elementReference>PriceBookObjectAPIName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PricebookBlock</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>LowerBound</name>
            <dataType>Number</dataType>
            <fieldText>LowerBound</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>UpperBound</name>
            <dataType>Number</dataType>
            <fieldText>UpperBound</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Price_0</name>
            <dataType>Currency</dataType>
            <fieldText>Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Maximum_Price_0</name>
            <dataType>Currency</dataType>
            <fieldText>Maximum Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Sales_Purposes_0</name>
            <choiceReferences>SalesPurposeChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sales Purposes</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>&lt;p&gt;Gg!&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WarningMessage</name>
        <label>WarningMessage</label>
        <locationX>2178</locationX>
        <locationY>189</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop</targetReference>
        </connector>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;It already exists a Service Level Price with the information you have entered.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please click on Previous to verify information.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>WarningMessage_0</name>
        <label>WarningMessage</label>
        <locationX>2018</locationX>
        <locationY>679</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_0</targetReference>
        </connector>
        <fields>
            <name>Warning_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;It already exists a Service Level Price with the information you have entered.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Please click on Previous to verify information.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>142</locationY>
        <connector>
            <targetReference>Assigment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DiscounScheduleID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__DiscountSchedule__c</objectType>
    </variables>
    <variables>
        <name>Duplicates</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Level_Price__c</objectType>
    </variables>
    <variables>
        <name>i_text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PricebookBlock</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PricebookID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Pricebook2</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>SalesPurposesChoice</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceLevelAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SLPIdentifier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SLPIdentifierBlock</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sObjectcol</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
