unpackaged/main/default/flows/Flow_CloneUpdateDiscountTiers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>624</locationX>
        <locationY>831</locationY>
        <assignmentItems>
            <assignToReference>TiersTocreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentTierToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_currencytypes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Update_Discount_Tier_Collection</name>
        <label>Add to Update Discount Tier Collection</label>
        <locationX>662</locationX>
        <locationY>190</locationY>
        <assignmentItems>
            <assignToReference>UpdateDiscountTiersCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Sibling</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Sibling</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_values</name>
        <label>Assign New values</label>
        <locationX>509</locationX>
        <locationY>166</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Sibling.SBQQ__Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Sibling.SBQQ__UpperBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__UpperBound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Sibling.SBQQ__LowerBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__LowerBound__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update_Discount_Tier_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_One_Record</name>
        <label>Assign to One Record</label>
        <locationX>458</locationX>
        <locationY>774</locationY>
        <assignmentItems>
            <assignToReference>CurrentTierToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentTierToCreate.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_currencytypes.IsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentTierToCreate.SBQQ__Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentTierToCreate.SBQQ__LowerBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__LowerBound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentTierToCreate.SBQQ__UpperBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__UpperBound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentTierToCreate.SBQQ__Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Schedule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentTierToCreate.SBQQ__Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Sibling_exists</name>
        <label>Sibling exists?</label>
        <locationX>275</locationX>
        <locationY>430</locationY>
        <defaultConnector>
            <targetReference>Get_Active_CurrencyTypes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sibling</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Sibling</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <interviewLabel>Flow-CloneUpdateDiscountTiers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow-CloneUpdateDiscountTiers</label>
    <loops>
        <name>Loop_through_currencytypes</name>
        <label>Loop through currencytypes</label>
        <locationX>540</locationX>
        <locationY>606</locationY>
        <collectionReference>Get_Active_CurrencyTypes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_One_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Sibling</name>
        <label>Loop through Sibling</label>
        <locationX>538</locationX>
        <locationY>371</locationY>
        <collectionReference>Get_Sibling</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Sibling</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Collection</name>
        <label>Create Collection</label>
        <locationX>788</locationX>
        <locationY>621</locationY>
        <inputReference>TiersTocreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_CurrencyTypes</name>
        <label>Get Active CurrencyTypes</label>
        <locationX>321</locationX>
        <locationY>628</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_currencytypes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsoCode</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CurrencyType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sibling</name>
        <label>Get Sibling</label>
        <locationX>108</locationX>
        <locationY>381</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sibling_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Schedule__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__DiscountTier__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sibling</name>
        <label>Update Sibling</label>
        <locationX>784</locationX>
        <locationY>371</locationY>
        <inputReference>UpdateDiscountTiersCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Sibling</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FlowDiscountScheduleType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Range</stringValue>
            </value>
        </filters>
        <filters>
            <field>FlowDiscountUnit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Percent</stringValue>
            </value>
        </filters>
        <object>SBQQ__DiscountTier__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentTierToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__DiscountTier__c</objectType>
    </variables>
    <variables>
        <name>TiersTocreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__DiscountTier__c</objectType>
    </variables>
    <variables>
        <name>UpdateDiscountTiersCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__DiscountTier__c</objectType>
    </variables>
</Flow>
