unpackaged/main/default/flows/FlowScreen_OneNoteS_GenerateCreditNote_Cancellation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assignment_AddToList</name>
        <label>Assignment_AddToList</label>
        <locationX>1194</locationX>
        <locationY>2534</locationY>
        <assignmentItems>
            <assignToReference>CreditNoteLinesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentCreditNoteLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_EachInvoiceLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_AddToList_Auto</name>
        <label>Assignment_AddToList_Auto</label>
        <locationX>1414</locationX>
        <locationY>3518</locationY>
        <assignmentItems>
            <assignToReference>CreditNoteLinesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentCreditNoteLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_InvoiceLines_Auto_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_BuildInvoiceCollection</name>
        <label>Assignment_BuildInvoiceCollection</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Collection_InvoiceIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_InvoiceLines_Auto.Invoice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_InvoiceLines_Auto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Bypass_False</name>
        <label>Assignment_Bypass_False</label>
        <locationX>974</locationX>
        <locationY>4166</locationY>
        <assignmentItems>
            <assignToReference>Var_bypass</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CreditNotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Bypass_True</name>
        <label>Assignment_Bypass_True</label>
        <locationX>1326</locationX>
        <locationY>3734</locationY>
        <assignmentItems>
            <assignToReference>Var_bypass</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_CollectionRemoval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_CancellationFields</name>
        <label>Assignment_CancellationFields</label>
        <locationX>1260</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>CurrentCancellation.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCancellation.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Agency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCancellation.Subsidiary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Subsidiary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCancellation.CustomerRequest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cancellation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_CancellationLinesAddToList</name>
        <label>Assignment_CancellationLinesAddToList</label>
        <locationX>1348</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>CancellationLinesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentCancellationLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_EachSubscriptionLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_CollectionRemoval</name>
        <label>Assignment_CollectionRemoval</label>
        <locationX>1326</locationX>
        <locationY>3854</locationY>
        <assignmentItems>
            <assignToReference>Collection_InvoiceIds</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_InvoiceIdsCollection_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_InvoiceIdsCollection_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_CreditNoteAuto</name>
        <label>Assignment_CreditNoteAuto</label>
        <locationX>754</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>CurrentCreditNote.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNote.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Agency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNote.CustomerRequest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNote.Subsidiary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Subsidiary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNote.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNoteLine.tech_SendToZuora__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNote.tech_SendToZuora__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateCustomerRequest</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Push2SObjectCollection_CreditNoteAuto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_CreditNoteAuto_DoNotSendAuto</name>
        <label>Assignment_CreditNoteAuto_DoNotSendAuto</label>
        <locationX>886</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>CurrentCreditNote.tech_SendCreditNoteToCustomer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_CreditNoteAuto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_CreditNoteAuto_SendAuto</name>
        <label>Assignment_CreditNoteAuto_SendAuto</label>
        <locationX>622</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>CurrentCreditNote.tech_SendCreditNoteToCustomer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_CreditNoteAuto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_CreditNoteLine</name>
        <label>Assignment_CreditNoteLine</label>
        <locationX>1194</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>CurrentCreditNoteLine.AgencyCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_EachInvoiceLine.AgencyCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNoteLine.ContractNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_EachInvoiceLine.ContractNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNoteLine.CreditNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentCreditNote.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNoteLine.CreditNoteAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_EachInvoiceLine.CreditNoteAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNoteLine.Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_EachInvoiceLine.Origin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNoteLine.ThirdPartyDelivered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_EachInvoiceLine.ThirdPartyDelivered__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNoteLine.BusinessUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_EachInvoiceLine.BusinessUnit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNoteLine.InvoiceLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_EachInvoiceLine.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_AddToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_CreditNoteLine_Auto</name>
        <label>Assignment_CreditNoteLine_Auto</label>
        <locationX>1414</locationX>
        <locationY>3398</locationY>
        <assignmentItems>
            <assignToReference>CurrentCreditNoteLine.AgencyCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_InvoiceLines_Auto_2.AgencyCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNoteLine.ContractNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_InvoiceLines_Auto_2.ContractNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNoteLine.CreditNote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_CreditNotes.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNoteLine.CreditNoteAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_InvoiceLines_Auto_2.CreditNoteAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNoteLine.Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_InvoiceLines_Auto_2.Origin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNoteLine.ThirdPartyDelivered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_InvoiceLines_Auto_2.ThirdPartyDelivered__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNoteLine.BusinessUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_InvoiceLines_Auto_2.BusinessUnit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNoteLine.InvoiceLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_InvoiceLines_Auto_2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_AddToList_Auto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_CreditNoteManual</name>
        <label>Assignment_CreditNoteManual</label>
        <locationX>1106</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>CurrentCreditNote.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNote.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Agency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNote.CustomerRequest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNote.Subsidiary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Subsidiary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNote.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNote.ThirdPartyNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThirdPartyNumber_CreditNote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCreditNote.CreditNoteSend__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreditNoteSent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateCustomerRequest</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_CreditNote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_CreditNoteManual_AdditionalData</name>
        <label>Assignment_CreditNoteManual_AdditionalData</label>
        <locationX>424</locationX>
        <locationY>4754</locationY>
        <assignmentItems>
            <assignToReference>ThirdPartyNumber_CreditNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_ValidateCreation_ThirdPartyNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreditNoteSent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_ValidateCreation_CreditNoteSent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assignment_CreditNoteManual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_CreditNoteManual_AdditionalData_Cancellation</name>
        <label>Assignment_CreditNoteManual_AdditionalData_Cancellation</label>
        <locationX>1106</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>ThirdPartyNumber_CreditNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_ValidateCreation_ThirdPartyNumber_Cancellation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CreditNoteSent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Screen_ValidateCreation_CreditNoteSent_Cancellation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_CreditNoteManual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_InvoiceCounter</name>
        <label>Assignment_InvoiceCounter</label>
        <locationX>50</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>InvoiceCounter</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Collection_InvoiceIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_IsMultipleInvoice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Push2SObjectCollection_CreditNoteAuto</name>
        <label>Assignment_Push2SObjectCollection_CreditNoteAuto</label>
        <locationX>754</locationX>
        <locationY>2342</locationY>
        <assignmentItems>
            <assignToReference>CreditNotesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentCreditNote</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_InvoiceIdsCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_SuccessVariable_Cancellation</name>
        <label>Assignment_SuccessVariable_Cancellation</label>
        <locationX>1260</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>IsCancellationCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateCustomerRequest</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_SubscriptionLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_SuccessVariable_CreditNote</name>
        <label>Assignment_SuccessVariable_CreditNote</label>
        <locationX>1106</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>IsCreditNoteCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_InvoiceLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_SuccessVariable_CreditNote_Auto</name>
        <label>Assignment_SuccessVariable_CreditNote_Auto</label>
        <locationX>534</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>IsCreditNoteCreated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CreditNotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentCancellationLine</name>
        <label>AssignmentCancellationLine</label>
        <locationX>1348</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>CurrentCancellationLine.Cancellation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentCancellation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCancellationLine.BusinessUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_EachSubscriptionLines.BusinessUnit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCancellationLine.CancellationDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_EachSubscriptionLines.CancellationDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCancellationLine.ContractEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_EachSubscriptionLines.ContractEndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCancellationLine.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_EachSubscriptionLines.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCancellationLine.LoadType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_EachSubscriptionLines.LoadType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCancellationLine.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_EachSubscriptionLines.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCancellationLine.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_EachSubscriptionLines.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCancellationLine.NextDateRenewal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_EachSubscriptionLines.NextDateRenewal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCancellationLine.CreatedById</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_EachSubscriptionLines.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCancellationLine.UnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_EachSubscriptionLines.UnitPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentCancellationLine.QuantityCancelled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_EachSubscriptionLines.QuantityCancelled__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_CancellationLinesAddToList</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Screen_ValidateCreation_Checkbox_No</name>
        <choiceText>No, I want to create the credit note manually</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>no</stringValue>
        </value>
    </choices>
    <choices>
        <name>Screen_ValidateCreation_Checkbox_Yes</name>
        <choiceText>Yes, I want to create the credit note automatically</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Screen_ValidateCreation_CheckboxGroup2_No</name>
        <choiceText>No, I will send the Credit Note manually</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>no</stringValue>
        </value>
    </choices>
    <choices>
        <name>Screen_ValidateCreation_CheckboxGroup2_Yes</name>
        <choiceText>Yes, I want to send the Credit Note to the Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>yes</stringValue>
        </value>
    </choices>
    <collectionProcessors>
        <name>Filter_InvoiceLines</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter_InvoiceLines</label>
        <locationX>1326</locationX>
        <locationY>3158</locationY>
        <assignNextValueToReference>currentItem_Filter_InvoiceLines_0</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_InvoiceLines_Auto</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_InvoiceLines_0.Invoice__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_InvoiceIdsCollection_2</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_InvoiceLines_Auto_2</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Decision_CustomerRequest_Type</name>
        <label>Decision_CustomerRequest_Type</label>
        <locationX>1260</locationX>
        <locationY>1454</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Decision_UpdateRelatedCustomerRequest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_CustomerRequestType_CancellationWithCreditNote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation with Credit Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_ValidateCreation_Cancellation</targetReference>
            </connector>
            <label>Decision_CustomerRequestType_CancellationWithCreditNote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_CustomerRequest_Type_0</name>
        <label>Decision_CustomerRequest_Type</label>
        <locationX>1106</locationX>
        <locationY>3206</locationY>
        <defaultConnector>
            <targetReference>Screen_Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_CustomerRequestType_CancellationWithCreditNote_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation with Credit Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RelatedCancellation</targetReference>
            </connector>
            <label>Decision_CustomerRequestType_CancellationWithCreditNote</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_CustomerRequestType</name>
        <label>Decision_CustomerRequestType</label>
        <locationX>1051</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_CustomerRequestType_CreditNote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_EligibleToCreateCreditNoteAuto</targetReference>
            </connector>
            <label>Decision_CustomerRequestType_CreditNote</label>
        </rules>
        <rules>
            <name>Decision_CustomerRequestType_Cancellation</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation with Credit Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_CancellationFields</targetReference>
            </connector>
            <label>Decision_CustomerRequestType_Cancellation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_EligibleToCreateCreditNoteAuto</name>
        <label>Decision_EligibleToCreateCreditNoteAuto</label>
        <locationX>424</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Decision_ScreenValidationChoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_EligibleToCreateCreditNoteAuto_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.tech_EligibleForAutomation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_ValidateCreation_Auto</targetReference>
            </connector>
            <label>Decision_EligibleToCreateCreditNoteAuto_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_IsBypassLoop</name>
        <label>Decision_IsBypassLoop</label>
        <locationX>1194</locationX>
        <locationY>3038</locationY>
        <defaultConnector>
            <targetReference>Filter_InvoiceLines</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_IsBypassLoop_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Var_bypass</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_InvoiceIdsCollection_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_IsInvoiceIdInCollection</name>
        <label>Decision_IsInvoiceIdInCollection</label>
        <locationX>226</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Assignment_BuildInvoiceCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_IsInvoiceIdInCollection_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collection_InvoiceIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_InvoiceLines_Auto.Invoice__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_InvoiceLines_Auto</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_IsMultipleInvoice</name>
        <label>Decision_IsMultipleInvoice</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Loop_InvoiceIdsCollection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_IsMultipleInvoice_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvoiceCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_ValidateCreation_Manual</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_ScreenValidation_CheckboxGroup2</name>
        <label>Decision_ScreenValidation_CheckboxGroup2</label>
        <locationX>754</locationX>
        <locationY>1886</locationY>
        <defaultConnector>
            <targetReference>Assignment_CreditNoteAuto_DoNotSendAuto</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_ScreenValidation_CheckboxGroup2_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Screen_ValidateCreation_CheckboxGroup2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Screen_ValidateCreation_CheckboxGroup2_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_CreditNoteAuto_SendAuto</targetReference>
            </connector>
            <label>Decision_ScreenValidation_CheckboxGroup2_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_ScreenValidationChoice</name>
        <label>Decision_ScreenValidationChoice</label>
        <locationX>424</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Screen_ValidateCreation_Manual</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_ScreenValidationChoice_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Screen_ValidateCreation_CheckboxGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Screen_ValidateCreation_Checkbox_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_InvoiceLines_Auto</targetReference>
            </connector>
            <label>Decision_ScreenValidationChoice_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Status</name>
        <label>Decision_Status</label>
        <locationX>1496</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_Status_ValidateAdvInProgess</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validate Adv in progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_CustomerRequestType</targetReference>
            </connector>
            <label>Decision_Status_ValidateAdvInProgess</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_UpdateRelatedCustomerRequest</name>
        <label>Decision_UpdateRelatedCustomerRequest</label>
        <locationX>1106</locationX>
        <locationY>2870</locationY>
        <defaultConnector>
            <targetReference>Decision_CustomerRequest_Type_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_UpdateRelatedCustomerRequest_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdateCustomerRequest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CutomerRequest</targetReference>
            </connector>
            <label>Decision_UpdateRelatedCustomerRequest_Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Formula_CreatedCancellationLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260},FIND(&apos;/services&apos;,{!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <formulas>
        <name>Formula_CreatedCreditNoteLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260},FIND(&apos;/services&apos;,{!$Api.Partner_Server_URL_260}))&amp;{!CurrentCreditNote.Id}</expression>
    </formulas>
    <formulas>
        <name>Screen_ValidateCreation_CheckboxGroup2_DefaultValue</name>
        <dataType>String</dataType>
        <expression>IF
(
    {!Screen_ValidateCreation_CheckboxGroup} = &quot;yes&quot;,
    {!Screen_ValidateCreation_CheckboxGroup2_Yes},
    null
)</expression>
    </formulas>
    <interviewLabel>FlowScreen_OneNoteS_CustomerRequest_GenerateCreditNoteOrCancellation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowScreen_OneNoteS_GenerateCreditNote_Cancellation</label>
    <loops>
        <name>Loop_CreditNotes</name>
        <label>Loop_CreditNotes</label>
        <locationX>534</locationX>
        <locationY>2798</locationY>
        <collectionReference>CreditNotesToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_InvoiceIdsCollection_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_RelatedCreditNoteLines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_EachInvoiceLine</name>
        <label>Loop_EachInvoiceLine</label>
        <locationX>1106</locationX>
        <locationY>2294</locationY>
        <collectionReference>Get_InvoiceLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_CreditNoteLine</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_RelatedCreditNoteLines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_EachSubscriptionLines</name>
        <label>Loop_EachSubscriptionLines</label>
        <locationX>1260</locationX>
        <locationY>878</locationY>
        <collectionReference>Get_SubscriptionLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignmentCancellationLine</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_RelatedCancellationLines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_InvoiceIdsCollection</name>
        <label>Loop_InvoiceIdsCollection</label>
        <locationX>534</locationX>
        <locationY>1766</locationY>
        <collectionReference>Collection_InvoiceIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_ScreenValidation_CheckboxGroup2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_CreditNotes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_InvoiceIdsCollection_2</name>
        <label>Loop_InvoiceIdsCollection_2</label>
        <locationX>974</locationX>
        <locationY>2918</locationY>
        <collectionReference>Collection_InvoiceIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_IsBypassLoop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignment_Bypass_False</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_InvoiceLines_Auto</name>
        <label>Loop_InvoiceLines_Auto</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_InvoiceLines_Auto</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_IsInvoiceIdInCollection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignment_InvoiceCounter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_InvoiceLines_Auto_2</name>
        <label>Loop_InvoiceLines_Auto_2</label>
        <locationX>1326</locationX>
        <locationY>3278</locationY>
        <collectionReference>Filter_InvoiceLines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_CreditNoteLine_Auto</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignment_Bypass_True</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cancellation</name>
        <label>Create_Cancellation</label>
        <locationX>1260</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Assignment_SuccessVariable_Cancellation</targetReference>
        </connector>
        <inputReference>CurrentCancellation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_CreditNote</name>
        <label>Create_CreditNote</label>
        <locationX>1106</locationX>
        <locationY>1934</locationY>
        <connector>
            <targetReference>Assignment_SuccessVariable_CreditNote</targetReference>
        </connector>
        <inputReference>CurrentCreditNote</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_CreditNotes</name>
        <label>Create_CreditNotes</label>
        <locationX>534</locationX>
        <locationY>2558</locationY>
        <connector>
            <targetReference>Assignment_SuccessVariable_CreditNote_Auto</targetReference>
        </connector>
        <inputReference>CreditNotesToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_RelatedCancellationLines</name>
        <label>Create_RelatedCancellationLines</label>
        <locationX>1260</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Decision_CustomerRequest_Type</targetReference>
        </connector>
        <inputReference>CancellationLinesToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_RelatedCreditNoteLines</name>
        <label>Create_RelatedCreditNoteLines</label>
        <locationX>1106</locationX>
        <locationY>2750</locationY>
        <connector>
            <targetReference>Decision_UpdateRelatedCustomerRequest</targetReference>
        </connector>
        <inputReference>CreditNoteLinesToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_InvoiceLines</name>
        <label>Get_InvoiceLines</label>
        <locationX>1106</locationX>
        <locationY>2174</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_EachInvoiceLine</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomerRequest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InvoiceLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_InvoiceLines_Auto</name>
        <label>Get_InvoiceLines_Auto</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_InvoiceLines_Auto</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomerRequest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InvoiceLine__c</object>
        <sortField>Invoice__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SubscriptionLines</name>
        <label>Get_SubscriptionLines</label>
        <locationX>1260</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_EachSubscriptionLines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomerRequest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SubscriptionLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_CutomerRequest</name>
        <label>Update_CutomerRequest</label>
        <locationX>974</locationX>
        <locationY>2990</locationY>
        <connector>
            <targetReference>Decision_CustomerRequest_Type_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FinalizedProcessDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Finished treatment</stringValue>
            </value>
        </inputAssignments>
        <object>CustomerRequest__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_RelatedCancellation</name>
        <label>Update_RelatedCancellation</label>
        <locationX>974</locationX>
        <locationY>3326</locationY>
        <connector>
            <targetReference>Screen_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentCancellation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CreditNote__c</field>
            <value>
                <elementReference>CurrentCreditNote.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Cancellation__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Screen_Success</name>
        <label>Screen_Success</label>
        <locationX>1106</locationX>
        <locationY>3542</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen_Success_CreditNote</name>
            <fieldText>&lt;p&gt;To access the created Credit Note, click &lt;a href=&quot;{!Formula_CreatedCancellationLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsCreditNoteCreated</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_Success_Cancellation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;To access the created Cancellation, click &lt;/span&gt;&lt;a href=&quot;{!Formula_CreatedCancellationLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;here&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsCancellationCreated</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_ValidateCreation_Auto</name>
        <label>Screen_ValidateCreation_Auto</label>
        <locationX>292</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_ScreenValidationChoice</targetReference>
        </connector>
        <fields>
            <name>Screen_ValidateCreation_Auto_DisplayText</name>
            <fieldText>&lt;p&gt;This Customer Request is eligible to the automatic process.&lt;/p&gt;&lt;p&gt;Do you want to create Credit Note automatically ?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_ValidateCreation_CheckboxGroup</name>
            <choiceReferences>Screen_ValidateCreation_Checkbox_Yes</choiceReferences>
            <choiceReferences>Screen_ValidateCreation_Checkbox_No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Screen_ValidateCreation_Checkbox_Yes</defaultSelectedChoiceReference>
            <fieldText>Choose an option</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen_ValidateCreation_CheckboxGroup2</name>
            <choiceReferences>Screen_ValidateCreation_CheckboxGroup2_Yes</choiceReferences>
            <choiceReferences>Screen_ValidateCreation_CheckboxGroup2_No</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>yes</stringValue>
            </defaultValue>
            <fieldText>Send the Credit Note to the Customer automatically ?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Screen_ValidateCreation_CheckboxGroup</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Screen_ValidateCreation_Checkbox_Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_ValidateCreation_Cancellation</name>
        <label>Screen_ValidateCreation_Cancellation</label>
        <locationX>1106</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_CreditNoteManual_AdditionalData_Cancellation</targetReference>
        </connector>
        <fields>
            <name>Screen_ValidateCreation_Manual_DisplayText_Cancellation</name>
            <fieldText>&lt;p&gt;First create the credit note in the designated system and report here its third party number.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_ValidateCreation_ThirdPartyNumber_Cancellation</name>
            <dataType>String</dataType>
            <fieldText>Third Party Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen_ValidateCreation_CreditNoteSent_Cancellation</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Credit Note Sent?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_ValidateCreation_Manual</name>
        <label>Screen_ValidateCreation_Manual</label>
        <locationX>424</locationX>
        <locationY>4634</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_CreditNoteManual_AdditionalData</targetReference>
        </connector>
        <fields>
            <name>Screen_ValidateCreation_Manual_DisplayText</name>
            <fieldText>&lt;p&gt;This Customer Request is not eligible to the automatic process.&lt;/p&gt;&lt;p&gt;First create the credit note in the designated system and report here its third party number.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.tech_EligibleForAutomation__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_ValidateCreation_Manual_DisplayText_Bis</name>
            <fieldText>&lt;p&gt;You chose to create the credit note manually. &lt;/p&gt;&lt;p&gt;First create the credit note in the designated system and report here its third party number.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.tech_EligibleForAutomation__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>InvoiceCounter</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_ValidateCreation_Auto_MultiInvoice</name>
            <fieldText>&lt;p&gt;This Customer Request could not be processed automatically because it is related to more than one invoice..&lt;/p&gt;&lt;p&gt;First create the credit note in the designated system and report here its third party number.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InvoiceCounter</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_ValidateCreation_ThirdPartyNumber</name>
            <dataType>String</dataType>
            <fieldText>Third Party Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Screen_ValidateCreation_CreditNoteSent</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Credit Note Sent?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1370</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CancellationLinesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CancellationLine__c</objectType>
    </variables>
    <variables>
        <name>Collection_InvoiceIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditNoteLinesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CreditNoteLine__c</objectType>
    </variables>
    <variables>
        <name>CreditNoteSent</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CreditNotesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CreditNote__c</objectType>
    </variables>
    <variables>
        <name>CurrentCancellation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cancellation__c</objectType>
    </variables>
    <variables>
        <name>CurrentCancellationLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CancellationLine__c</objectType>
    </variables>
    <variables>
        <name>CurrentCreditNote</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CreditNote__c</objectType>
    </variables>
    <variables>
        <name>CurrentCreditNoteLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CreditNoteLine__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_InvoiceLines</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceLine__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_InvoiceLines_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceLine__c</objectType>
    </variables>
    <variables>
        <name>InvoiceCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IsCancellationCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsCreditNoteCreated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomerRequest__c</objectType>
    </variables>
    <variables>
        <name>ThirdPartyNumber_CreditNote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateCustomerRequest</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Var_bypass</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
