unpackaged/main/default/flows/FlowTrigger_OneNoteS_BeforeSave_CreateUpdate_BusinessUnit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>BusinessUnitName_Edit</name>
        <label>BusinessUnitName_Edit</label>
        <locationX>176</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.API_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.BU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PicklistValueInfo.Label</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>FlowTrigger_OneNoteS_BeforeSave_CreateUpdate_BusinessUnit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowTrigger_OneNoteS_BeforeSave_CreateUpdate_BusinessUnit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_EntityDefinition</name>
        <label>Get_EntityDefinition</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_FieldDefinition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Business_Unit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EntityDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FieldDefinition</name>
        <label>Get_FieldDefinition</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PicklistValueInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QualifiedApiName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BU__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>EntityDefinitionId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_EntityDefinition.DurableId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FieldDefinition</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PicklistValueInfo</name>
        <label>Get_PicklistValueInfo</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BusinessUnitName_Edit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_FieldDefinition.DurableId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BU__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PicklistValueInfo</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_EntityDefinition</targetReference>
        </connector>
        <object>Business_Unit__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
