unpackaged/main/default/flows/Flow_AfterClone_RealtedItemsCreation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Current_Feature_to_the_Features_Collection</name>
        <label>Add Current Feature to the Features Collection</label>
        <locationX>929</locationX>
        <locationY>1917</locationY>
        <assignmentItems>
            <assignToReference>FeaturesCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentFeature</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Features</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Current_PBE_to_the_PBE_Collection</name>
        <label>Add Current PBE to the PBE Collection</label>
        <locationX>866</locationX>
        <locationY>1105</locationY>
        <assignmentItems>
            <assignToReference>PBECollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentPBE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_nonstandard_PBE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Current_PBE_to_the_PBE_Collection_0</name>
        <label>Add Current PBE to the PBE Collection</label>
        <locationX>866</locationX>
        <locationY>779</locationY>
        <assignmentItems>
            <assignToReference>PBECollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentPBE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_standard_PBE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Current_PO_to_the_PO_Collection</name>
        <label>Add Current PO to the PO Collection</label>
        <locationX>886</locationX>
        <locationY>2359</locationY>
        <assignmentItems>
            <assignToReference>POCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentPO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_PO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Current_SLP_to_the_SLP_Collection</name>
        <label>Add Current SLP to the SLP Collection</label>
        <locationX>883</locationX>
        <locationY>1515</locationY>
        <assignmentItems>
            <assignToReference>SLPCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentSLP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_SLP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_feature_values</name>
        <label>Assign Current feature values</label>
        <locationX>929</locationX>
        <locationY>1734</locationY>
        <assignmentItems>
            <assignToReference>CurrentFeature.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Features.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentFeature.SBQQ__Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Features.SBQQ__Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentFeature.SBQQ__ConfigurationFieldSet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Features.SBQQ__ConfigurationFieldSet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentFeature.SBQQ__ConfiguredSKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentFeature.SBQQ__DiscountSchedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Features.SBQQ__DiscountSchedule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentFeature.SBQQ__DynamicProductFilterFieldSet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Features.SBQQ__DynamicProductFilterFieldSet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentFeature.SBQQ__DynamicProductLookupFieldSet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Features.SBQQ__DynamicProductLookupFieldSet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentFeature.SBQQ__MaxOptionCount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Features.SBQQ__MaxOptionCount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentFeature.SBQQ__MinOptionCount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Features.SBQQ__MinOptionCount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentFeature.SBQQ__Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Features.SBQQ__Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentFeature.SBQQ__OptionSelectionMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Features.SBQQ__OptionSelectionMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentFeature.Original_Feature_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Features.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_Feature_to_the_Features_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_PBE_values</name>
        <label>Assign Current PBE values</label>
        <locationX>869</locationX>
        <locationY>927</locationY>
        <assignmentItems>
            <assignToReference>CurrentPBE.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_nonstandard_PBE.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPBE.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_nonstandard_PBE.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPBE.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_nonstandard_PBE.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPBE.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_nonstandard_PBE.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPBE.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPBE.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_nonstandard_PBE.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPBE.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_nonstandard_PBE.UseStandardPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_PBE_to_the_PBE_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_PBE_values_0</name>
        <label>Assign Current PBE values</label>
        <locationX>869</locationX>
        <locationY>601</locationY>
        <assignmentItems>
            <assignToReference>CurrentPBE.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_standard_PBE.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPBE.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_standard_PBE.IsActive</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPBE.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_standard_PBE.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPBE.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_standard_PBE.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPBE.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPBE.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_standard_PBE.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPBE.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_standard_PBE.UseStandardPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_PBE_to_the_PBE_Collection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_PO_Values</name>
        <label>Assign Current PO Values</label>
        <locationX>810</locationX>
        <locationY>2192</locationY>
        <assignmentItems>
            <assignToReference>CurrentPO.Catalog__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.Catalog__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.NonDiscountableInPackage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.NonDiscountableInPackage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.OPCA_Eligible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.OPCA_Eligible__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.Price_Smoothing_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.Price_Smoothing_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__AppliedImmediately__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__AppliedImmediately__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__AppliedImmediatelyContext__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__AppliedImmediatelyContext__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__Bundled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__Bundled__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__ComponentCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__ComponentCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__ComponentCodePosition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__ComponentCodePosition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__ComponentDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__ComponentDescription__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__ComponentDescriptionPosition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__ComponentDescriptionPosition__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__ConfiguredSKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__DefaultPricingTable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__DefaultPricingTable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__DiscountAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__DiscountAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__DiscountedByPackage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__DiscountedByPackage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__DiscountSchedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__DiscountSchedule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__ExistingQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__ExistingQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__MaxQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__MaxQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__MinQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__MinQuantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__OptionalSKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__OptionalSKU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__PriceEditable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__PriceEditable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__ProductConfigurationType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__ProductConfigurationType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__ProductName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__ProductName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__ProductQuantityScale__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__ProductQuantityScale__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__ProductSubscriptionPricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__ProductSubscriptionPricing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__QuantityEditable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__QuantityEditable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__QuoteLineVisibility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__QuoteLineVisibility__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__RenewalProductOption__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__RenewalProductOption__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__Required__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__Selected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__Selected__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__UnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__UnitPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.Schedulable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.Schedulable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.Tech_HasOnSiteArticle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.Tech_HasOnSiteArticle__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__Feature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Appropriate_Feature.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentPO.SBQQ__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_PO_to_the_PO_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_SLP_values</name>
        <label>Assign Current SLP values</label>
        <locationX>883</locationX>
        <locationY>1345</locationY>
        <assignmentItems>
            <assignToReference>CurrentSLP.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_SLP.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSLP.Discount_Schedule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_SLP.Discount_Schedule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSLP.Default__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_SLP.Default__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSLP.Lower_Bound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_SLP.Lower_Bound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSLP.Max_UpperBound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_SLP.Max_UpperBound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSLP.Maximum_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_SLP.Maximum_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSLP.Percent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_SLP.Percent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSLP.Percent_of_Target_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_SLP.Percent_of_Target_Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSLP.Price_Book__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_SLP.Price_Book__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSLP.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSLP.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_SLP.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSLP.RegularPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_SLP.RegularPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSLP.Sales_Purpose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_SLP.Sales_Purpose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSLP.Percent_of_Total_Field__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_SLP.Percent_of_Total_Field__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSLP.Service_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_SLP.Service_Level__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentSLP.Upper_Bound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_SLP.Upper_Bound__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_SLP_to_the_SLP_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsBlockProduct</name>
        <label>IsBlockProduct</label>
        <locationX>50</locationX>
        <locationY>285</locationY>
        <defaultConnector>
            <targetReference>Get_nonstandard_PBE_to_clone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__PricingMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Block</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Block_Price</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>TNG : ajout du type pour les product option</description>
    <interviewLabel>Flow-AfterClone-RealtedItemsCreation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow-AfterClone-RealtedItemsCreation</label>
    <loops>
        <name>Loop_through_Features</name>
        <label>Loop through Features</label>
        <locationX>1252</locationX>
        <locationY>1770</locationY>
        <collectionReference>Get_Features_to_clone</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Current_feature_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Features</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_nonstandard_PBE</name>
        <label>Loop through non-standard PBE</label>
        <locationX>1253</locationX>
        <locationY>958</locationY>
        <collectionReference>Get_nonstandard_PBE_to_clone</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Current_PBE_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_PBEs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_PO</name>
        <label>Loop through PO</label>
        <locationX>1254</locationX>
        <locationY>2186</locationY>
        <collectionReference>Get_Product_Options_to_clone</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Appropriate_Feature</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_POs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_SLP</name>
        <label>Loop Through SLP</label>
        <locationX>1256</locationX>
        <locationY>1385</locationY>
        <collectionReference>Get_SLP_to_clone</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Current_SLP_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_SLPs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_standard_PBE</name>
        <label>Loop through standard PBE</label>
        <locationX>1253</locationX>
        <locationY>632</locationY>
        <collectionReference>Get_standard_PBE_to_clone_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Current_PBE_values_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_through_nonstandard_PBE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Block_Price</name>
        <label>Create Block Price</label>
        <locationX>61</locationX>
        <locationY>786</locationY>
        <connector>
            <targetReference>Get_nonstandard_PBE_to_clone</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Product__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__BlockPrice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Features</name>
        <label>Create Features</label>
        <locationX>1254</locationX>
        <locationY>2013</locationY>
        <connector>
            <targetReference>Loop_through_PO</targetReference>
        </connector>
        <inputReference>FeaturesCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_PBEs</name>
        <label>Create PBEs</label>
        <locationX>1256</locationX>
        <locationY>1178</locationY>
        <connector>
            <targetReference>Loop_Through_SLP</targetReference>
        </connector>
        <inputReference>PBECollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_POs</name>
        <label>Create POs</label>
        <locationX>1253</locationX>
        <locationY>2404</locationY>
        <inputReference>POCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SLPs</name>
        <label>Create SLPs</label>
        <locationX>1255</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Loop_through_Features</targetReference>
        </connector>
        <inputReference>SLPCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Appropriate_Feature</name>
        <label>Get Appropriate Feature</label>
        <locationX>977</locationX>
        <locationY>2122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Current_PO_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Original_Feature_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_PO.SBQQ__Feature__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__ProductFeature__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Features_to_clone</name>
        <label>Get Features to clone</label>
        <locationX>1049</locationX>
        <locationY>438</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Options_to_clone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cloned_from_Product_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__ProductFeature__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_nonstandard_PBE_to_clone</name>
        <label>Get non-standard PBE to clone</label>
        <locationX>664</locationX>
        <locationY>436</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_standard_PBE_to_clone_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cloned_from_Product_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Label.Standard_Pricebook_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Options_to_clone</name>
        <label>Get Product Options to clone</label>
        <locationX>1247</locationX>
        <locationY>435</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_standard_PBE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cloned_from_Product_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__ProductOption__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SLP_to_clone</name>
        <label>Get SLP to clone</label>
        <locationX>950</locationX>
        <locationY>450</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Features_to_clone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cloned_from_Product_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_Level_Price__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_standard_PBE_to_clone_0</name>
        <label>Get standard PBE to clone</label>
        <locationX>810</locationX>
        <locationY>437</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SLP_to_clone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cloned_from_Product_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Standard_Pricebook_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>599</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>IsBlockProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cloned_from_Product_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>After_PB</name>
            <label>After PB</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CurrentFeature</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductFeature__c</objectType>
    </variables>
    <variables>
        <name>CurrentPBE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>CurrentPO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
    <variables>
        <name>CurrentSLP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Level_Price__c</objectType>
    </variables>
    <variables>
        <name>FeaturesCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductFeature__c</objectType>
    </variables>
    <variables>
        <name>PBECollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>POCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
    <variables>
        <name>SLPCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Level_Price__c</objectType>
    </variables>
</Flow>
