unpackaged/main/default/flows/Flow_AttachedDocuments_in_Products.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Flow-AttachedDocuments in Products {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow-Terms-Conditions in Products</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetTerms_Conditions</name>
        <label>GetTerms&amp;Conditions</label>
        <locationX>179</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Terms_Conditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StructureLevel1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordStructureLevel1</elementReference>
            </value>
        </filters>
        <filters>
            <field>StructureLevel2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordStructureLevel2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Attached_Document__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Blank_Terms_and_Conditions</name>
        <label>Blank Terms and Conditions</label>
        <locationX>178</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>GetTerms_Conditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>General_Terms_And_Conditions__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Terms_Conditions</name>
        <label>Update Terms&amp;Conditions</label>
        <locationX>425</locationX>
        <locationY>457</locationY>
        <inputReference>GetTerms_Conditions</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>52</locationX>
        <locationY>28</locationY>
        <connector>
            <targetReference>Blank_Terms_and_Conditions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordProductLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordStructureLevel1</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordStructureLevel2</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
