unpackaged/main/default/flows/FlowTrigger_OneNoteS_AfterSave_Update_CustomerRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assignment_EvaluateElapsedTimeInApproval</name>
        <label>Assignment_EvaluateElapsedTimeInApproval</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.ElapsedTimeApproval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_ElapsedTimeInApprovalEvaluation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_IsChangedFinalizedProcessDate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_EvaluateElapsedTimeInFinalization</name>
        <label>Assignment_EvaluateElapsedTimeInFinalization</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.ElapsedTimeFinalization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_ElapsedTimeInFinalizationEvaluation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CurrentRecord</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_IsChangedFinalApprovalDate</name>
        <label>Decision_IsChangedFinalApprovalDate</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Decision_IsChangedFinalizedProcessDate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_IsChangedFinalApprovalDate_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.FinalApprovalDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinalApprovalDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElapsedTimeApproval__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_EvaluateElapsedTimeInApproval</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_IsChangedFinalizedProcessDate</name>
        <label>Decision_IsChangedFinalizedProcessDate</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Update_CurrentRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_IsChangedFinalizedProcessDate_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.FinalizedProcessDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.FinalizedProcessDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ElapsedTimeFinalization__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_EvaluateElapsedTimeInFinalization</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Used for:
- Set Elapsed Time in Approval and Elapsed Time in Finalization</description>
    <environments>Default</environments>
    <formulas>
        <name>Formula_ElapsedTimeInApprovalEvaluation</name>
        <dataType>Number</dataType>
        <expression>{!$Record.FinalApprovalDate__c}-{!$Record.SubmittedDate__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Formula_ElapsedTimeInFinalizationEvaluation</name>
        <dataType>Number</dataType>
        <expression>{!$Record.FinalizedProcessDate__c} - {!$Record.FinalApprovalDate__c}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>FlowTrigger_OneNoteS_AfterSave_Update_CustomerRequest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowTrigger_OneNoteS_AfterSave_Update_CustomerRequest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_CurrentRecord</name>
        <label>Update_CurrentRecord</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_IsChangedFinalApprovalDate</targetReference>
        </connector>
        <object>CustomerRequest__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
