unpackaged/main/default/flows/FlowScreen_OneNoteS_CloneCustomerRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assignment_Cancellation_SetVariables</name>
        <label>Assignment_Cancellation_SetVariables</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>IsCancellation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_CheckCancellationVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_CancellationWithCreditNote_SetVariables</name>
        <label>Assignment_CancellationWithCreditNote_SetVariables</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>IsCancellation</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsCreditNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_CheckCancellationVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_CloneCustomerRequestData</name>
        <label>Assignment_CloneCustomerRequestData</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>SObject_NewCustomerRequest.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObject_NewCustomerRequest.CreditNoteReason1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.CreditNoteReason1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObject_NewCustomerRequest.CreditNoteReason2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.CreditNoteReason2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObject_NewCustomerRequest.CreditNoteReason3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.CreditNoteReason3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObject_NewCustomerRequest.CancellationReason1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.CancellationReason1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObject_NewCustomerRequest.CancellationReason2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.CancellationReason2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObject_NewCustomerRequest.Origin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Origin__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObject_NewCustomerRequest.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Agency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObject_NewCustomerRequest.BusinessUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.BusinessUnit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObject_NewCustomerRequest.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObject_NewCustomerRequest.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObject_NewCustomerRequest.SnTicketNumber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.SnTicketNumber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObject_NewCustomerRequest.StructureLevel1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.StructureLevel1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObject_NewCustomerRequest.Subsidiary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Subsidiary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObject_NewCustomerRequest.Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Comment__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateNewCustomerRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_CreditNote_SetVariables</name>
        <label>Assignment_CreditNote_SetVariables</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>IsCreditNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_CheckCancellationVariable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_NewInvoice2Collection</name>
        <label>Assignment_NewInvoice2Collection</label>
        <locationX>248</locationX>
        <locationY>4214</locationY>
        <assignmentItems>
            <assignToReference>SObjectCollection_NewInvoices</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SObject_NewInvoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Invoices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_NewInvoiceEdition</name>
        <label>Assignment_NewInvoiceEdition</label>
        <locationX>248</locationX>
        <locationY>4094</locationY>
        <assignmentItems>
            <assignToReference>SObject_NewInvoice.tech_RelatedCustomerRequestId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SObject_NewCustomerRequest.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_NewInvoice2Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_NewInvoiceGeneration</name>
        <label>Assignment_NewInvoiceGeneration</label>
        <locationX>248</locationX>
        <locationY>3974</locationY>
        <assignmentItems>
            <assignToReference>SObject_NewInvoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Invoices</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_NewInvoiceEdition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_NewInvoiceLine2Collection</name>
        <label>Assignment_NewInvoiceLine2Collection</label>
        <locationX>336</locationX>
        <locationY>5366</locationY>
        <assignmentItems>
            <assignToReference>SObjectCollection_NewInvoiceLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SObject_NewInvoiceLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_InvoiceLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_NewInvoiceLineEdition</name>
        <label>Assignment_NewInvoiceLineEdition</label>
        <locationX>336</locationX>
        <locationY>5246</locationY>
        <assignmentItems>
            <assignToReference>SObject_NewInvoiceLine.CustomerRequest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SObject_NewCustomerRequest.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObject_NewInvoiceLine.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewInvoiceId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_NewInvoiceLine2Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_NewInvoiceLineGeneration</name>
        <label>Assignment_NewInvoiceLineGeneration</label>
        <locationX>336</locationX>
        <locationY>4670</locationY>
        <assignmentItems>
            <assignToReference>SObject_NewInvoiceLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_InvoiceLines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_NewInvoices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_NewISubscriptionLineGeneration</name>
        <label>Assignment_NewISubscriptionLineGeneration</label>
        <locationX>336</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>SObject_NewSubscriptionLine</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SubscriptionLines</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Filter_NewSubscriptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_NewSubscription2Collection</name>
        <label>Assignment_NewSubscription2Collection</label>
        <locationX>248</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>SObjectCollection_NewSubscriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SObject_NewSubscription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Subscriptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_NewSubscriptionEdition</name>
        <label>Assignment_NewSubscriptionEdition</label>
        <locationX>248</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>SObject_NewSubscription.tech_RelatedCustomerRequestId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SObject_NewCustomerRequest.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_NewSubscription2Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_NewSubscriptionGeneration</name>
        <label>Assignment_NewSubscriptionGeneration</label>
        <locationX>248</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>SObject_NewSubscription</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Subscriptions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_NewSubscriptionEdition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_NewSubscriptionLine2Collection</name>
        <label>Assignment_NewSubscriptionLine2Collection</label>
        <locationX>336</locationX>
        <locationY>2846</locationY>
        <assignmentItems>
            <assignToReference>SObjectCollection_NewSubscriptionLines</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SObject_NewSubscriptionLine</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SubscriptionLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_NewSubscriptionLineEdition</name>
        <label>Assignment_NewSubscriptionLineEdition</label>
        <locationX>336</locationX>
        <locationY>2726</locationY>
        <assignmentItems>
            <assignToReference>SObject_NewSubscriptionLine.CustomerRequest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SObject_NewCustomerRequest.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SObject_NewSubscriptionLine.Subscription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewSubscriptionId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_NewSubscriptionLine2Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_SetInvoiceId</name>
        <label>Assignment_SetInvoiceId</label>
        <locationX>424</locationX>
        <locationY>5030</locationY>
        <assignmentItems>
            <assignToReference>NewInvoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_CreatedInvoices.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CreatedInvoices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_SetSubscriptionId</name>
        <label>Assignment_SetSubscriptionId</label>
        <locationX>424</locationX>
        <locationY>2510</locationY>
        <assignmentItems>
            <assignToReference>NewSubscriptionId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_CreatedSubscriptions.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CreatedSubscriptions</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_NewInvoices</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter_NewInvoices</label>
        <locationX>336</locationX>
        <locationY>4790</locationY>
        <assignNextValueToReference>currentItem_Filter_NewInvoices</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>SObjectCollection_NewInvoices</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_NewInvoices.Name</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_InvoiceLines.Invoice__r.Name</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_CreatedInvoices</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_NewSubscriptions</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter_NewSubscriptions</label>
        <locationX>336</locationX>
        <locationY>2270</locationY>
        <assignNextValueToReference>currentItem_Filter_NewSubscriptions</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>SObjectCollection_NewSubscriptions</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_NewSubscriptions.Name</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>Loop_SubscriptionLines.Subscription__r.Name</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_CreatedSubscriptions</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Decision_CheckCancellationVariable</name>
        <label>Decision_CheckCancellationVariable</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>Decision_CheckCreditNoteVariable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_CheckCancellationVariable_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCancellation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetSubscriptionsRelatedWithCustomerRequest</targetReference>
            </connector>
            <label>Decision_CheckCancellationVariable_True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_CheckCreditNoteVariable</name>
        <label>Decision_CheckCreditNoteVariable</label>
        <locationX>446</locationX>
        <locationY>3374</locationY>
        <defaultConnector>
            <targetReference>Screen_ClonageSuccess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_CheckCreditNoteVariable_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsCreditNote</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetInvoicesRelatedWithCustomerRequest</targetReference>
            </connector>
            <label>Decision_CheckCreditNoteVariable_True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_IsInvoiceLines</name>
        <label>Decision_IsInvoiceLines?</label>
        <locationX>292</locationX>
        <locationY>3734</locationY>
        <defaultConnector>
            <targetReference>Screen_ClonageSuccess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_IsInvoiceLines_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetInvoiceLinesRelatedWithCustomerRequest</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Invoices</targetReference>
            </connector>
            <label>Decision_IsInvoiceLines_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_IsSubscriptionLines</name>
        <label>Decision_IsSubscriptionLines?</label>
        <locationX>292</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Decision_CheckCreditNoteVariable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_IsSubscriptionLines_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSubscriptionLinesRelatedWithCustomerRequest</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Subscriptions</targetReference>
            </connector>
            <label>Decision_IsSubscriptionLines_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_TypeOfCustomerRequest</name>
        <label>Decision_TypeOfCustomerRequest</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Decision_CheckCancellationVariable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_TypeOfCustomerRequest_CreditNote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_CreditNote_SetVariables</targetReference>
            </connector>
            <label>Decision_TypeOfCustomerRequest_CreditNote</label>
        </rules>
        <rules>
            <name>Decision_TypeOfCustomerRequest_Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Cancellation_SetVariables</targetReference>
            </connector>
            <label>Decision_TypeOfCustomerRequest_Cancellation</label>
        </rules>
        <rules>
            <name>Decision_TypeOfCustomerRequest_CancellationWithCreditNote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancellation with Credit Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_CancellationWithCreditNote_SetVariables</targetReference>
            </connector>
            <label>Decision_TypeOfCustomerRequest_CancellationWithCreditNote</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Formula_NewCustomerRequestLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260},FIND(&apos;/services&apos;,{!$Api.Partner_Server_URL_260}))&amp;{!SObject_NewCustomerRequest.Id}</expression>
    </formulas>
    <interviewLabel>FlowScreen_OneNoteS_CloneCustomerRequest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowScreen_OneNoteS_CloneCustomerRequest</label>
    <loops>
        <name>Loop_CreatedInvoices</name>
        <label>Loop_CreatedInvoices</label>
        <locationX>336</locationX>
        <locationY>4910</locationY>
        <collectionReference>SObjectCollection_NewInvoices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_SetInvoiceId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignment_NewInvoiceLineEdition</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_CreatedSubscriptions</name>
        <label>Loop_CreatedSubscriptions</label>
        <locationX>336</locationX>
        <locationY>2390</locationY>
        <collectionReference>SObjectCollection_NewSubscriptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_SetSubscriptionId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assignment_NewSubscriptionLineEdition</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_InvoiceLines</name>
        <label>Loop_InvoiceLines</label>
        <locationX>160</locationX>
        <locationY>4550</locationY>
        <collectionReference>GetInvoiceLinesRelatedWithCustomerRequest</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_NewInvoiceLineGeneration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_NewInvoiceLines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Invoices</name>
        <label>Loop_Invoices</label>
        <locationX>160</locationX>
        <locationY>3854</locationY>
        <collectionReference>GetInvoicesRelatedWithCustomerRequest</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_NewInvoiceGeneration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_NewInvoices</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_SubscriptionLines</name>
        <label>Loop_SubscriptionLines</label>
        <locationX>160</locationX>
        <locationY>2030</locationY>
        <collectionReference>GetSubscriptionLinesRelatedWithCustomerRequest</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_NewISubscriptionLineGeneration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_NewSubscriptionLines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Subscriptions</name>
        <label>Loop_Subscriptions</label>
        <locationX>160</locationX>
        <locationY>1334</locationY>
        <collectionReference>GetSubscriptionsRelatedWithCustomerRequest</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_NewSubscriptionGeneration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_NewSubscriptions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_NewInvoiceLines</name>
        <label>Create_NewInvoiceLines</label>
        <locationX>160</locationX>
        <locationY>5582</locationY>
        <connector>
            <targetReference>Screen_ClonageSuccess</targetReference>
        </connector>
        <inputReference>SObjectCollection_NewInvoiceLines</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_NewInvoices</name>
        <label>Create_NewInvoices</label>
        <locationX>160</locationX>
        <locationY>4430</locationY>
        <connector>
            <targetReference>Loop_InvoiceLines</targetReference>
        </connector>
        <inputReference>SObjectCollection_NewInvoices</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_NewSubscriptionLines</name>
        <label>Create_NewSubscriptionLines</label>
        <locationX>160</locationX>
        <locationY>3062</locationY>
        <connector>
            <targetReference>Decision_CheckCreditNoteVariable</targetReference>
        </connector>
        <inputReference>SObjectCollection_NewSubscriptionLines</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_NewSubscriptions</name>
        <label>Create_NewSubscriptions</label>
        <locationX>160</locationX>
        <locationY>1910</locationY>
        <connector>
            <targetReference>Loop_SubscriptionLines</targetReference>
        </connector>
        <inputReference>SObjectCollection_NewSubscriptions</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateNewCustomerRequest</name>
        <label>CreateNewCustomerRequest</label>
        <locationX>446</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Decision_TypeOfCustomerRequest</targetReference>
        </connector>
        <inputReference>SObject_NewCustomerRequest</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetInvoiceLinesRelatedWithCustomerRequest</name>
        <label>GetInvoiceLinesRelatedWithCustomerRequest</label>
        <locationX>292</locationX>
        <locationY>3614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_IsInvoiceLines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomerRequest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InvoiceLine__c</object>
        <sortField>Invoice__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInvoicesRelatedWithCustomerRequest</name>
        <label>GetInvoicesRelatedWithCustomerRequest</label>
        <locationX>292</locationX>
        <locationY>3494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetInvoiceLinesRelatedWithCustomerRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tech_RelatedCustomerRequestId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSubscriptionLinesRelatedWithCustomerRequest</name>
        <label>GetSubscriptionLinesRelatedWithCustomerRequest</label>
        <locationX>292</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_IsSubscriptionLines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CustomerRequest__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SubscriptionLine__c</object>
        <sortField>Subscription__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSubscriptionsRelatedWithCustomerRequest</name>
        <label>GetSubscriptionsRelatedWithCustomerRequest</label>
        <locationX>292</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetSubscriptionLinesRelatedWithCustomerRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>tech_RelatedCustomerRequestId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Subscription__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Screen_ClonageHome</name>
        <label>Screen_ClonageHome</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_CloneCustomerRequestData</targetReference>
        </connector>
        <fields>
            <name>Screen_ClonageHome_Display</name>
            <fieldText>&lt;p&gt;Click &quot;Next&quot; to duplicate this customer request.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_ClonageSuccess</name>
        <label>Screen_ClonageSuccess</label>
        <locationX>446</locationX>
        <locationY>5894</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Screen_ClonageHome_Display_0</name>
            <fieldText>&lt;p&gt;The duplication is successful. Click &lt;a href=&quot;{!Formula_NewCustomerRequestLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here &lt;/a&gt;to access the newly created record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_ClonageHome</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_NewInvoices</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_NewSubscriptions</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>IsCancellation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsCreditNote</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewInvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewSubscriptionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomerRequest__c</objectType>
    </variables>
    <variables>
        <name>SObject_NewCustomerRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomerRequest__c</objectType>
    </variables>
    <variables>
        <name>SObject_NewInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>SObject_NewInvoiceLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceLine__c</objectType>
    </variables>
    <variables>
        <name>SObject_NewSubscription</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
    <variables>
        <name>SObject_NewSubscriptionLine</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SubscriptionLine__c</objectType>
    </variables>
    <variables>
        <name>SObjectCollection_NewInvoiceLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvoiceLine__c</objectType>
    </variables>
    <variables>
        <name>SObjectCollection_NewInvoices</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>SObjectCollection_NewSubscriptionLines</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SubscriptionLine__c</objectType>
    </variables>
    <variables>
        <name>SObjectCollection_NewSubscriptions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Subscription__c</objectType>
    </variables>
</Flow>
