unpackaged/main/default/flows/Flow_Sales_Assistant_Special_Right.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>692</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>Get_Quote_Info.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StatusField</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote_Info.SBQQ__DocumentStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DocumentStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Quote_Info.Signed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Signed_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quote</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>DocumentStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__DocumentStatus__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SBQQ__Status__c</picklistField>
        <picklistObject>SBQQ__Quote__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Flow - Sales Assistant Special Right {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow - Sales Assistant Special Right</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Quote_Info</name>
        <label>Get Quote Info</label>
        <locationX>689</locationX>
        <locationY>222</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sceen1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quote</name>
        <label>Update Quote</label>
        <locationX>675</locationX>
        <locationY>656</locationY>
        <inputReference>Get_Quote_Info</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Sceen1</name>
        <label>Sceen1</label>
        <locationX>689</locationX>
        <locationY>401</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <fields>
            <name>IntroText</name>
            <fieldText>&lt;p&gt;As a Cegid Sales Assistant, you can modify these fields :&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Sceen1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Sceen1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Sceen1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StatusField</name>
                    <choiceReferences>Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote_Info.SBQQ__Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Document_Status</name>
                    <choiceReferences>DocumentStatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote_Info.SBQQ__DocumentStatus__c</elementReference>
                    </defaultValue>
                    <fieldText>Document Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Signed_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote_Info.Signed_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Signed Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Sceen1_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>562</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Quote_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
