unpackaged/main/default/flows/FlowTrigger_OneNoteS_BeforeSave_CreateUpdate_CustomerRequest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assignment_DecrementBUCounter</name>
        <label>Assignment_DecrementBUCounter</label>
        <locationX>1106</locationX>
        <locationY>3023</locationY>
        <assignmentItems>
            <assignToReference>$Record.tech_MultiBUCounter__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_DecrementBUPSCounter</name>
        <label>Assignment_DecrementBUPSCounter</label>
        <locationX>2426</locationX>
        <locationY>3023</locationY>
        <assignmentItems>
            <assignToReference>$Record.tech_MultiBUCounterPS__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_IncrementBUCounter</name>
        <label>Assignment_IncrementBUCounter</label>
        <locationX>578</locationX>
        <locationY>2783</locationY>
        <assignmentItems>
            <assignToReference>$Record.tech_MultiBUCounter__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_WhichBULevel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_IncrementBUPSCounter</name>
        <label>Assignment_IncrementBUPSCounter</label>
        <locationX>1898</locationX>
        <locationY>2783</locationY>
        <assignmentItems>
            <assignToReference>$Record.tech_MultiBUCounterPS__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_WhichBUPSLevel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Aperçu du commentaire dans les mails reçu par les approbateurs.</description>
        <name>Assignment_SetComment</name>
        <label>Assignment_SetComment</label>
        <locationX>1502</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.temp_comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormatedComment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsCurrentUserDefined</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_SetOwner</name>
        <label>Assignment_SetOwner</label>
        <locationX>1755</locationX>
        <locationY>1223</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SalesPlanner__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_IsReEvaluation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_UpdateApprovers_Agency</name>
        <label>Assignment_UpdateApprovers_Agency</label>
        <locationX>1315</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>$Record.SalesPlanner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedAgency.SalesPlanner__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SalesManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedAgency.SalesManager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AgencyManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedAgency.AgencyManager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SrcManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedAgency.SrcManager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_IsMultiBU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_UpdateApprovers_BU</name>
        <label>Assignment_UpdateApprovers_BU</label>
        <locationX>1249</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>$Record.BU_AssistantManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedBU.BusinessUnitAssistantManager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BU_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedBU.BusinessUnitManager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BU_ManagerPS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedBU.BusinessUnitPsManager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.CFO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedBU.Cfo__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_IsAgency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_UpdateApprovers_BU2</name>
        <label>Assignment_UpdateApprovers_BU2</label>
        <locationX>50</locationX>
        <locationY>3143</locationY>
        <assignmentItems>
            <assignToReference>$Record.BU_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedBU_2.BusinessUnitManager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BU_AssistantManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedBU_2.BusinessUnitAssistantManager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.tech_ReEvaluateBU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_UpdateApprovers_BU3</name>
        <label>Assignment_UpdateApprovers_BU3</label>
        <locationX>314</locationX>
        <locationY>3143</locationY>
        <assignmentItems>
            <assignToReference>$Record.BU_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedBU_3.BusinessUnitManager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BU_AssistantManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedBU_3.BusinessUnitAssistantManager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.tech_ReEvaluateBU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_UpdateApprovers_BU4</name>
        <label>Assignment_UpdateApprovers_BU4</label>
        <locationX>578</locationX>
        <locationY>3143</locationY>
        <assignmentItems>
            <assignToReference>$Record.BU_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedBU_4.BusinessUnitManager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BU_AssistantManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedBU_4.BusinessUnitAssistantManager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.tech_ReEvaluateBU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_UpdateApprovers_BU5</name>
        <label>Assignment_UpdateApprovers_BU5</label>
        <locationX>842</locationX>
        <locationY>3143</locationY>
        <assignmentItems>
            <assignToReference>$Record.BU_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedBU_5.BusinessUnitManager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BU_AssistantManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedBU_5.BusinessUnitAssistantManager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.tech_ReEvaluateBU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_UpdateApprovers_BUPS2</name>
        <label>Assignment_UpdateApprovers_BUPS2</label>
        <locationX>1370</locationX>
        <locationY>3143</locationY>
        <assignmentItems>
            <assignToReference>$Record.BU_ManagerPS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedBUPS_2.BusinessUnitPsManager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.tech_ReEvaluateBUPS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_UpdateApprovers_BUPS3</name>
        <label>Assignment_UpdateApprovers_BUPS3</label>
        <locationX>1634</locationX>
        <locationY>3143</locationY>
        <assignmentItems>
            <assignToReference>$Record.BU_ManagerPS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedBUPS_3.BusinessUnitPsManager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.tech_ReEvaluateBUPS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_UpdateApprovers_BUPS4</name>
        <label>Assignment_UpdateApprovers_BUPS4</label>
        <locationX>1898</locationX>
        <locationY>3143</locationY>
        <assignmentItems>
            <assignToReference>$Record.BU_ManagerPS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedBUPS_4.BusinessUnitPsManager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.tech_ReEvaluateBUPS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_UpdateApprovers_BUPS5</name>
        <label>Assignment_UpdateApprovers_BUPS5</label>
        <locationX>2162</locationX>
        <locationY>3143</locationY>
        <assignmentItems>
            <assignToReference>$Record.BU_ManagerPS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedBUPS_5.BusinessUnitPsManager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.tech_ReEvaluateBUPS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assignment_UpdateApproversPS_Agency</name>
        <label>Assignment_UpdateApproversPS_Agency</label>
        <locationX>1051</locationX>
        <locationY>1919</locationY>
        <assignmentItems>
            <assignToReference>$Record.SalesPlanner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedAgency.SalesPlannerPS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SalesManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedAgency.SalesManager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AgencyManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedAgency.AgencyManager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SrcManager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRelatedAgency.SrcManager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_IsMultiBU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_UpdateBUVolume</name>
        <label>Assignment_UpdateBUVolume</label>
        <locationX>1249</locationX>
        <locationY>2351</locationY>
        <assignmentItems>
            <assignToReference>$Record.tech_MultiBUVolume__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_BUVolume</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.tech_MultiBUCounter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.tech_MultiBUCounterPS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_IsReEvaluation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_UpdateCurrentApprover</name>
        <label>Assignment_UpdateCurrentApprover</label>
        <locationX>1502</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrentApprover__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.tech_CurrentApproverId__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_IsSubmitted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_UpdateCurrentApprover_0</name>
        <label>Assignment_UpdateCurrentApprover</label>
        <locationX>1766</locationX>
        <locationY>767</locationY>
        <assignmentItems>
            <assignToReference>$Record.CurrentApprover__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Decision_IsSubmitted</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Comment_IsNull</name>
        <label>Decision_Comment_IsNull</label>
        <locationX>1634</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>IsCurrentUserDefined</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_Comment_IsNull_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Comment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_SetComment</targetReference>
            </connector>
            <label>Decision_Comment_IsNull_No</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the Agency field is empty</description>
        <name>Decision_IsAgency</name>
        <label>Decision_IsAgency?</label>
        <locationX>1381</locationX>
        <locationY>1559</locationY>
        <defaultConnector>
            <targetReference>Decision_IsMultiBU</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_IsAgency_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Agency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedAgency</targetReference>
            </connector>
            <label>Decision_IsAgency_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the BU field is empty</description>
        <name>Decision_IsBU</name>
        <label>Decision_IsBU?</label>
        <locationX>1381</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Decision_IsAgency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_IsBU_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BusinessUnit__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedBU</targetReference>
            </connector>
            <label>Decision_IsBU_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the request has a MultiBU context</description>
        <name>Decision_IsMultiBU</name>
        <label>Decision_IsMultiBU?</label>
        <locationX>1381</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>Decision_IsReEvaluation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_IsMultiBU_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tech_IsMultiBu__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_UpdateBUVolume</targetReference>
            </connector>
            <label>Decision_IsMultiBU_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the record is multi_BU and needs to be re-evaluated</description>
        <name>Decision_IsReEvaluation</name>
        <label>Decision_IsReEvaluation?</label>
        <locationX>1634</locationX>
        <locationY>2663</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_IsReEvaluateBU_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tech_IsMultiBu__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.tech_ReEvaluateBU__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_IncrementBUCounter</targetReference>
            </connector>
            <label>Decision_IsReEvaluateBU_Yes</label>
        </rules>
        <rules>
            <name>Decision_IsReEvaluateBUPS_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tech_IsMultiBu__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.tech_ReEvaluateBUPS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_IncrementBUPSCounter</targetReference>
            </connector>
            <label>Decision_IsReEvaluateBUPS_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the record has been submitted for approval or not</description>
        <name>Decision_IsSubmitted</name>
        <label>Decision_IsSubmitted?</label>
        <locationX>1634</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>Decision_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_IsSubmitted_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tech_IsSubmitted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_IsBU</targetReference>
            </connector>
            <label>Decision_IsSubmitted_No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Status</name>
        <label>Decision_Status</label>
        <locationX>1887</locationX>
        <locationY>1103</locationY>
        <defaultConnector>
            <targetReference>Decision_IsReEvaluation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ValidateAdvInProgress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validate Adv in progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_SetOwner</targetReference>
            </connector>
            <label>Validate - Adv In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_StructureLevel</name>
        <label>Decision_StructureLevel</label>
        <locationX>1183</locationX>
        <locationY>1799</locationY>
        <defaultConnector>
            <targetReference>Assignment_UpdateApprovers_Agency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>StructureLevel_ProfessionalServices</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StructureLevel1__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>140</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_UpdateApproversPS_Agency</targetReference>
            </connector>
            <label>StructureLevel_ProfessionalServices</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_WhichBULevel</name>
        <label>Decision_WhichBULevel?</label>
        <locationX>578</locationX>
        <locationY>2903</locationY>
        <defaultConnector>
            <targetReference>Assignment_DecrementBUCounter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_WhichBULevel_Level2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tech_MultiBUCounter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedBU_2</targetReference>
            </connector>
            <label>Decision_WhichBULevel_Level2</label>
        </rules>
        <rules>
            <name>Decision_WhichBULevel_Level3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tech_MultiBUCounter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedBU_3</targetReference>
            </connector>
            <label>Decision_WhichBULevel_Level3</label>
        </rules>
        <rules>
            <name>Decision_WhichBULevel_Level4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tech_MultiBUCounter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedBU_4</targetReference>
            </connector>
            <label>Decision_WhichBULevel_Level4</label>
        </rules>
        <rules>
            <name>Decision_WhichBULevel_Level5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tech_MultiBUCounter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedBU_5</targetReference>
            </connector>
            <label>Decision_WhichBULevel_Level5</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_WhichBUPSLevel</name>
        <label>Decision_WhichBUPSLevel?</label>
        <locationX>1898</locationX>
        <locationY>2903</locationY>
        <defaultConnector>
            <targetReference>Assignment_DecrementBUPSCounter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision_WhichBUPSLevel_Level2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tech_MultiBUCounterPS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedBUPS_2</targetReference>
            </connector>
            <label>Decision_WhichBUPSLevel_Level2</label>
        </rules>
        <rules>
            <name>Decision_WhichBUPSLevel_Level3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tech_MultiBUCounterPS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedBUPS_3</targetReference>
            </connector>
            <label>Decision_WhichBUPSLevel_Level3</label>
        </rules>
        <rules>
            <name>Decision_WhichBUPSLevel_Level4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tech_MultiBUCounterPS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedBUPS_4</targetReference>
            </connector>
            <label>Decision_WhichBUPSLevel_Level4</label>
        </rules>
        <rules>
            <name>Decision_WhichBUPSLevel_Level5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tech_MultiBUCounterPS__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRelatedBUPS_5</targetReference>
            </connector>
            <label>Decision_WhichBUPSLevel_Level5</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCurrentUserDefined</name>
        <label>IsCurrentUserDefined?</label>
        <locationX>1634</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assignment_UpdateCurrentApprover_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCurrentUserDefined_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.tech_CurrentApproverId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_UpdateCurrentApprover</targetReference>
            </connector>
            <label>IsCurrentUserDefined_Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FormatedComment</name>
        <dataType>String</dataType>
        <expression>IF
(
LEN({!$Record.Comment__c}) &gt; 250,
LEFT({!$Record.Comment__c}, 250) + &quot; ...&quot;,
{!$Record.Comment__c}
)</expression>
    </formulas>
    <formulas>
        <name>Formula_BUVolume</name>
        <dataType>Number</dataType>
        <expression>IF(
	NOT(ISBLANK({!$Record.BusinessUnit5__c})),
	5,
	IF(
		NOT(ISBLANK({!$Record.BusinessUnit4__c})),
		4,
		IF(
			NOT(ISBLANK({!$Record.BusinessUnit3__c})),
			3,
			IF(
				NOT(ISBLANK({!$Record.BusinessUnit2__c})),
				2,
				1
			)
		)
	)
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>FlowTrigger_OneNoteS_BeforeSave_CreateUpdate_CustomerRequest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowTrigger_OneNoteS_BeforeSave_CreateUpdate_CustomerRequest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRelatedAgency</name>
        <label>GetRelatedAgency</label>
        <locationX>1183</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_StructureLevel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Agency__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedBU</name>
        <label>GetRelatedBU</label>
        <locationX>1249</locationX>
        <locationY>1223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_UpdateApprovers_BU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BusinessUnit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedBU_2</name>
        <label>GetRelatedBU_2</label>
        <locationX>50</locationX>
        <locationY>3023</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_UpdateApprovers_BU2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BusinessUnit2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedBU_3</name>
        <label>GetRelatedBU_3</label>
        <locationX>314</locationX>
        <locationY>3023</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_UpdateApprovers_BU3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BusinessUnit3__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedBU_4</name>
        <label>GetRelatedBU_4</label>
        <locationX>578</locationX>
        <locationY>3023</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_UpdateApprovers_BU4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BusinessUnit4__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedBU_5</name>
        <label>GetRelatedBU_5</label>
        <locationX>842</locationX>
        <locationY>3023</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_UpdateApprovers_BU5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BusinessUnit5__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedBUPS_2</name>
        <label>GetRelatedBUPS_2</label>
        <locationX>1370</locationX>
        <locationY>3023</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_UpdateApprovers_BUPS2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BusinessUnit2__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedBUPS_3</name>
        <label>GetRelatedBUPS_3</label>
        <locationX>1634</locationX>
        <locationY>3023</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_UpdateApprovers_BUPS3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BusinessUnit3__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedBUPS_4</name>
        <label>GetRelatedBUPS_4</label>
        <locationX>1898</locationX>
        <locationY>3023</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_UpdateApprovers_BUPS4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BusinessUnit4__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRelatedBUPS_5</name>
        <label>GetRelatedBUPS_5</label>
        <locationX>2162</locationX>
        <locationY>3023</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_UpdateApprovers_BUPS5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BusinessUnit5__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1508</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Comment_IsNull</targetReference>
        </connector>
        <object>CustomerRequest__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
