unpackaged/main/default/flows/FlowAutoLaunched_OneNoteS_ApproverReminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>1056</locationX>
        <locationY>1728</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_CurrentApprover</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>VarCurrentApproverEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>admin-onenotes@cegid.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Email_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>SendFinalEmail</name>
        <label>Send Final Email</label>
        <locationX>704</locationX>
        <locationY>2220</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>VarCurrentApproverEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>admin-onenotes@cegid.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Email_Subject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_CurrentApprover</name>
        <label>Assign_CurrentApprover</label>
        <locationX>792</locationX>
        <locationY>1728</locationY>
        <assignmentItems>
            <assignToReference>VarCurrentApprover</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ReminderList.CurrentApprover__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCustomerRequestUrl</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCurrentApproverEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ReminderList.CurrentApprover__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCustomerRequestNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCustomerRequestType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_CustomerRequest</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CustomerRequest</name>
        <label>Assign_CustomerRequest</label>
        <locationX>1056</locationX>
        <locationY>2004</locationY>
        <assignmentItems>
            <assignToReference>VarCustomerRequestUrl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleCustomerRequestUrl</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCustomerRequestNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleCustomerRequestNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarCustomerRequestType</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleCustomerRequestType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ReminderList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ToReminderList</name>
        <label>Assign_ToReminderList</label>
        <locationX>1144</locationX>
        <locationY>1032</locationY>
        <assignmentItems>
            <assignToReference>ReminderList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_CustomerRequestList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CustomerRequestList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_VarCurrentApprover</name>
        <label>Reset_VarCurrentApprover</label>
        <locationX>704</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>VarCurrentApprover</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sort_ReminderList</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_ReminderList</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort_ReminderList</label>
        <locationX>704</locationX>
        <locationY>1368</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>ReminderList</collectionReference>
        <connector>
            <targetReference>Loop_ReminderList</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>true</doesPutEmptyStringAndNullFirst>
            <sortField>CurrentApprover__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <constants>
        <name>EmailSender</name>
        <dataType>String</dataType>
        <value>
            <stringValue>admin-onenotes@cegid.com</stringValue>
        </value>
    </constants>
    <constants>
        <name>SenderType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>OrgWideEmailAddress</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Decision_WhoCurrentApprover</name>
        <label>Decision_WhoCurrentApprover</label>
        <locationX>1056</locationX>
        <locationY>1608</locationY>
        <defaultConnector>
            <targetReference>Assign_CustomerRequest</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CurrentApprouver_NotChanged</defaultConnectorLabel>
        <rules>
            <name>CurrentApprouver_IsNull</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>VarCurrentApprover</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarCurrentApprover</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CurrentApprover</targetReference>
            </connector>
            <label>CurrentApprouver_IsNull</label>
        </rules>
        <rules>
            <name>CurrentApprover_IsChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarCurrentApprover</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Loop_ReminderList.CurrentApprover__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email</targetReference>
            </connector>
            <label>CurrentApprover_IsChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>NeedToProcessTheFlow</name>
        <label>NeedToProcessTheFlow ?</label>
        <locationX>176</locationX>
        <locationY>516</locationY>
        <defaultConnector>
            <targetReference>Loop_CustomerRequestList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Get_CustomerRequestList_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_CustomerRequestList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Get_CustomerRequestList_Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reminder_ByApproverDate</name>
        <label>Reminder_ByApproverDate</label>
        <locationX>1144</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_CustomerRequestList</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ApprovedDate_SalesManagerOrSalesPlanner</name>
            <conditionLogic>(1 AND 2 AND 5) OR (3 AND 4 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_CustomerRequestList.ApprovedDateSalesManager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ReminderDate_SalesManager</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_CustomerRequestList.ApprovedDateSalesPlanner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ReminderDate_SalesPlanner</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_CustomerRequestList.CurrentApprover__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_CustomerRequestList.SalesManager__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_CustomerRequestList.CurrentApprover__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_CustomerRequestList.SalesPlanner__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ToReminderList</targetReference>
            </connector>
            <label>ApprovedDate_SalesManagerOrSalesPlanner</label>
        </rules>
        <rules>
            <name>ApprovedDate_BuManagerPs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_CustomerRequestList.ApprovedDateBuManagerPs__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ReminderDate_BuManagerPs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ToReminderList</targetReference>
            </connector>
            <label>ApprovedDate_BuManagerPs</label>
        </rules>
        <rules>
            <name>ApprovedDate_AgencyManagerOrBuAssistantManager</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_CustomerRequestList.ApprovedDateAgencyManager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ReminderDate_AgencyManager</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_CustomerRequestList.ApprovedDateBuAssistantManager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ReminderDate_BuAssistantManager</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ToReminderList</targetReference>
            </connector>
            <label>ApprovedDate_AgencyManagerOrBuAssistantManager</label>
        </rules>
        <rules>
            <name>ApprovedDate_BuManager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_CustomerRequestList.ApprovedDateBuManager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ReminderDate_BuManager</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ToReminderList</targetReference>
            </connector>
            <label>ApprovedDate_BuManager</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ApprovalDateFromSubmittedDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 7</expression>
    </formulas>
    <formulas>
        <name>ReminderDate_AgencyManager</name>
        <dataType>Date</dataType>
        <expression>CASE
(
MOD({!Loop_CustomerRequestList.SubmittedDate__c} - {!Loop_CustomerRequestList.ApprovedDateAgencyManager__c}, 7),
0, {!Loop_CustomerRequestList.SubmittedDate__c} + 5,
6, {!Loop_CustomerRequestList.SubmittedDate__c} + 1 + 5,
{!Loop_CustomerRequestList.SubmittedDate__c} + 2 + 5
)</expression>
    </formulas>
    <formulas>
        <name>ReminderDate_BuAssistantManager</name>
        <dataType>Date</dataType>
        <expression>CASE
(
MOD({!Loop_CustomerRequestList.SubmittedDate__c} - {!Loop_CustomerRequestList.ApprovedDateBuAssistantManager__c}, 7),
0, {!Loop_CustomerRequestList.SubmittedDate__c} + 5,
6, {!Loop_CustomerRequestList.SubmittedDate__c} + 1 + 5,
{!Loop_CustomerRequestList.SubmittedDate__c} + 2 + 5
)</expression>
    </formulas>
    <formulas>
        <name>ReminderDate_BuManager</name>
        <dataType>Date</dataType>
        <expression>CASE
(
MOD({!Loop_CustomerRequestList.SubmittedDate__c} - {!Loop_CustomerRequestList.ApprovedDateBuManager__c}, 7),
0, {!Loop_CustomerRequestList.SubmittedDate__c} + 5,
6, {!Loop_CustomerRequestList.SubmittedDate__c} + 1 + 5,
{!Loop_CustomerRequestList.SubmittedDate__c} + 2 + 5
)</expression>
    </formulas>
    <formulas>
        <name>ReminderDate_BuManagerPs</name>
        <dataType>Date</dataType>
        <expression>CASE
(
MOD({!Loop_CustomerRequestList.SubmittedDate__c} - {!Loop_CustomerRequestList.ApprovedDateBuManagerPs__c}, 7),
0, {!Loop_CustomerRequestList.SubmittedDate__c} + 5,
6, {!Loop_CustomerRequestList.SubmittedDate__c} + 1 + 5,
{!Loop_CustomerRequestList.SubmittedDate__c} + 2 + 5
)</expression>
    </formulas>
    <formulas>
        <name>ReminderDate_SalesManager</name>
        <dataType>Date</dataType>
        <expression>CASE
(
MOD({!Loop_CustomerRequestList.SubmittedDate__c} - {!Loop_CustomerRequestList.ApprovedDateSalesManager__c}, 7),
0, {!Loop_CustomerRequestList.SubmittedDate__c} + 5,
6, {!Loop_CustomerRequestList.SubmittedDate__c} + 1 + 5,
{!Loop_CustomerRequestList.SubmittedDate__c} + 2 + 5
)</expression>
    </formulas>
    <formulas>
        <name>ReminderDate_SalesPlanner</name>
        <dataType>Date</dataType>
        <expression>CASE
(
MOD({!Loop_CustomerRequestList.SubmittedDate__c} - {!Loop_CustomerRequestList.ApprovedDateSalesPlanner__c}, 7),
0, {!Loop_CustomerRequestList.SubmittedDate__c} + 5,
6, {!Loop_CustomerRequestList.SubmittedDate__c} + 1 + 5,
{!Loop_CustomerRequestList.SubmittedDate__c} + 2 + 5
)</expression>
    </formulas>
    <interviewLabel>Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowAutoLaunched_OneNoteS_ApproverReminder</label>
    <loops>
        <name>Loop_CustomerRequestList</name>
        <label>Loop_CustomerRequestList</label>
        <locationX>704</locationX>
        <locationY>636</locationY>
        <collectionReference>Get_CustomerRequestList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reminder_ByApproverDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reset_VarCurrentApprover</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_ReminderList</name>
        <label>Loop_ReminderList</label>
        <locationX>704</locationX>
        <locationY>1488</locationY>
        <collectionReference>ReminderList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_WhoCurrentApprover</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SendFinalEmail</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_CFOUsers</name>
        <label>Get_CFOUsers</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_CustomerRequestList</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>François Vauthier</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CustomerRequestList</name>
        <label>Get_CustomerRequestList</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NeedToProcessTheFlow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>SubmittedDate__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>ApprovalDateFromSubmittedDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrentApprover__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_CFOUsers.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CustomerRequest__c</object>
        <sortField>SubmittedDate__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_CFOUsers</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-07-20</startDate>
            <startTime>23:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Email_Body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Bonjour,&lt;/p&gt;
&lt;p&gt;Vous trouverez ci-joint les demandes A/R en attente de votre approbation qui ont dépassés la date butoir (5j ouvrés)&lt;/p&gt;
&lt;br&gt;
&lt;table border=&quot;1&quot;&gt;
&lt;tbody&gt;
&lt;tr&gt;
&lt;th&gt;Demandes A/R N°&lt;/th&gt;
&lt;th&gt;Type&lt;/th&gt;
&lt;th&gt;Lien&lt;/th&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;{!VarCustomerRequestNumber}&lt;/td&gt;
&lt;td&gt;{!VarCustomerRequestType}&lt;/td&gt;
&lt;td&gt;{!VarCustomerRequestUrl}&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
&lt;p&gt;&lt;br&gt;&lt;/p&gt;
&lt;p&gt;Merci.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Email_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Récapitulatif de vos Demandes A/R à approuver</text>
    </textTemplates>
    <textTemplates>
        <name>SingleCustomerRequestNumber</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Loop_ReminderList.Name}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SingleCustomerRequestType</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Loop_ReminderList.Type__c}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>SingleCustomerRequestUrl</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Loop_ReminderList.tech_CustomerRequestUrl__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ReminderList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomerRequest__c</objectType>
    </variables>
    <variables>
        <name>VarCurrentApprover</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCurrentApproverEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCustomerRequestNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCustomerRequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarCustomerRequestUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
