unpackaged/main/default/flows/Flow_Billing_Plan_Transactions_management_on_quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Billing_Transaction_1_Order</name>
        <label>Billing Transaction 1 - Order</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>BillingTransaction1Order.BillingPlan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingPlanToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingTransaction1Order.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingTransaction1Order.Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingTransaction1Order.Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingTransactionstocreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BillingTransaction1Order</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Transaction_2_Design</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Billing_Transaction_2_Design</name>
        <label>Billing Transaction 2 - Design</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>BillingTransaction2Design.BillingPlan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingPlanToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingTransaction2Design.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Design</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingTransaction2Design.Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingTransaction2Design.Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingTransactionstocreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BillingTransaction2Design</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Transaction_3_Archievement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Billing_Transaction_3_Archievement</name>
        <label>Billing Transaction 3 - Archievement</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>BillingTransaction3Achievement.BillingPlan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingPlanToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingTransaction3Achievement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Archievement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingTransaction3Achievement.Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingTransaction3Achievement.Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingTransactionstocreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BillingTransaction3Achievement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Transaction_4_Acceptance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Billing_Transaction_4_Acceptance</name>
        <label>Billing Transaction 4 - Acceptance</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>BillingTransaction4Acceptance.BillingPlan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingPlanToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingTransaction4Acceptance.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Acceptance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingTransaction4Acceptance.Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingTransaction4Acceptance.Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingTransactionstocreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BillingTransaction4Acceptance</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Billing_Transaction_5_Go_Live</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Billing_Transaction_5_Go_Live</name>
        <label>Billing Transaction 5 - Go Live</label>
        <locationX>50</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>BillingTransaction5GoLive.BillingPlan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingPlanToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingTransaction5GoLive.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Go Live</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingTransaction5GoLive.Step__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingTransaction5GoLive.Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingTransactionstocreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BillingTransaction5GoLive</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Billing_Transactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_Billing_Plan_record</name>
        <label>Fill Billing Plan record</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>BillingPlanToCreate.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Billing_Plan</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>- Billing Frequency = &quot;Invoice Plan&quot; &gt; create Billing Plan
- Billing Frequency &lt;&gt; &quot;Invoice Plan&quot; &gt; delete Billing plan</description>
        <name>Create_or_Delete_Billing_Plan</name>
        <label>Create or Delete Billing Plan</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Get_Billing_Plan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delete Billing Plan</defaultConnectorLabel>
        <rules>
            <name>Create_Billing_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingPlan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_Billing_Plan_record</targetReference>
            </connector>
            <label>Create Billing Plan</label>
        </rules>
    </decisions>
    <description>Use to create/remove Billing Plan (and Billing Transactions) automatically on Quote</description>
    <environments>Default</environments>
    <interviewLabel>Flow - Billing Plan (Transactions) management on quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow - Billing Plan (Transactions) management on quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Billing_Transactions</name>
        <label>Create Billing Transactions</label>
        <locationX>50</locationX>
        <locationY>1295</locationY>
        <inputReference>BillingTransactionstocreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Billing_Plan</name>
        <label>Create Billing Plan</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Billing_Transaction_1_Order</targetReference>
        </connector>
        <inputReference>BillingPlanToCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Billing_Plans</name>
        <label>Delete Billing Plans</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputReference>Get_Billing_Plan</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Billing_Plan</name>
        <label>Get Billing Plan</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Billing_Plans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BillingPlan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_or_Delete_Billing_Plan</targetReference>
        </connector>
        <filterFormula>AND(
{!$User.BypassPB__c} = FALSE,
ISCHANGED({!$Record.BillingPlan__c})
)</filterFormula>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BillingPlanToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BillingPlan__c</objectType>
    </variables>
    <variables>
        <name>BillingTransaction1Order</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BillingTransaction__c</objectType>
    </variables>
    <variables>
        <name>BillingTransaction2Design</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BillingTransaction__c</objectType>
    </variables>
    <variables>
        <name>BillingTransaction3Achievement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BillingTransaction__c</objectType>
    </variables>
    <variables>
        <name>BillingTransaction4Acceptance</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BillingTransaction__c</objectType>
    </variables>
    <variables>
        <name>BillingTransaction5GoLive</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BillingTransaction__c</objectType>
    </variables>
    <variables>
        <name>BillingTransactionstocreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BillingTransaction__c</objectType>
    </variables>
</Flow>
