unpackaged/main/default/flows/Flow_CreateContactFromQuoteBillingContact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <description>Assign Cegid Role = contact for payment business</description>
        <name>Assign_Cegid_Role</name>
        <label>Assign Cegid Role</label>
        <locationX>868</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>Get_Billing_contact.CegidRole__c</assignToReference>
            <operator>AddItem</operator>
            <value>
                <stringValue>Contact for payment business</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact_CegidRole</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>if permission set assignment is found, then current user is a DocuSign admin user performing update on quote fields from DocuSign</description>
        <name>DocuSign_Permission_Found</name>
        <label>DocuSign Permission Found?</label>
        <locationX>329</locationX>
        <locationY>343</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_DS_PermissionSet_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Billing_contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if billing contact matches any contact on account with same email</description>
        <name>Find_Billing_contact</name>
        <label>Find Billing contact</label>
        <locationX>616</locationX>
        <locationY>345</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Billing_contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Contact</targetReference>
            </connector>
            <label>No Contact</label>
        </rules>
        <rules>
            <name>ContactFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Billing_contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Billing_contact.HasCegidRoleContactPayment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cegid_Role</targetReference>
            </connector>
            <label>Yes Contact Found</label>
        </rules>
    </decisions>
    <description>W-001268 - When quote Billing contact info are updated from DocuSign, create new contact if does not exist with same email. Else update existing contact and set role &quot;contact for payment business&quot;
W-001464 : Billing contact must be updated based on Billing Account.</description>
    <formulas>
        <description>Mapping for contact salutation v/s quote billing contact salutation</description>
        <name>ContactSalutation</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.BillingContactSalutation__c},&apos;MME&apos;) , &apos;Ms.&apos;,  &apos;Mr.&apos; )</expression>
    </formulas>
    <interviewLabel>Flow-Create Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow-Create/Update Contact From Quote Billing Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create new contact from Quote billing contact (ADV contact)</description>
        <name>Create_New_Contact</name>
        <label>Create New Contact</label>
        <locationX>1020</locationX>
        <locationY>334</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Billing_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CegidRole__c</field>
            <value>
                <stringValue>Invoices contact;Payment contact;Contact for payment business</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.BillingContactEmail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.BillingContactFirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Function__c</field>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.BillingContactLastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.BillingContactMobilePhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.BillingContactPhone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Salutation</field>
            <value>
                <elementReference>ContactSalutation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service__c</field>
            <value>
                <stringValue>Transversal</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Query the DocuSign admin permission set Id, will be used to determine if updates comes from docusign admin user</description>
        <name>DocuSign_PermissionSet_Id</name>
        <label>DocuSign PermissionSet Id</label>
        <locationX>176</locationX>
        <locationY>304</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_DS_PermissionSet_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DocuSign_Administrator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Find matching quote billing contact (ADV contact) with account contact with same email</description>
        <name>Get_Billing_contact</name>
        <label>Get Billing contact</label>
        <locationX>488</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Billing_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BillingContactEmail__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get current user permission assignment matching DocuSign admin permission set</description>
        <name>User_DS_PermissionSet_Assignment</name>
        <label>User DS PermissionSetAssignment</label>
        <locationX>178</locationX>
        <locationY>454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DocuSign_Permission_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DocuSign_PermissionSet_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_CegidRole</name>
        <label>Update Contact CegidRole</label>
        <locationX>1031</locationX>
        <locationY>474</locationY>
        <inputReference>Get_Billing_contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>DocuSign_PermissionSet_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BillingContactEmail__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BillingContactLastName__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Billing_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
