unpackaged/main/default/flows/Flow_OrderMainFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AddToCollection</name>
        <label>AddToCollection</label>
        <locationX>506</locationX>
        <locationY>2087</locationY>
        <assignmentItems>
            <assignToReference>OrderProductsToAssignCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentOrderProductToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForEachQuoteLine</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccountsValues</name>
        <label>Assign Accounts Values</label>
        <locationX>682</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Ordering_Account_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ordering_Account_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ordering_Account_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ordering_Account_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ordering_Account_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Payer_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Payer_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Payer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Payer_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Postal_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Payer_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Billing_Street__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOrder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignInfoToCurrentOrderProduct</name>
        <label>AssignInfoToCurrentOrderProduct</label>
        <locationX>506</locationX>
        <locationY>1979</locationY>
        <assignmentItems>
            <assignToReference>CurrentOrderProductToCreate.ListUnitPrice_Display__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForEachQuoteLine.ListUnitPrice_Display__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderProductToCreate.Metric__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForEachQuoteLine.Metric__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderProductToCreate.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderProductToCreate.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForEachQuoteLine.SBQQ__PricebookEntryId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderProductToCreate.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForEachQuoteLine.SBQQ__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderProductToCreate.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForEachQuoteLine.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderProductToCreate.SBQQ__QuoteLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForEachQuoteLine.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderProductToCreate.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForEachQuoteLine.NetUnitPrice_Display__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderProductToCreate.SBQQ__QuotedQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForEachQuoteLine.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderProductToCreate.SBQQ__OrderedQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForEachQuoteLine.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOrder</name>
        <label>Assign Order</label>
        <locationX>242</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>ForEachSession.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForEachSession</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignPrimaryContact</name>
        <label>Assign Primary Contact</label>
        <locationX>154</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>$Record.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__PrimaryContact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetQuoteLinesforOptionalProducts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignQuoteValues</name>
        <label>Assign Quote Values</label>
        <locationX>286</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Payment_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Payment_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Billing_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Billing_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Ordering_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.OrderingAccountId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Payer_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Payer_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Purpose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Sale_Purpose__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Sales_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SBQQ__SalesRep__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Second_Sales_Rep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Second_Sales_Rep__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Shipping_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Shipping_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SubSalesPurpose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.SubSalesPurpose__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Has_Elearning</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToBeActivatedtoOrder</name>
        <label>Assign To Be Activated to Order</label>
        <locationX>286</locationX>
        <locationY>2471</locationY>
        <assignmentItems>
            <assignToReference>$Record.TECH_ToBeActivated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOrderCreatedDateonQuote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fill_Order_on_Billing_Plans</name>
        <label>Fill Order on Billing Plans</label>
        <locationX>154</locationX>
        <locationY>3203</locationY>
        <assignmentItems>
            <assignToReference>Get_Quote_s_Billing_Plans.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BillingPlanToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Quote_s_Billing_Plans</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingPlan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Quote_s_Billing_Plans.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Billing_Plans</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>B2BOrder</name>
        <label>B2B Order</label>
        <locationX>814</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.B2BOrder__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAccountsValues</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bypass</name>
        <label>Bypass</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>IsNewDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesBypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.BypassPB__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Update_Account_to_Customer</name>
        <label>Decision Update Account to Customer</label>
        <locationX>286</locationX>
        <locationY>2687</locationY>
        <defaultConnector>
            <targetReference>Update_Acc_to_customer_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update 1</defaultConnectorLabel>
        <rules>
            <name>Update_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Ordering_Account__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Acc_to_customer_2</targetReference>
            </connector>
            <label>Update 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsNewDecision</name>
        <label>IsNew</label>
        <locationX>550</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>B2BOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignQuoteValues</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OneoptionalProductormore</name>
        <label>One optional Product or more</label>
        <locationX>286</locationX>
        <locationY>1763</locationY>
        <defaultConnector>
            <targetReference>ForEachQuoteLine</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoOptionalProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuoteLinesforOptionalProducts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignToBeActivatedtoOrder</targetReference>
            </connector>
            <label>No Optional Product</label>
        </rules>
    </decisions>
    <decisions>
        <name>PrimaryContactNotNull</name>
        <label>PrimaryContactNotNull</label>
        <locationX>286</locationX>
        <locationY>1355</locationY>
        <defaultConnector>
            <targetReference>GetQuoteLinesforOptionalProducts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.SBQQ__Primary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignPrimaryContact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Has_Billing_Plan</name>
        <label>Quote Has Billing Plan?</label>
        <locationX>286</locationX>
        <locationY>2987</locationY>
        <defaultConnector>
            <targetReference>UpdateOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BillingPlan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.BillingPlan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_s_Billing_Plans</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Has_Elearning</name>
        <label>Quote Has Elearning</label>
        <locationX>286</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>PrimaryContactNotNull</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Quote__r.TECH_Has_Elaerning_Products__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetTrainingSessions</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Flow-Order Main FLow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow-Order Main Flow</label>
    <loops>
        <name>ForEachQuoteLine</name>
        <label>For Each Quote Line</label>
        <locationX>418</locationX>
        <locationY>1871</locationY>
        <collectionReference>GetQuoteLinesforOptionalProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignInfoToCurrentOrderProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ForEachSession</name>
        <label>For Each Session</label>
        <locationX>154</locationX>
        <locationY>863</locationY>
        <collectionReference>GetTrainingSessions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignOrder</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateSessions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCollection</name>
        <label>Create Collection</label>
        <locationX>418</locationX>
        <locationY>2279</locationY>
        <connector>
            <targetReference>AssignToBeActivatedtoOrder</targetReference>
        </connector>
        <inputReference>OrderProductsToAssignCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote_s_Billing_Plans</name>
        <label>Get Quote&apos;s Billing Plans</label>
        <locationX>154</locationX>
        <locationY>3095</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fill_Order_on_Billing_Plans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BillingPlan__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Order__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuoteLinesforOptionalProducts</name>
        <label>Get Quote Lines for Optional Products</label>
        <locationX>286</locationX>
        <locationY>1655</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OneoptionalProductormore</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Optional__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NetUnitPrice_Display__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTrainingSessions</name>
        <label>Get Training Sessions</label>
        <locationX>154</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ForEachSession</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TrainingSession__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Acc_to_customer_1</name>
        <label>Update Acc to customer 1</label>
        <locationX>418</locationX>
        <locationY>2795</locationY>
        <connector>
            <targetReference>Quote_Has_Billing_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Nature__c</field>
            <value>
                <stringValue>CLI</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Acc_to_customer_2</name>
        <label>Update Acc to customer 2</label>
        <locationX>154</locationX>
        <locationY>2795</locationY>
        <connector>
            <targetReference>Quote_Has_Billing_Plan</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Billing_Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ordering_Account__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Nature__c</field>
            <value>
                <stringValue>CLI</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Billing_Plans</name>
        <label>Update Billing Plans</label>
        <locationX>154</locationX>
        <locationY>3311</locationY>
        <connector>
            <targetReference>UpdateOrder</targetReference>
        </connector>
        <inputReference>BillingPlanToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOrder</name>
        <label>Update Order</label>
        <locationX>550</locationX>
        <locationY>3587</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOrderCreatedDateonQuote</name>
        <label>Update Order Created Date on Quote</label>
        <locationX>286</locationX>
        <locationY>2579</locationY>
        <connector>
            <targetReference>Decision_Update_Account_to_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Order_Creation_Date__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateSessions</name>
        <label>Update Sessions</label>
        <locationX>154</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>PrimaryContactNotNull</targetReference>
        </connector>
        <inputReference>GetTrainingSessions</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass</targetReference>
        </connector>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BillingPlanToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BillingPlan__c</objectType>
    </variables>
    <variables>
        <name>CurrentOrderProductToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderProductsToAssignCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
