unpackaged/main/default/flows/Flow_Discount_Tier_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <description>W-001871 Delete Discount Tier mutiples currencies</description>
    <interviewLabel>Flow-Discount Tier Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow-DiscountTierDelete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <description>To delete all the discount tier with the same discount schedule and same name but different currencies.</description>
        <name>Delete_same_tiers_for_other_currencies</name>
        <label>Delete Discount Tiers for other currencies</label>
        <locationX>427</locationX>
        <locationY>391</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Schedule__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>SBQQ__DiscountTier__c</object>
    </recordDeletes>
    <recordUpdates>
        <description>Update field &apos;To be delete&quot; in object Discount Tier to get all the records with same name &amp; discount schedule</description>
        <name>Update_to_to_be_deleted</name>
        <label>Update to &quot;to be deleted&quot;</label>
        <locationX>238</locationX>
        <locationY>358</locationY>
        <connector>
            <targetReference>Delete_same_tiers_for_other_currencies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Schedule__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Schedule__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Tobedeleted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__DiscountTier__c</object>
    </recordUpdates>
    <start>
        <locationX>201</locationX>
        <locationY>88</locationY>
        <connector>
            <targetReference>Update_to_to_be_deleted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tobedeleted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FlowDiscountScheduleType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Range</stringValue>
            </value>
        </filters>
        <filters>
            <field>FlowDiscountUnit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Percent</stringValue>
            </value>
        </filters>
        <object>SBQQ__DiscountTier__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
