unpackaged/main/default/flows/FLow_CloneProduct.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_all_fields_to_cloned_product</name>
        <label>Assign all fields to cloned product</label>
        <locationX>50</locationX>
        <locationY>229</locationY>
        <assignmentItems>
            <assignToReference>ProductToCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_to_clone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_specific_new_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_NewProductId</name>
        <label>Assign NewProductId</label>
        <locationX>452</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>NewProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Main_Charge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_specific_new_values</name>
        <label>Assign specific new values</label>
        <locationX>50</locationX>
        <locationY>443</locationY>
        <assignmentItems>
            <assignToReference>ProductToCreate.Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VersionFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.date_synchro_buyme__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.Synchronisation_Zuora__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.Synchronization_Date_Zuora__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.Tech_CPQ_Id__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.Marketing_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non_Marketable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.Bypass_Flux_Calculation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.DeployID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.ExternalId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.ExternalDataSourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.id_buyme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&apos; - CLONE&apos;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.Cloned_from_Product_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_the_clone_product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Related_Charge_Found</name>
        <label>Related Charge Found</label>
        <locationX>605</locationX>
        <locationY>514</locationY>
        <defaultConnector>
            <targetReference>Success</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Main_Charge</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>VersionFormula</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY())) + LPAD(TEXT(MONTH(TODAY())),2,&quot;0&quot;) + LPAD(TEXT(DAY(TODAY())),2,&quot;0&quot;) + &quot;-V&quot; +TEXT(VALUE(RIGHT({!Get_Product_to_clone.Version__c},LEN({!Get_Product_to_clone.Version__c})-1-FIND(&quot;-V&quot;,{!Get_Product_to_clone.Version__c})))+1)</expression>
    </formulas>
    <interviewLabel>FLow-CloneProduct {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FLow-CloneProduct</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_the_clone_product</name>
        <label>Create the clone product</label>
        <locationX>240</locationX>
        <locationY>445</locationY>
        <connector>
            <targetReference>Assign_NewProductId</targetReference>
        </connector>
        <inputReference>ProductToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Product_to_clone</name>
        <label>Get Product to clone</label>
        <locationX>363</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_all_fields_to_cloned_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Main_Charge</name>
        <label>Get Related (Main) Charge</label>
        <locationX>611</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Charge_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Main_Charge_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>835</locationX>
        <locationY>408</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Congratulation</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.Flow_CloneSuccess}&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://cegid.lightning.force.com/lightning/r/Product2/{!NewProductId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;https://cegid.lightning.force.com/lightning/r/Product2/{!NewProductId}/view&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_0</name>
        <label>Success with Related Charge</label>
        <locationX>846</locationX>
        <locationY>586</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Congratulation_0</name>
            <fieldText>&lt;p&gt;&lt;i&gt;{!$Label.Flow_CloneSuccess}&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://cegid.lightning.force.com/lightning/r/Product2/{!NewProductId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;https://cegid.lightning.force.com/lightning/r/Product2/&lt;i&gt;{!NewProductId}&lt;/i&gt;&lt;/a&gt;&lt;a href=&quot;https://cegid--uat.lightning.force.com/lightning/r/Product2/%7B!NewProductId%7D/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;/view&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Label.Flow_CloneAlertMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>459</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Product_to_clone</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>NewProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
