unpackaged/main/default/flows/FlowScreen_OneNoteS_SubmitForApproval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Action_SubmitForApproval</name>
        <label>Action_SubmitForApproval</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assignment_SubmittedTechField2True</name>
        <label>Assignment_SubmittedTechField2True</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>recordId.tech_IsSubmitted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_CustomerRequectActiveRecord</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>FlowScreen_OneNoteS_SubmitForApproval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowScreen_OneNoteS_SubmitForApproval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_CustomerRequectActiveRecord</name>
        <label>Update_CustomerRequectActiveRecord</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Action_SubmitForApproval</targetReference>
        </connector>
        <inputReference>recordId</inputReference>
    </recordUpdates>
    <screens>
        <name>Screen_ValidateSubmission</name>
        <label>Screen_ValidateSubmission</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assignment_SubmittedTechField2True</targetReference>
        </connector>
        <fields>
            <name>Screen_ValidateSubmission_DisplayText</name>
            <fieldText>&lt;p&gt;Are you sure you want to submit this request for validation? You won&apos;t be able to modify the request anymore.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_ValidateSubmission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomerRequest__c</objectType>
    </variables>
</Flow>
