unpackaged/main/default/flows/IS_Synchro_Flux_field_Assigment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_BuyMe</name>
        <label>Assign BuyMe</label>
        <locationX>509</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Record.Flux_SI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>XRP_BUYME</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_XRP_Only</name>
        <label>Assign XRP Only</label>
        <locationX>433</locationX>
        <locationY>898</locationY>
        <assignmentItems>
            <assignToReference>$Record.Flux_SI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>XRP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ZUORA_XRP</name>
        <label>Assign ZUORA + XRP</label>
        <locationX>413</locationX>
        <locationY>726</locationY>
        <assignmentItems>
            <assignToReference>$Record.Flux_SI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>XRP_ZUORA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Value</name>
        <label>No Value</label>
        <locationX>466</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.Flux_SI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Value_0</name>
        <label>No Value</label>
        <locationX>456</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>$Record.Flux_SI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Product</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BUYME</name>
        <label>BUYME</label>
        <locationX>50</locationX>
        <locationY>330</locationY>
        <defaultConnector>
            <targetReference>No_StructureLevel1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isBuyMe</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.date_synchro_buyme__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BuyMe</targetReference>
            </connector>
            <label>isBuyMe?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flux_XRP_Only</name>
        <label>Flux =&gt; XRP Only</label>
        <locationX>79</locationX>
        <locationY>902</locationY>
        <defaultConnector>
            <targetReference>No_Value_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>XRP_ONLY</name>
            <conditionLogic>(1 OR 2 OR NOT(3)) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>110</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>150</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.IS_Synchro_StructureLevel3_List</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Category__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_XRP_Only</targetReference>
            </connector>
            <label>XRP_ONLY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flux_ZUORA_XRP</name>
        <label>Flux =&gt; ZUORA + XRP</label>
        <locationX>106</locationX>
        <locationY>707</locationY>
        <defaultConnector>
            <targetReference>Flux_XRP_Only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ZUORA_XRP</name>
            <conditionLogic>1 OR 2 OR (3 AND 6) OR (4 AND 6 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>130</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>120</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__ChargeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__ChargeType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>One-Time</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.IS_Synchro_StructureLevel3_List</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Category__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Family</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>140</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ZUORA_XRP</targetReference>
            </connector>
            <label>ZUORA_XRP</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_StructureLevel1</name>
        <label>No StructureLevel1</label>
        <locationX>92</locationX>
        <locationY>569</locationY>
        <defaultConnector>
            <targetReference>Flux_ZUORA_XRP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_SL_One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Family</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Value</targetReference>
            </connector>
            <label>No Structurelevel1</label>
        </rules>
    </decisions>
    <interviewLabel>IS Synchro - Flux field Assigment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IS Synchro - Flux field Assigment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Product</name>
        <label>Update Product</label>
        <locationX>890</locationX>
        <locationY>706</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>181</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>BUYME</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Bypass_Flux_Calculation__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
