unpackaged/main/default/flows/Lead_Qualification_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Log_Qualification_Call</name>
        <label>Log Qualification Call</label>
        <locationX>2601</locationX>
        <locationY>989</locationY>
        <actionName>LogACall</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Is_a_contact_Lead</targetReference>
        </connector>
        <inputParameters>
            <name>Description</name>
            <value>
                <stringValue>Qualification call done</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Lead Qualified</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Tryed to reach the lead but no response yet</description>
        <name>Send_Email_to_notify_Lead</name>
        <label>Send Email to notify Lead</label>
        <locationX>54</locationX>
        <locationY>711</locationY>
        <actionName>Lead.Contact_the_LEAD_when_the_phone_numbers_are_wrong</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_task_to_historize_email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Template_2</name>
        <label>Send Template 2</label>
        <locationX>50</locationX>
        <locationY>832</locationY>
        <actionName>Lead.Lead_Qualification_Template_2</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_task_to_historize_email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Template_3</name>
        <label>Send Template 3</label>
        <locationX>52</locationX>
        <locationY>942</locationY>
        <actionName>Lead.Lead_Qualification_Template_3</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_task_to_historize_email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_template_4</name>
        <label>Send template 4</label>
        <locationX>51</locationX>
        <locationY>1044</locationY>
        <actionName>Lead.Lead_Qualification_Template_4</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_task_to_historize_email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Template_5</name>
        <label>Send Template 5</label>
        <locationX>51</locationX>
        <locationY>1149</locationY>
        <actionName>Lead.Lead_Qualification_Template_5</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_task_to_historize_email</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Lead.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_1_Attemp</name>
        <label>Add 1 Attemp</label>
        <locationX>895</locationX>
        <locationY>1091</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Call_attempts__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Call_result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_result</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Call_back_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_attemp_at</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_Call_attempts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddCloseDelete</name>
        <label>AddCloseDelete</label>
        <locationX>1100</locationX>
        <locationY>837</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Call_attempts__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed - Not Converted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Marketing_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Be Deleted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Call_result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Call_result</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lead_Status_CLOSED_not_converted</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account</name>
        <label>Assign Account</label>
        <locationX>1903</locationX>
        <locationY>943</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Existing_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExistingAccount.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set account values from account to avoid updating account</description>
        <name>Assign_Account_Values</name>
        <label>Assign Account Values</label>
        <locationX>1816</locationX>
        <locationY>818</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Partnership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Partnership__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Industry_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Industry_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.National_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.National_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.AnnualRevenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.AnnualRevenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.NumberOfEmployees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.NumberOfEmployees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.No_of_establishments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.No_of_establishments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.No_of_Stores__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.No_of_Stores__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Payslips_per_month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Payslips_per_month__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Prescriber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Prescriber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Intercommunity_VAT_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.IntercommunityVATnumber__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccountQualificationForced</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Screen_1_values</name>
        <label>Assign Screen 1 values</label>
        <locationX>1267</locationX>
        <locationY>168</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadEmailOut</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SalutationOut</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FirstNameOut</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PhoneOut</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MobilePhoneOut</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Direct_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DirectPhoneOut</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Preferred_Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prefered_language</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StreetOut</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CityOut</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PostalCodeOut</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountryOut</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StateProvinceOut</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Screen_OK</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Screen_2_values</name>
        <label>Assign Screen 2 values</label>
        <locationX>1532</locationX>
        <locationY>255</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyIN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Industry_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IndustryCodeSelect.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.National_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>National_IDIN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.National_ID_Exception__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>National_Id_ExceptionIN</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Intercommunity_VAT_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Intercommunity_VAT_number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Screen_3_values</name>
        <label>Assign Screen 3 values</label>
        <locationX>1640</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.No_of_establishments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_of_EstablishmentsIn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.AnnualRevenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Annual_Revenue_In</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.No_of_Stores__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_of_Stores</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Payslips_per_month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payslips_per_monthIn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.NumberOfEmployees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_of_EmployeesIn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Prescriber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prescriber.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_S3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Screen_4_Values</name>
        <label>Assign Screen 4 Values</label>
        <locationX>2023</locationX>
        <locationY>356</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.CurrentSolution_CoreBusiness1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoreBusinessCompetitor1.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.CurrentSolution_Competitor1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoreBusinessCompetitor1.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.CurrentSolution_CoreBusiness2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoreBusinessCompetitor2.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.CurrentSolution_Competitor2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoreBusinessCompetitor2.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.CurrentSolution_CoreBusiness3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoreBusinessCompetitor3.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.CurrentSolution_Competitor3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CoreBusinessCompetitor3.middleValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignAccountVariablesOUT</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Screen_5_Values</name>
        <label>Assign Screen 5 Picklist</label>
        <locationX>2152</locationX>
        <locationY>837</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Expertise__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expertise_Core_Business.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Core_Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Expertise_Core_Business.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ShowError1</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Defined_budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Defined_Budget_n.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Appetence_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Appetence_for_c.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Screen_6_Picklists</name>
        <label>Assign Screen 6 Picklists</label>
        <locationX>2357</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Sales_Purpose__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Purpose_n.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Project_s_context_and_trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Context.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Operational_System__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Operational_System_n.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.OP_OD__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OP_OD_n.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Internal_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescriptionInput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.No_of_Companies__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_companies</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.No_of_Users__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Users</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_project</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Screen_7_picklists</name>
        <label>Assign Screen 7 picklists</label>
        <locationX>2557</locationX>
        <locationY>324</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Role_in_decision_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Role_In_Decision_n1.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Role_in_decision_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Role_In_Decision_n2.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Availability1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AvailabilityInput1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Availability2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AvailabilityInput2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Project_s_associated_contact_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_s_associated_contact_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Project_s_associated_contact_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_s_associated_contact_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Screen_8_picklist</name>
        <label>Assign Screen 8 picklist</label>
        <locationX>2686</locationX>
        <locationY>526</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Project_deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Deadline_n.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Competitors__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Competitors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Attempt_Up</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignAccountVariablesOUT</name>
        <label>AssignAccountVariablesOUT</label>
        <locationX>2169</locationX>
        <locationY>423</locationY>
        <assignmentItems>
            <assignToReference>CompanyOUT</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyIN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Call_Attempt_Up</name>
        <label>Call Attempt Up</label>
        <locationX>2685</locationX>
        <locationY>707</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Call_attempts__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RejectCauseInternalComment</name>
        <label>RejectCauseInternalComment</label>
        <locationX>1293</locationX>
        <locationY>877</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Reject_Cause__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reject_CauseIn</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Internal_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Internal_CommentIN</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Close_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account</name>
        <label>Set Account</label>
        <locationX>3182</locationX>
        <locationY>1193</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Partnership__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Partnership__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.National_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.National_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Website</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Website</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.AnnualRevenue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.AnnualRevenue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.NumberOfEmployees</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.NumberOfEmployees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.No_of_establishments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.No_of_establishments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.No_of_Stores__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.No_of_Stores__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Payslips_per_month__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Payslips_per_month__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Prescriber__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Prescriber__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Industry_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Industry_Code__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Contact</name>
        <label>Set Contact</label>
        <locationX>3181</locationX>
        <locationY>1037</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.Function__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Function__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Service__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Direct_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Direct_Phone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Salutation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Preferred_Language__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Preferred_Language__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Show_Error_to_False</name>
        <label>Show Error to False</label>
        <locationX>1429</locationX>
        <locationY>174</locationY>
        <assignmentItems>
            <assignToReference>ShowError1</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Lead_0_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Show_Error_to_True</name>
        <label>Show Error to True</label>
        <locationX>2115</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>ShowError1</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Step_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Show_Error_to_True_0</name>
        <label>Show Error to True</label>
        <locationX>1063</locationX>
        <locationY>97</locationY>
        <assignmentItems>
            <assignToReference>ShowError1</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Step_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateInvalidLead</name>
        <label>UpdateInvalidLead</label>
        <locationX>1412</locationX>
        <locationY>754</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Marketing_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Be Deleted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed - Not Converted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Call_attempts__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reject_cause</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateInvalidLead_0</name>
        <label>UpdateInvalidLead</label>
        <locationX>1288</locationX>
        <locationY>644</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Marketing_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>To Be Deleted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed - Not Converted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reject_cause</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CurrentNationalIdException</name>
        <choiceText>Actual Value</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Get_Lead.National_ID_Exception__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>CurrentType</name>
        <choiceText>{!CurrentTypeFormula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CurrentTypeFormula</elementReference>
        </value>
    </choices>
    <choices>
        <name>EmailTemplate1</name>
        <choiceText>Email Template 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Template1</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmailTemplate2</name>
        <choiceText>Cegid FR - Injoignable avec Projet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Template2</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmailTemplate3</name>
        <choiceText>Cegid FR - Injoignable sans projet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Template3</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmailTemplate4</name>
        <choiceText>Cegid FR - Coordonnées erronées</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Template4</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmailTemplate5</name>
        <choiceText>Email Template 5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Template5</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoEmailTemplate</name>
        <choiceText>I don&apos;t want to send an email to this lead.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NoTemplate</stringValue>
        </value>
    </choices>
    <constants>
        <name>Add1</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>None</name>
        <dataType>String</dataType>
        <value>
            <stringValue>--None--</stringValue>
        </value>
    </constants>
    <constants>
        <name>TypeEmail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </constants>
    <decisions>
        <name>AccountQualificationForced</name>
        <label>AccountQualificationForced</label>
        <locationX>1797</locationX>
        <locationY>660</locationY>
        <defaultConnector>
            <targetReference>Step_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Forced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForceAccountQualification</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_2</targetReference>
            </connector>
            <label>Forced</label>
        </rules>
    </decisions>
    <decisions>
        <name>Call_result_choice</name>
        <label>Call result choice</label>
        <locationX>1276</locationX>
        <locationY>459</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Person_contacted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CallResult</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Person contacted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Step_1</targetReference>
            </connector>
            <label>Person contacted</label>
        </rules>
        <rules>
            <name>Not_Reacheable</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Call_result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Reacheable</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Call_result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Answer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>First_call_and_valid_email</targetReference>
            </connector>
            <label>Not Reacheable</label>
        </rules>
        <rules>
            <name>Invalid_Number</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invalid Number</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Lead_s_phone_number</targetReference>
            </connector>
            <label>Invalid Number</label>
        </rules>
        <rules>
            <name>Invalid_lead_NO_Busines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_result</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invalid Lead - No Business</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateInvalidLead_0</targetReference>
            </connector>
            <label>Invalid lead - NO Busines</label>
        </rules>
    </decisions>
    <decisions>
        <description>The email must be valid for both choises. This info cames from Marketo</description>
        <name>First_call_and_valid_email</name>
        <label>First call and valid email?</label>
        <locationX>780</locationX>
        <locationY>678</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Call_attempts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Mkto_email_invalid__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Last_Call__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Email_Sending</targetReference>
            </connector>
            <label>YES</label>
        </rules>
        <rules>
            <name>NO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Call_attempts__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Mkto_email_invalid__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Last_Call__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Lead.Call_attempts__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reminder_Task_Creation</targetReference>
            </connector>
            <label>NO</label>
        </rules>
        <rules>
            <name>Last_Call_attempt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Last_call</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddCloseDelete</targetReference>
            </connector>
            <label>Last Call attempt</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invalid_Lead_No_Business</name>
        <label>Invalid Lead No Business</label>
        <locationX>1488</locationX>
        <locationY>644</locationY>
        <defaultConnector>
            <targetReference>Step_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Carry on process</defaultConnectorLabel>
        <rules>
            <name>Invalid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invalid_Lead1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateInvalidLead</targetReference>
            </connector>
            <label>Invalid</label>
        </rules>
        <rules>
            <name>Existing_Account_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Existing_Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetExistingAccount</targetReference>
            </connector>
            <label>Existing Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_contact_Lead</name>
        <label>Is a contact Lead ?</label>
        <locationX>2782</locationX>
        <locationY>1034</locationY>
        <defaultConnector>
            <targetReference>Finishing_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsContactLead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Contact Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mandatory_Picklists_Fulfilled</name>
        <label>Mandatory Picklists Fulfilled ?</label>
        <locationX>2258</locationX>
        <locationY>659</locationY>
        <defaultConnector>
            <targetReference>Show_Error_to_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Defined_Budget_n.value</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Expertise_Core_Business.topValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Expertise_Core_Business.middleValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Screen_5_Values</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_project</name>
        <label>New project?</label>
        <locationX>2468</locationX>
        <locationY>732</locationY>
        <defaultConnector>
            <targetReference>Update_Lead_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoNewProject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>No_New_Need</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Attempt_Up</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>NoCorrectAccount</name>
        <label>NoCorrectAccount</label>
        <locationX>1634</locationX>
        <locationY>908</locationY>
        <defaultConnector>
            <targetReference>Assign_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Needs_a_new_company</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewCompanyNeeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoCompany</targetReference>
            </connector>
            <label>Needs a new company</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen_OK</name>
        <label>Screen OK ?</label>
        <locationX>1250</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Show_Error_to_True_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Screen1OK</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Error_to_False</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Email_to_Send</name>
        <label>Which Email to Send ?</label>
        <locationX>474</locationX>
        <locationY>790</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Template_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChooseEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmailTemplate1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_notify_Lead</targetReference>
            </connector>
            <label>Email Template 1</label>
        </rules>
        <rules>
            <name>Email_Template_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChooseEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmailTemplate2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Template_2</targetReference>
            </connector>
            <label>Email Template 2</label>
        </rules>
        <rules>
            <name>Email_Template_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChooseEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmailTemplate3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Template_3</targetReference>
            </connector>
            <label>Email Template 3</label>
        </rules>
        <rules>
            <name>Email_Template_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChooseEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmailTemplate4</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_template_4</targetReference>
            </connector>
            <label>Email Template 4</label>
        </rules>
        <rules>
            <name>Email_Template_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChooseEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EmailTemplate5</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Template_5</targetReference>
            </connector>
            <label>Email Template 5</label>
        </rules>
        <rules>
            <name>No_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChooseEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoEmailTemplate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task_to_historize_email</targetReference>
            </connector>
            <label>No Email</label>
        </rules>
    </decisions>
    <description>RMA 16/10/20 :Ajoute Appetence For</description>
    <dynamicChoiceSets>
        <name>Accounting</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Accounting__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BusinessSoftware</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Business_Software__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CallResult</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Call_result__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Companybusiness</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Company_s_Business__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Competitor</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrentSolution_Competitor1__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CoreBusiness</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Core_Business__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DefinedBudget</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Defined_budget__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ERP</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ERP_CurrentIS__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Expensereports</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Expense_reports_CurrentIS__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Expertise</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Expertise__c</picklistField>
        <picklistObject>Lead</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Functionalneed</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Functional_need__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Lead_sChosenSolution</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lead_s_Chosen_Solution__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NationalIdException</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>National_ID_Exception__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Nature</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Nature__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Op_OD</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>OP_OD__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OperationalSystem</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Operational_System__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PartnershipLead</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Partnership__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PreferedLanguage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Preferred_Language__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Project_sfunctionaldomaine1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Project_s_functional_domaine_1__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Projectdeadline</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Project_deadline__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProjectsContextTrigger</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Project_s_context_and_trigger__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Recruitment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Recruitment_CurrentIS__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RejectionCauseList</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reject_Cause__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RetailSegmentation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Retail_Segmentation__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Roleindecision1</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role_in_decision_1__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalesPurpose</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sales_Purpose__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TaskType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeLead</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypePicklistChoices</name>
        <dataType>String</dataType>
        <displayField>Label</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EntityParticleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead.00N9E0000053m4W</stringValue>
            </value>
        </filters>
        <filters>
            <field>Value</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>CurrentTypeFormula</elementReference>
            </value>
        </filters>
        <object>PicklistValueInfo</object>
        <outputAssignments>
            <assignToReference>PostalCodeOut</assignToReference>
            <field>Value</field>
        </outputAssignments>
        <sortField>Label</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Value</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Workingtimemanagement</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Working_time_management_CurrentIS__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Add1Attempt</name>
        <dataType>Number</dataType>
        <expression>{!Get_Lead.Call_attempts__c}+{!Add1}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CalculatedOptyName</name>
        <dataType>String</dataType>
        <expression>{!Get_Lead.Name}+&quot; &quot;+ 
CASE({!Get_Lead.Expertise__c},
	&quot;110&quot;,&quot;CPA&quot;,
	&quot;350&quot;,&quot;ERP High&quot;,
	&quot;340&quot;,&quot;ERP Middle&quot;,
	&quot;320&quot;,&quot;HCM&quot;,
	&quot;200&quot;,&quot;Retail&quot;, 
	&quot;100&quot;,&quot;SMB&quot;,
	&quot;315&quot;,&quot;TAX&quot;,	
	&quot;999&quot;,&quot;Out of Expertise&quot;,&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>ContactLeadRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Label.Contact_Lead_Record_Type_Id}</expression>
    </formulas>
    <formulas>
        <name>CurrentTypeFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Get_Lead.Type__c})), &quot;Select an option&quot;, TEXT({!Get_Lead.Type__c}))</expression>
    </formulas>
    <formulas>
        <name>CurrentUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>FormulaExistingAccount</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!Get_Lead.Existing_Account__c}))</expression>
    </formulas>
    <formulas>
        <name>IsContactLead</name>
        <dataType>Boolean</dataType>
        <expression>{!Get_Lead.RecordTypeId} = {!$Label.Contact_Lead_Record_Type_Id}</expression>
    </formulas>
    <formulas>
        <name>Reminderdatetime</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(TODAY()+1)+&quot; &quot;+&apos;08:00:00&apos;)</expression>
    </formulas>
    <formulas>
        <description>Evaluate if fields are missing in screen 1</description>
        <name>Screen1OK</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK( {!Get_Lead.FirstName} ))</expression>
    </formulas>
    <formulas>
        <name>Tomorrow</name>
        <dataType>Date</dataType>
        <expression>Today()+1</expression>
    </formulas>
    <interviewLabel>Lead Qualification V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Qualification V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Reminder_Task_to_call_Lead</name>
        <label>Create Reminder Task to call Lead</label>
        <locationX>900</locationX>
        <locationY>959</locationY>
        <connector>
            <targetReference>Add_1_Attemp</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Next_attemp_at</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Reminder_Task_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReminderDateTime</field>
            <value>
                <elementReference>Reminderdatetime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Call Attempt</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_task_to_historize_email</name>
        <label>Create task to historize email</label>
        <locationX>644</locationX>
        <locationY>961</locationY>
        <connector>
            <targetReference>Reminder_Task_Creation</targetReference>
        </connector>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Thanks for having contacting us</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Get_Lead.Email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1972</locationX>
        <locationY>859</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Existing_Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>2980</locationX>
        <locationY>1039</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Lead.Contact__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Select the Lead on the Context variable</description>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>902</locationX>
        <locationY>367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Qualify_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetExistingAccount</name>
        <label>GetExistingAccount</label>
        <locationX>1458</locationX>
        <locationY>999</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Linktoexistingaccount</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Linktoexistingaccount</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CompanyOUT</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>GetExistingAccount_ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Close_Lead</name>
        <label>Close Lead</label>
        <locationX>1294</locationX>
        <locationY>1050</locationY>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>As the number is not valide, the field must be updated to avoid miss actions</description>
        <name>Delete_Lead_s_phone_number</name>
        <label>Delete Lead&apos;s phone number</label>
        <locationX>785</locationX>
        <locationY>509</locationY>
        <connector>
            <targetReference>First_call_and_valid_email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Direct_Phone__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Lead_Status_CLOSED_not_converted</name>
        <label>Lead Status CLOSED not converted</label>
        <locationX>1103</locationX>
        <locationY>1059</locationY>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>2856</locationX>
        <locationY>1300</locationY>
        <connector>
            <targetReference>Finishing_Line_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AccountUpdateError</targetReference>
        </faultConnector>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>3005</locationX>
        <locationY>1300</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ContactUpdateError</targetReference>
        </faultConnector>
        <inputReference>Get_Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>1738</locationX>
        <locationY>272</locationY>
        <connector>
            <targetReference>Step_3</targetReference>
        </connector>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0</name>
        <label>Update Lead</label>
        <locationX>2011</locationX>
        <locationY>502</locationY>
        <connector>
            <targetReference>Step_5</targetReference>
        </connector>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0_0</name>
        <label>Update Lead</label>
        <locationX>2274</locationX>
        <locationY>842</locationY>
        <connector>
            <targetReference>Step_6</targetReference>
        </connector>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0_0_0</name>
        <label>Update Lead</label>
        <locationX>2454</locationX>
        <locationY>511</locationY>
        <connector>
            <targetReference>Step_7</targetReference>
        </connector>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0_0_0_0</name>
        <label>Update Lead</label>
        <locationX>2609</locationX>
        <locationY>855</locationY>
        <connector>
            <targetReference>Log_Qualification_Call</targetReference>
        </connector>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0_0_0_0_0</name>
        <label>Update Lead</label>
        <locationX>2678</locationX>
        <locationY>359</locationY>
        <connector>
            <targetReference>Step_8</targetReference>
        </connector>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0_0_0_0_0_0</name>
        <label>Update Lead</label>
        <locationX>1393</locationX>
        <locationY>366</locationY>
        <connector>
            <targetReference>Invalid_Lead_No_Business</targetReference>
        </connector>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Call_attempts</name>
        <label>Update Lead Call attempts</label>
        <locationX>896</locationX>
        <locationY>1217</locationY>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_S3</name>
        <label>Update Lead S3</label>
        <locationX>1737</locationX>
        <locationY>521</locationY>
        <connector>
            <targetReference>Step_4</targetReference>
        </connector>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>AccountUpdateError</name>
        <label>AccountUpdateError</label>
        <locationX>2860</locationX>
        <locationY>1424</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>AccountErrorMessage</name>
            <fieldText>&lt;p&gt;A problem occured while updating the account linked to the contact lead.&lt;/p&gt;&lt;p&gt;It might be because of a duplicate rule violation. You can contact your Salesforce administrator for help.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Email_Sending</name>
        <label>Choose Email To Send</label>
        <locationX>630</locationX>
        <locationY>678</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_Email_to_Send</targetReference>
        </connector>
        <fields>
            <name>ConfirmEmailSending</name>
            <fieldText>&lt;p&gt;Please choose which email you would like to send to the lead :&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ChooseEmail</name>
            <choiceReferences>EmailTemplate2</choiceReferences>
            <choiceReferences>EmailTemplate3</choiceReferences>
            <choiceReferences>EmailTemplate4</choiceReferences>
            <choiceReferences>NoEmailTemplate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose Email</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ContactUpdateError</name>
        <label>ContactUpdateError</label>
        <locationX>3014</locationX>
        <locationY>1428</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ContactErrorMessage</name>
            <fieldText>&lt;p&gt;A problem occured while updating the contact linked to the contact lead.&lt;/p&gt;&lt;p&gt;You can contact your Salesforce administrator for help.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finishing_Line</name>
        <label>Finishing Line</label>
        <locationX>2594</locationX>
        <locationY>1139</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EndOfLine</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Congratulations!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>End</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(4, 127, 71); font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This lead is now qualified.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You can click the &quot;Finish&quot; button and then you are able to convert it by clicking on the &quot;Converted&quot; button.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finishing_Line_0</name>
        <label>Finishing Line</label>
        <locationX>2599</locationX>
        <locationY>1285</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EndOfLine_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Congratulations!&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>End_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This contact lead is now qualified.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;The account file and contact file have been updated. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;You can click the &quot;Finish&quot; button and then you are able to convert it by clicking on the &quot;Converted&quot; button.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Qualify_Process</name>
        <label>Lead Qualify Process</label>
        <locationX>1050</locationX>
        <locationY>366</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Call_result_choice</targetReference>
        </connector>
        <fields>
            <name>ShowExternalComment</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Lead request:&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!Get_Lead.External_Comment__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PhoneShow</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Phone:&lt;/b&gt; {!Get_Lead.Phone}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MobilePhoneShow</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Mobile Phone: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Lead.MobilePhone}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DirectPhoneShow</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Direct Phone: &lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Lead.Direct_Phone__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Call_attempts</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Call attempts : &lt;/b&gt;{!Get_Lead.Call_attempts__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Call_result</name>
            <choiceReferences>CallResult</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Call result</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Linktoexistingaccount</name>
        <label>Contact Lead - Link to existing account</label>
        <locationX>1741</locationX>
        <locationY>1033</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>NoCorrectAccount</targetReference>
        </connector>
        <fields>
            <name>DisplayExistingAccount</name>
            <fieldText>&lt;p&gt;Please select the existing account for {!Get_Lead.Company}:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExistingAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Existing_Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>GetExistingAccount_ID</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ForceAccountQualification</name>
            <dataType>Boolean</dataType>
            <fieldText>I want to qualify the account data (otherwise the screens will be skipped)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsContactLead</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewCompanyNeeded</name>
            <dataType>Boolean</dataType>
            <fieldText>The correct account cannot be found, I want to specify another company.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsContactLead</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoCompany</name>
        <label>NoCompany</label>
        <locationX>1641</locationX>
        <locationY>730</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoCompanyMessage</name>
            <fieldText>&lt;p&gt;If this contact lead is not linked to an existing account, please cancel it and create a new lead to properly qualify the account.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reject_cause</name>
        <label>Reject cause</label>
        <locationX>1291</locationX>
        <locationY>754</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RejectCauseInternalComment</targetReference>
        </connector>
        <fields>
            <name>RejectionCause</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Justify why this lead is not a valid one.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reject_CauseIn</name>
            <choiceReferences>RejectionCauseList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reject Cause</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Internal_CommentIN</name>
            <defaultValue>
                <stringValue>{!Get_Lead.Internal_Comment__c}</stringValue>
            </defaultValue>
            <fieldText>Internal Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Next call date definition and details</description>
        <name>Reminder_Task_Creation</name>
        <label>Reminder Task Creation</label>
        <locationX>787</locationX>
        <locationY>958</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Reminder_Task_to_call_Lead</targetReference>
        </connector>
        <fields>
            <name>ReminderCreation</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Reminder Task Creation&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next_attemp_at</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Tomorrow</elementReference>
            </defaultValue>
            <fieldText>Next attemp at</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;The date must be in the future or today.&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Next_attemp_at} &gt;= Today()</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Reminder_Task_Description</name>
            <fieldText>Reminder Task Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Provide a brief resume of this call.&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_call</name>
            <dataType>Boolean</dataType>
            <fieldText>Last call?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_1</name>
        <label>Step 1</label>
        <locationX>1193</locationX>
        <locationY>291</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Screen_1_values</targetReference>
        </connector>
        <fields>
            <name>LeadsDetails</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Step 1/8 - Contact Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShowError</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;﻿Error : Please fill all required fields.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowError1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>firstName</name>
                <value>
                    <elementReference>Get_Lead.FirstName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>lastName</name>
                <value>
                    <elementReference>Get_Lead.LastName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salutationOptions</name>
                <value>
                    <stringValue>Mr.,Mrs.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salutation</name>
                <value>
                    <elementReference>Get_Lead.Salutation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldsToDisplayList</name>
                <value>
                    <stringValue>salutation,firstName,lastName</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>* Name</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>LastNameOut</assignToReference>
                <name>lastName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FirstNameOut</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SalutationOut</assignToReference>
                <name>salutation</name>
            </outputParameters>
        </fields>
        <fields>
            <name>EmailFlowCheck</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Lead.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>* Email</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>LeadEmailOut</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Direct_PhoneFlow</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Direct Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Lead.Direct_Phone__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>DirectPhoneOut</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Mobile_PhoneFlow</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile Phone</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Lead.MobilePhone</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>MobilePhoneOut</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Phone1</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Lead.Phone</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>PhoneOut</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ServiceFunction</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Service__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Function__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>* Service</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Get_Lead.Service__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>* Function</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>Get_Lead.Function__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Get_Lead.Service__c</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Get_Lead.Function__c</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AddressFlow</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Get_Lead.City</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Get_Lead.Country</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Get_Lead.Street</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Get_Lead.State</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Get_Lead.PostalCode</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CityOut</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CountryOut</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>PostalCodeOut</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>StateProvinceOut</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>StreetOut</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Prefered_language</name>
            <choiceReferences>PreferedLanguage</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Prefered language</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Invalid_Lead1</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Invalid Lead</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;{!InvalidLeadHelpText}&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Existing_Account</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>FormulaExistingAccount</elementReference>
            </defaultValue>
            <fieldText>Existing Account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_2</name>
        <label>Step 2</label>
        <locationX>1551</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Screen_2_values</targetReference>
        </connector>
        <fields>
            <name>CompanyDetails</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Step 2/8 - Company&apos;s Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CompanyIN</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Company</elementReference>
            </defaultValue>
            <fieldText>Company</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>TypePartnershipSelect</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Partnership__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Get_Lead.Type__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Partnership</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>Get_Lead.Partnership__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Get_Lead.Type__c</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Get_Lead.Partnership__c</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>IndustryCodeSelect</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Industry_Code__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Industry Code</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Lead.Industry_Code__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>National_IDIN</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.National_ID__c</elementReference>
            </defaultValue>
            <fieldText>National ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Intercommunity_VAT_number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Intercommunity_VAT_number__c</elementReference>
            </defaultValue>
            <fieldText>Intercommunity VAT number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;VAT number is mandatory for account creation for all countries except France, Spain and UK. &lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>National_Id_ExceptionIN</name>
            <choiceReferences>NationalIdException</choiceReferences>
            <choiceReferences>CurrentNationalIdException</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CurrentNationalIdException</defaultSelectedChoiceReference>
            <fieldText>National Id Exception</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Lead.National_ID__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>National_IDIN</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Website</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Website</elementReference>
            </defaultValue>
            <fieldText>Website</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Lead&apos;s Administractive Information section in the layout</description>
        <name>Step_3</name>
        <label>Step 3</label>
        <locationX>1790</locationX>
        <locationY>405</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Screen_3_values</targetReference>
        </connector>
        <fields>
            <name>AdministractiveInformation</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Step 3/8 - Company&apos;s Details&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Annual_Revenue_In</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Lead.AnnualRevenue</elementReference>
            </defaultValue>
            <fieldText>Annual Revenue</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>No_of_EmployeesIn</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Lead.NumberOfEmployees</elementReference>
            </defaultValue>
            <fieldText>No. of Employees</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>No_of_EstablishmentsIn</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Lead.No_of_establishments__c</elementReference>
            </defaultValue>
            <fieldText>No. of Establishments</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>No_of_Stores</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Lead.No_of_Stores__c</elementReference>
            </defaultValue>
            <fieldText>No. of Stores</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Payslips_per_monthIn</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Payslips_per_month__c</elementReference>
            </defaultValue>
            <fieldText>Payslips per month</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Prescriber</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Prescriber__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Prescriber</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Lead.Prescriber__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_4</name>
        <label>Step 4</label>
        <locationX>1940</locationX>
        <locationY>438</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Screen_4_Values</targetReference>
        </connector>
        <fields>
            <name>InstalledEquipment</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Step 4/8 - Current Solutions&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CoreBusinessCompetitor1</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>CurrentSolution_CoreBusiness1__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>CurrentSolution_Competitor1__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Core Business 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Get_Lead.CurrentSolution_CoreBusiness1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Competitor 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>Get_Lead.CurrentSolution_Competitor1__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CoreBusinessCompetitor2</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>CurrentSolution_CoreBusiness2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>CurrentSolution_Competitor2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Core Business 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Competitor 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Get_Lead.CurrentSolution_CoreBusiness1__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>Get_Lead.CurrentSolution_Competitor2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CoreBusinessCompetitor3</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>CurrentSolution_CoreBusiness3__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>CurrentSolution_Competitor3__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Core Business 3</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Get_Lead.CurrentSolution_CoreBusiness3__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Competitor 3</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>Get_Lead.CurrentSolution_Competitor3__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_5</name>
        <label>Step 5</label>
        <locationX>2017</locationX>
        <locationY>726</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Mandatory_Picklists_Fulfilled</targetReference>
        </connector>
        <fields>
            <name>MANACTMoney</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Step 5/8 -&amp;nbsp;Money&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Error : Please fill all required fields.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ShowError1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Defined_Budget_n</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>* Defined Budget</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Defined_budget__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Lead.Defined_budget__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Budget_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Amount__c</elementReference>
            </defaultValue>
            <fieldText>Budget Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>MANACT_Ability1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Ability&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LeadChosenSolution</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;Lead&apos;s chosen Solution: {!Get_Lead.Lead_s_Chosen_Solution__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Appetence_for_c</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Appetence_For__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Appetence For</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Lead.Appetence_For__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Expertise_Core_Business</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Expertise__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Core_Business__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>* Expertise</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Get_Lead.Expertise__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>* Core Business</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>Get_Lead.Core_Business__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_6</name>
        <label>Step 6</label>
        <locationX>2347</locationX>
        <locationY>785</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Screen_6_Picklists</targetReference>
        </connector>
        <fields>
            <name>MANACTNeed</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Step 6/8 - Need&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DescriptionInput</name>
            <defaultValue>
                <stringValue>{!Get_Lead.Internal_Comment__c}</stringValue>
            </defaultValue>
            <fieldText>Need Description (Internal Comment)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sales_Purpose_n</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Sales_Purpose__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Sales Purpose</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Lead.Sales_Purpose__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Project_Context</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Project_s_context_and_trigger__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Project&apos;s context trigger</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Lead.Project_s_context_and_trigger__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Number_of_companies</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Lead.No_of_Companies__c</elementReference>
            </defaultValue>
            <fieldText>Number of companies</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Number_of_Users</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_Lead.No_of_Users__c</elementReference>
            </defaultValue>
            <fieldText>Number of Users</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Operational_System_n</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Operational_System__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Operational System</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Lead.Operational_System__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OP_OD_n</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>OP_OD__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>OP/OD</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Lead.OP_OD__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>No_New_Need</name>
            <dataType>Boolean</dataType>
            <fieldText>No New Need?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Click here if there is no new project&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_7</name>
        <label>Step 7</label>
        <locationX>2374</locationX>
        <locationY>333</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Screen_7_picklists</targetReference>
        </connector>
        <fields>
            <name>MANACTAuthority</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Step 7/8 - Authority&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Project_s_associated_contact_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Project_s_associated_contact_1__c</elementReference>
            </defaultValue>
            <fieldText>Project&apos;s associated contact 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Role_In_Decision_n1</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Role_in_decision_1__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Role in decision 1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Lead.Role_in_decision_1__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AvailabilityInput1</name>
            <defaultValue>
                <stringValue>{!Get_Lead.Availability1__c}</stringValue>
            </defaultValue>
            <fieldText>Availability</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Project_s_associated_contact_2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Lead.Project_s_associated_contact_2__c</elementReference>
            </defaultValue>
            <fieldText>Project&apos;s associated contact 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Role_In_Decision_n2</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Role_in_decision_2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Role in decision 2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Lead.Role_in_decision_2__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>AvailabilityInput2</name>
            <defaultValue>
                <stringValue>{!Get_Lead.Availability2__c}</stringValue>
            </defaultValue>
            <fieldText>Availability</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Step_8</name>
        <label>Step 8</label>
        <locationX>2570</locationX>
        <locationY>525</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Screen_8_picklist</targetReference>
        </connector>
        <fields>
            <name>MANACTCompetitorTime</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Step 8/8 - Competitor / Time&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Competitors</name>
            <choiceReferences>Competitor</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Competitors</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Project_Deadline_n</name>
            <extensionName>c:quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowNoneToBeChosen</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Project_deadline__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Project Deadline</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Lead.Project_deadline__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>562</locationX>
        <locationY>368</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>FriendlyErrorMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;pre class=&quot;ql-syntax&quot; spellcheck=&quot;false&quot;&gt;&amp;lt;p&amp;gt;&amp;lt;b&amp;gt;Something went wrong with this flow.&amp;lt;/b&amp;gt;&amp;lt;/p&amp;gt;
&amp;lt;p&amp;gt;This might be because you forgot to fulfill a mandatory field.&amp;lt;/p&amp;gt;

&lt;/pre&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>InvalidLeadHelpText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;If you recognise that this lead will not became new business, please check this field.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CityOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CompanyOUT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Lead.Company</elementReference>
        </value>
    </variables>
    <variables>
        <name>CountryOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Lead.Description</elementReference>
        </value>
    </variables>
    <variables>
        <name>DirectPhoneOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExistingAccountIDOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExternalComment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Get_Lead.External_Comment__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>FirstNameOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetExistingAccount_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IndustryCodeOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LastNameOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadEmailOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoopOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>MarketingStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_Lead.Marketing_Status__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>MobilePhoneOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>None1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>--None--</stringValue>
        </value>
    </variables>
    <variables>
        <name>OpportunityToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>PhoneOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PostalCodeOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrescriberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalutationOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShowError1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>StateProvinceOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StreetOut</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
