unpackaged/main/default/flows/New_Clone_Product_with_Related.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Continue_Assigment_In_Apex</name>
        <label>Continue Assigment In Apex</label>
        <locationX>1556</locationX>
        <locationY>1884</locationY>
        <actionName>AP06_ProductOptionFeatures</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Related_Main_Charge</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>productIds</name>
            <value>
                <elementReference>NewCreatedProductIds</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Current_To_Custom_PBE_Collection</name>
        <label>Add Current To Custom PBE Collection</label>
        <locationX>822</locationX>
        <locationY>1086</locationY>
        <assignmentItems>
            <assignToReference>CreateNewCustomPBECollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_Custom_PBE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Custom_PBE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_current_to_PBE_Collection</name>
        <label>Add current  to PBE Collection</label>
        <locationX>50</locationX>
        <locationY>748</locationY>
        <assignmentItems>
            <assignToReference>CreateNewPBECollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_PBE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_PBE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Current_to_Product_Feature_Collection</name>
        <label>Add Current to Product Feature Collection</label>
        <locationX>1799</locationX>
        <locationY>1155</locationY>
        <assignmentItems>
            <assignToReference>CreateNewProductFeatureCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_Product_Features</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Product_Features</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_current_to_Product_Option_Collection</name>
        <label>Add current  to Product Option Collection</label>
        <locationX>1482</locationX>
        <locationY>2039</locationY>
        <assignmentItems>
            <assignToReference>CreateNewProductOptionCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_on_product_option</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_product_option</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Current_to_SLP_Collection</name>
        <label>Add Current to SLP Collection</label>
        <locationX>1689</locationX>
        <locationY>610</locationY>
        <assignmentItems>
            <assignToReference>CreateNewSLPCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_On_SLP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_SLP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Addign_SLP_To_New_Cloned_Product</name>
        <label>Addign SLP To New Cloned Product</label>
        <locationX>1857</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>Loop_On_SLP.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_SLP.RecordKey__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_SLP.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_to_SLP_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_all_fields_to_cloned_product</name>
        <label>Assign all fields to cloned product</label>
        <locationX>1398</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>ProductToCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_to_clone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_specific_new_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_PBE</name>
        <label>Assign Custom PBE</label>
        <locationX>687</locationX>
        <locationY>1299</locationY>
        <assignmentItems>
            <assignToReference>ExistingCustomPBE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pricebook_To_Clone_Custom</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Custom_PBE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Custom_PBE_To_New_Cloned_Product</name>
        <label>Assign Custom PBE To New Cloned Product</label>
        <locationX>1040</locationX>
        <locationY>1087</locationY>
        <assignmentItems>
            <assignToReference>Loop_On_Custom_PBE.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_Custom_PBE.GearsetExternalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_To_Custom_PBE_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Field_to_PBE</name>
        <label>Assign Field to PBE</label>
        <locationX>407</locationX>
        <locationY>437</locationY>
        <assignmentItems>
            <assignToReference>ExistingPBE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pricebook_To_Clone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_PBE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Field_To_Product_Feature</name>
        <label>Assign Field To Product Feature</label>
        <locationX>1532</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>ExistingProductFeatures</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Feature_To_Clone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_Product_Features</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Field_To_Product_Option</name>
        <label>Assign Field To Product Option</label>
        <locationX>1267</locationX>
        <locationY>1727</locationY>
        <assignmentItems>
            <assignToReference>ProductOptionToCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Option_to_Cloned</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProductId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewCreatedProductIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_product_option</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Field_to_SLP</name>
        <label>Assign Field to SLP</label>
        <locationX>1567</locationX>
        <locationY>833</locationY>
        <assignmentItems>
            <assignToReference>ExistingSLP</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_SLP_To_Clone</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_SLP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Record_Id</name>
        <label>Assign New Record Id</label>
        <locationX>1267</locationX>
        <locationY>2094</locationY>
        <assignmentItems>
            <assignToReference>loop_on_product_option.SBQQ__ConfiguredSKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_on_product_option.OriginalFeature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_on_product_option.SBQQ__Feature__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_on_product_option.SBQQ__Feature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_on_product_option.GearsetExternalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_on_product_option.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_current_to_Product_Option_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_PBE_To_New_Cloned_Product</name>
        <label>Assign PBE To New Cloned Product</label>
        <locationX>285</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Loop_On_PBE.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_PBE.GearsetExternalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_current_to_PBE_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ProductFeature_to_New_Cloned_Product</name>
        <label>Assign ProductFeature to New Cloned Product</label>
        <locationX>2065</locationX>
        <locationY>1160</locationY>
        <assignmentItems>
            <assignToReference>Loop_On_Product_Features.SBQQ__ConfiguredSKU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductToCreate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_Product_Features.Original_Feature_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Product_Features.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_Product_Features.GearsetExternalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_On_Product_Features.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Current_to_Product_Feature_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_specific_new_values</name>
        <label>Assign specific new values</label>
        <locationX>1322</locationX>
        <locationY>381</locationY>
        <assignmentItems>
            <assignToReference>ProductToCreate.Version__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VersionFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.date_synchro_buyme__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.Synchronisation_Zuora__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.Synchronization_Date_Zuora__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.Tech_CPQ_Id__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.Marketing_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non_Marketable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.Bypass_Flux_Calculation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.DeployID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.ExternalId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.ExternalDataSourceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.id_buyme__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.Name</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&apos; - CLONE&apos;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.Cloned_from_Product_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.StockKeepingUnit</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductToCreate.GearsetExternalId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_the_clone_product</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_New_PBE</name>
        <label>Update New PBE</label>
        <locationX>901</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>UpdateNewlyCreatedPBE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_on_Newly_Created_Pricebook</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_on_Newly_Created_Pricebook</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PriceBook_Entry</name>
        <label>Update PriceBook Entry</label>
        <locationX>1036</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>loop_on_Newly_Created_Pricebook.UseStandardPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Price_book_to_Replicate.UseStandardPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_on_Newly_Created_Pricebook.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Price_book_to_Replicate.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_on_Newly_Created_Pricebook.Reference_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Price_book_to_Replicate.Reference_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_on_Newly_Created_Pricebook.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Price_book_to_Replicate.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loop_on_Newly_Created_Pricebook.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_Price_book_to_Replicate.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_New_PBE</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_A_new_Pricebook_has_been_Created</name>
        <label>Check If A new Pricebook has been Created</label>
        <locationX>743</locationX>
        <locationY>438</locationY>
        <defaultConnector>
            <targetReference>Assign_Field_to_PBE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>There_is_Already_a_standard_Pricebook</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Newly_Created_PriceBook</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pricebook_To_Clone_Custom</targetReference>
            </connector>
            <label>There is Already a standard Pricebook</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Product_Id_s_are_the_Same</name>
        <label>Check If Product Id&apos;s are the Same</label>
        <locationX>1029</locationX>
        <locationY>774</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_Id_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_on_Newly_Created_Pricebook.Product2Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_On_Price_book_to_Replicate.Product2Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PriceBook_Entry</targetReference>
            </connector>
            <label>Product Id Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsBlockProduct</name>
        <label>IsBlockProduct</label>
        <locationX>949</locationX>
        <locationY>199</locationY>
        <defaultConnector>
            <targetReference>Get_Newly_Created_PriceBook</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductToCreate.SBQQ__PricingMethod__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Block</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Block_Price</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Charge_Found</name>
        <label>Related Charge Found</label>
        <locationX>1849</locationX>
        <locationY>1886</locationY>
        <defaultConnector>
            <targetReference>Cloned_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesMainCharge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Main_Charge</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_with_Related_Charge</targetReference>
            </connector>
            <label>YesMainCharge</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>VersionFormula</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY())) + LPAD(TEXT(MONTH(TODAY())),2,&quot;0&quot;) + LPAD(TEXT(DAY(TODAY())),2,&quot;0&quot;) + &quot;-V&quot; +TEXT(VALUE(RIGHT({!Get_Product_to_clone.Version__c},LEN({!Get_Product_to_clone.Version__c})-1-FIND(&quot;-V&quot;,{!Get_Product_to_clone.Version__c})))+1)</expression>
    </formulas>
    <interviewLabel>New Clone Product with Related {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Clone Product with Related</label>
    <loops>
        <name>Loop_On_Custom_PBE</name>
        <label>Loop On Custom PBE</label>
        <locationX>903</locationX>
        <locationY>1299</locationY>
        <collectionReference>ExistingCustomPBE</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Custom_PBE_To_New_Cloned_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Custom_PBE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_on_Newly_Created_Pricebook</name>
        <label>loop on Newly Created Pricebook</label>
        <locationX>751</locationX>
        <locationY>593</locationY>
        <collectionReference>Get_Newly_Created_PriceBook</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_On_Price_book_to_Replicate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_PBE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_PBE</name>
        <label>Loop On PBE</label>
        <locationX>292</locationX>
        <locationY>594</locationY>
        <collectionReference>ExistingPBE</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_PBE_To_New_Cloned_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_PBE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_Price_book_to_Replicate</name>
        <label>Loop On Price book to Replicate</label>
        <locationX>754</locationX>
        <locationY>774</locationY>
        <collectionReference>Get_Pricebook_To_Clone</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_Product_Id_s_are_the_Same</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_On_Product_Features</name>
        <label>Loop On Product Features</label>
        <locationX>1779</locationX>
        <locationY>1381</locationY>
        <collectionReference>ExistingProductFeatures</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ProductFeature_to_New_Cloned_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Product_Features</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_on_product_option</name>
        <label>loop on product option</label>
        <locationX>1267</locationX>
        <locationY>1897</locationY>
        <collectionReference>ProductOptionToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Record_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_new_Product_Option</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_On_SLP</name>
        <label>Loop On SLP</label>
        <locationX>1764</locationX>
        <locationY>795</locationY>
        <collectionReference>ExistingSLP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Addign_SLP_To_New_Cloned_Product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_SLP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Block_Price</name>
        <label>Create Block Price</label>
        <locationX>672</locationX>
        <locationY>195</locationY>
        <connector>
            <targetReference>Get_Newly_Created_PriceBook</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>N/A</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SBQQ__Product__c</field>
            <value>
                <elementReference>ProductToCreate.Id</elementReference>
            </value>
        </inputAssignments>
        <object>SBQQ__BlockPrice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Custom_PBE</name>
        <label>Create Custom PBE</label>
        <locationX>1085</locationX>
        <locationY>1292</locationY>
        <connector>
            <targetReference>Get_SLP_To_Clone</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Cloned_ProductErrorScreen</targetReference>
        </faultConnector>
        <inputReference>CreateNewCustomPBECollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_PBE</name>
        <label>Create New PBE</label>
        <locationX>587</locationX>
        <locationY>862</locationY>
        <connector>
            <targetReference>Get_Pricebook_To_Clone_Custom</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Cloned_ProductErrorScreen</targetReference>
        </faultConnector>
        <inputReference>CreateNewPBECollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Product_Features</name>
        <label>Create New Product Features</label>
        <locationX>1971</locationX>
        <locationY>1639</locationY>
        <connector>
            <targetReference>Get_Product_Option_to_Cloned</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Cloned_ProductErrorScreen</targetReference>
        </faultConnector>
        <inputReference>CreateNewProductFeatureCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_SLP</name>
        <label>Create New SLP</label>
        <locationX>2030</locationX>
        <locationY>801</locationY>
        <connector>
            <targetReference>Get_Product_Feature_To_Clone</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Cloned_ProductErrorScreen</targetReference>
        </faultConnector>
        <inputReference>CreateNewSLPCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_the_clone_product</name>
        <label>Create the clone product</label>
        <locationX>1330</locationX>
        <locationY>560</locationY>
        <connector>
            <targetReference>IsBlockProduct</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Cloned_ProductErrorScreen</targetReference>
        </faultConnector>
        <inputReference>ProductToCreate</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Insert_new_Product_Option</name>
        <label>Insert new Product Option</label>
        <locationX>1556</locationX>
        <locationY>1655</locationY>
        <connector>
            <targetReference>Continue_Assigment_In_Apex</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Cloned_ProductErrorScreen</targetReference>
        </faultConnector>
        <inputReference>CreateNewProductOptionCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Newly_Created_PriceBook</name>
        <label>Get Newly Created PriceBookEntry</label>
        <locationX>674</locationX>
        <locationY>318</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pricebook_To_Clone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Standard_Pricebook_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductToCreate.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_To_Clone</name>
        <label>Get Pricebook To Clone</label>
        <locationX>836</locationX>
        <locationY>317</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_A_new_Pricebook_has_been_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Standard_Pricebook_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_To_Clone_Custom</name>
        <label>Get Pricebook To Clone Custom</label>
        <locationX>686</locationX>
        <locationY>1023</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Custom_PBE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Label.Standard_Pricebook_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Feature_To_Clone</name>
        <label>Get Product Feature To Clone</label>
        <locationX>1594</locationX>
        <locationY>1088</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Field_To_Product_Feature</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__ProductFeature__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Option_to_Cloned</name>
        <label>Get Product Option to Cloned</label>
        <locationX>1265</locationX>
        <locationY>1594</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Field_To_Product_Option</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__ConfiguredSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__ProductOption__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_to_clone</name>
        <label>Get Product to clone</label>
        <locationX>1524</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_all_fields_to_cloned_product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Main_Charge</name>
        <label>Get Related (Main) Charge</label>
        <locationX>1734</locationX>
        <locationY>1883</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Charge_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Main_Charge_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SLP_To_Clone</name>
        <label>Get SLP To Clone</label>
        <locationX>1493</locationX>
        <locationY>609</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Field_to_SLP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_Level_Price__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_PBE</name>
        <label>Update PBE</label>
        <locationX>897</locationX>
        <locationY>696</locationY>
        <faultConnector>
            <targetReference>Cloned_ProductErrorScreen</targetReference>
        </faultConnector>
        <inputReference>UpdateNewlyCreatedPBE</inputReference>
    </recordUpdates>
    <screens>
        <name>Cloned_Product</name>
        <label>Cloned Product Success</label>
        <locationX>2080</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Screen_success</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Label.Flow_CloneSuccess}&lt;/i&gt;&lt;/p&gt;&lt;p&gt;Go To &lt;a href=&quot;/lightning/r/Product2/{!NewProductId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Cloned Product&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cloned_ProductErrorScreen</name>
        <label>Cloned_Product</label>
        <locationX>1333</locationX>
        <locationY>1150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(215, 16, 16);&quot;&gt;There is something wrong&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(215, 16, 16);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_with_Related_Charge</name>
        <label>Success with Related Charge</label>
        <locationX>2079</locationX>
        <locationY>1969</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Congratulation_0</name>
            <fieldText>&lt;p&gt;&lt;i&gt;{!$Label.Flow_CloneSuccess}&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Go To &lt;/span&gt;&lt;a href=&quot;/lightning/r/Product2/{!NewProductId}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Cloned Product&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Label.Flow_CloneAlertMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1684</locationX>
        <locationY>177</locationY>
        <connector>
            <targetReference>Get_Product_to_clone</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CreateNewCustomPBECollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>CreateNewPBECollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>CreateNewProductFeatureCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductFeature__c</objectType>
    </variables>
    <variables>
        <name>CreateNewProductOptionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
    <variables>
        <name>CreateNewSLPCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Level_Price__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Collect_PO_Ids</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductFeature__c</objectType>
    </variables>
    <variables>
        <name>ExistingCustomPBE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>ExistingPBE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
    <variables>
        <name>ExistingProductFeatures</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductFeature__c</objectType>
    </variables>
    <variables>
        <name>ExistingSLP</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Level_Price__c</objectType>
    </variables>
    <variables>
        <name>NewCreatedProductIds</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>NewProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProductOptionToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
    <variables>
        <name>ProductToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateNewlyCreatedPBE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PricebookEntry</objectType>
    </variables>
</Flow>
