unpackaged/main/default/flows/Opportunity_Attributes_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Agency_for_not_IS</name>
        <label>Assign Agency for not IS</label>
        <locationX>1040</locationX>
        <locationY>269</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory_Attributes.Agency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Distributor_Partner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Channel_Agency_for_IS</name>
        <label>Assign Channel &amp; Agency for IS</label>
        <locationX>1046</locationX>
        <locationY>435</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>003</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Owner_Attributes.Agency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Channel_if_distributor_partner</name>
        <label>Assign Channel if distributor partner</label>
        <locationX>1486</locationX>
        <locationY>99</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>002</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Channel_without_distributor_partner</name>
        <label>Assign Channel without distributor partner</label>
        <locationX>1391</locationX>
        <locationY>309</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>001</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign all attributes whatever the owner attributes</description>
        <name>Assign_Opty_attributes_from_territory</name>
        <label>Assign Opty attributes from territory</label>
        <locationX>819</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.BU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory_Attributes.BU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.CommercialOrganization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory_Attributes.CommercialOrganization__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Sales_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory_Attributes.Sales_Region__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory_Attributes.Job__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.TerritoryCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory_Attributes.TerritoryCode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Territory2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TerritoryID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.TECH_By_Pass_VR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.TECH_Territory_To_Be_Calculated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.TECH_Territory_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TerritoryID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isOwnerIS</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_A_Territory</name>
        <label>Has A  Territory ?</label>
        <locationX>594</locationX>
        <locationY>378</locationY>
        <defaultConnectorLabel>No Territory</defaultConnectorLabel>
        <rules>
            <name>Has_Territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Territory_Attributes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Owner_Attributes</targetReference>
            </connector>
            <label>Has Territory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Distributor_Partner</name>
        <label>Has Distributor Partner ?</label>
        <locationX>1154</locationX>
        <locationY>229</locationY>
        <defaultConnector>
            <targetReference>Assign_Channel_without_distributor_partner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No distributor partner</defaultConnectorLabel>
        <rules>
            <name>Distributor_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Partner_Distributor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Channel_if_distributor_partner</targetReference>
            </connector>
            <label>Distributor Partner</label>
        </rules>
    </decisions>
    <decisions>
        <name>isOwnerIS</name>
        <label>isOwnerIS</label>
        <locationX>812</locationX>
        <locationY>375</locationY>
        <defaultConnector>
            <targetReference>Assign_Agency_for_not_IS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Owner not IS</defaultConnectorLabel>
        <rules>
            <name>Owner_IS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Owner_Attributes.Sale_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Inside Sales</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Channel_Agency_for_IS</targetReference>
            </connector>
            <label>Owner IS</label>
        </rules>
    </decisions>
    <description>Correction Bug 1109</description>
    <interviewLabel>Opportunity Attributes Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Attributes Calculation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>400</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Territory_Attributes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_Attributes</name>
        <label>Get Owner Attributes</label>
        <locationX>669</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Opty_attributes_from_territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory_Attributes</name>
        <label>Get Territory Attributes</label>
        <locationX>538</locationX>
        <locationY>574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_A_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TerritoryID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2</object>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1474</locationX>
        <locationY>615</locationY>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>60</locationX>
        <locationY>576</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Input - OpportunityID</description>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TerritoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
