unpackaged/main/default/flows/Opportunity_Territory_Calculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>If we found an CPA  territory for the user and account, we store it for future use</description>
        <name>Store_CPA_Territory_ID</name>
        <label>Store CPA Territory ID</label>
        <locationX>1013</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>CPATerritoryID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory_User_Account_Territory_In_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Account_User_Territory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If we found an ERP middle territory for the user and account, we store it for future use</description>
        <name>Store_ERP_Middle_Territory_ID</name>
        <label>Store ERP Middle Territory ID</label>
        <locationX>852</locationX>
        <locationY>261</locationY>
        <assignmentItems>
            <assignToReference>ERPMiddleTerritoryID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory_User_Account_Territory_In_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Account_User_Territory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If we found an SMB territory for the user and account, we store it for future use</description>
        <name>Store_SMB_Territory_ID_0</name>
        <label>Store SMB Territory ID</label>
        <locationX>870</locationX>
        <locationY>141</locationY>
        <assignmentItems>
            <assignToReference>SMBTerritoryID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory_User_Account_Territory_In_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Account_User_Territory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Territory_Calculated_0</name>
        <label>Territory Calculated</label>
        <locationX>1622</locationX>
        <locationY>1221</locationY>
        <assignmentItems>
            <assignToReference>CalculatedTerritoryID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory_User_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Territory_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Territory_Calculated_0_0</name>
        <label>Territory Calculated</label>
        <locationX>2191</locationX>
        <locationY>399</locationY>
        <assignmentItems>
            <assignToReference>CalculatedTerritoryID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountUserTerritoryInLoop.Territory2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Territory_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Territory_Calculated_CPA</name>
        <label>Territory Calculated - CPA</label>
        <locationX>1317</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>CalculatedTerritoryID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CPATerritoryID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Territory_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Territory_Calculated_ERP_Middle</name>
        <label>Territory Calculated - ERP Middle</label>
        <locationX>1403</locationX>
        <locationY>983</locationY>
        <assignmentItems>
            <assignToReference>CalculatedTerritoryID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ERPMiddleTerritoryID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Territory_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Territory_Calculated_No_Territory</name>
        <label>Territory Calculated - No Territory</label>
        <locationX>2193</locationX>
        <locationY>1057</locationY>
        <assignmentItems>
            <assignToReference>CalculatedTerritoryID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_No_Territory_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Territory_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Territory_Calculated_SMB</name>
        <label>Territory Calculated - SMB</label>
        <locationX>1112</locationX>
        <locationY>1059</locationY>
        <assignmentItems>
            <assignToReference>CalculatedTerritoryID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SMBTerritoryID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Territory_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Territory_Calculated_Territory_with_Same_Expertise</name>
        <label>Territory Calculated - Territory with Same Expertise</label>
        <locationX>2049</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CalculatedTerritoryID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Territory_Account_Share_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Territory_Found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unflag_Territory_To_Be_Calculated</name>
        <label>Unflag Territory To Be Calculated</label>
        <locationX>2449</locationX>
        <locationY>554</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.TECH_Territory_To_Be_Calculated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.TECH_By_Pass_VR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Oppy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_TECH_Territory_Id_0</name>
        <label>Update TECH Territory Id</label>
        <locationX>2415</locationX>
        <locationY>889</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.TECH_Territory_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculatedTerritoryID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Opportunity.TECH_By_Pass_VR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Oppy_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_Model_Territory</name>
        <label>Active Model Territory ?</label>
        <locationX>1218</locationX>
        <locationY>441</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Account_User_Territory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Model</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Territory_User_Account_Territory_In_Loop</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Territory_Channel</targetReference>
            </connector>
            <label>Active Model</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Expertise</name>
        <label>Check Expertise</label>
        <locationX>637</locationX>
        <locationY>577</locationY>
        <defaultConnector>
            <targetReference>Get_Account_User_Territory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Out_Of_Expertise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Expertise__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>999</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_No_Territory_ID</targetReference>
            </connector>
            <label>Out Of Expertise</label>
        </rules>
        <rules>
            <name>CPA_or_SMB</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Expertise__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>110</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Expertise__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_User_Territory</targetReference>
            </connector>
            <label>CPA or SMB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Expertise_Oppy_vs_Territory</name>
        <label>Check Expertise Oppy vs Territory</label>
        <locationX>1632</locationX>
        <locationY>628</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Account_Share</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_Expertise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Territory_Account_Share_Loop.Expertise__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Opportunity.Expertise__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Territory_Calculated_Territory_with_Same_Expertise</targetReference>
            </connector>
            <label>Same Expertise</label>
        </rules>
        <rules>
            <name>Oppy_CPA_Territory_SMB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Expertise__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>110</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Territory_Account_Share_Loop.Expertise__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Territory_Calculated_Territory_with_Same_Expertise</targetReference>
            </connector>
            <label>Oppy CPA Territory SMB</label>
        </rules>
        <rules>
            <name>Oppy_SMB_Territory_CPA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Expertise__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Territory_Account_Share_Loop.Expertise__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>110</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Territory_Calculated_Territory_with_Same_Expertise</targetReference>
            </connector>
            <label>Oppy SMB Territory CPA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Oppy_Expertise_and_Existing_User_Account_Territory</name>
        <label>Check Oppy Expertise and Existing User Account Territory</label>
        <locationX>803</locationX>
        <locationY>841</locationY>
        <defaultConnector>
            <targetReference>Get_oppy_Owner_Territories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Oppy_CPA_with_ERP_Middle_Territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Expertise__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>110</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ERPMiddleTerritoryID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Territory_Calculated_ERP_Middle</targetReference>
            </connector>
            <label>Oppy CPA with ERP Middle Territory</label>
        </rules>
        <rules>
            <name>Oppy_SMB_with_ERP_Middle_Territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Expertise__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ERPMiddleTerritoryID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Territory_Calculated_ERP_Middle</targetReference>
            </connector>
            <label>Oppy SMB with ERP Middle Territory</label>
        </rules>
        <rules>
            <name>Oppy_CPA_with_SMB_Territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Expertise__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>110</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SMBTerritoryID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Territory_Calculated_SMB</targetReference>
            </connector>
            <label>Oppy CPA with SMB Territory</label>
        </rules>
        <rules>
            <name>Oppy_SMB_with_CPA_Territory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Expertise__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CPATerritoryID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Territory_Calculated_CPA</targetReference>
            </connector>
            <label>Oppy SMB with CPA Territory</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Territory_Channel</name>
        <label>Check Territory Channel</label>
        <locationX>1413</locationX>
        <locationY>483</locationY>
        <defaultConnector>
            <targetReference>Check_Territory_Expertise</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Inside_Sales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Territory_User_Account_Territory_In_Loop.Channel__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Territory_Calculated_0_0</targetReference>
            </connector>
            <label>Not Inside Sales</label>
        </rules>
        <rules>
            <name>Not_CPA_SMB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Expertise__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>110</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.Expertise__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>100</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Territory_Calculated_0_0</targetReference>
            </connector>
            <label>Not CPA SMB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Territory_Expertise</name>
        <label>Check Territory Expertise</label>
        <locationX>1305</locationX>
        <locationY>209</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Account_User_Territory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ERP_Middle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Territory_User_Account_Territory_In_Loop.Expertise__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>340</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_ERP_Middle_Territory_ID</targetReference>
            </connector>
            <label>ERP Middle</label>
        </rules>
        <rules>
            <name>CPA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Territory_User_Account_Territory_In_Loop.Expertise__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>110</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_CPA_Territory_ID</targetReference>
            </connector>
            <label>CPA</label>
        </rules>
        <rules>
            <name>SMB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Territory_User_Account_Territory_In_Loop.Expertise__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>100</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_SMB_Territory_ID_0</targetReference>
            </connector>
            <label>SMB</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Territory_Info</name>
        <label>Check Territory Info</label>
        <locationX>1385</locationX>
        <locationY>1260</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Oppty_Owner_Territories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Territory_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Territory_User_Loop</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Oppty_Owner_Territories</targetReference>
            </connector>
            <label>No Territory Found</label>
        </rules>
        <rules>
            <name>Same_Expertise_as_Oppy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Territory_User_Loop.Expertise__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Opportunity.Expertise__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Territory_Calculated_0</targetReference>
            </connector>
            <label>Same Expertise as Oppy</label>
        </rules>
    </decisions>
    <decisions>
        <name>Flag_Territory_To_Be_Calculated</name>
        <label>Flag Territory To Be Calculated ?</label>
        <locationX>2437</locationX>
        <locationY>738</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Flag_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.TECH_Territory_To_Be_Calculated__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unflag_Territory_To_Be_Calculated</targetReference>
            </connector>
            <label>Flag true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Territory_Found</name>
        <label>Territory Found</label>
        <locationX>2184</locationX>
        <locationY>843</locationY>
        <defaultConnector>
            <targetReference>Flag_Territory_To_Be_Calculated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Territory_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CalculatedTerritoryID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TECH_Territory_Id_0</targetReference>
            </connector>
            <label>Territory Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Territory_on_Active_Model</name>
        <label>Territory on Active Model ?</label>
        <locationX>1445</locationX>
        <locationY>676</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Account_Share</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Territory_on_Active_Model_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Territory_Account_Share_Loop</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Expertise_Oppy_vs_Territory</targetReference>
            </connector>
            <label>Territory on Active Model</label>
        </rules>
    </decisions>
    <decisions>
        <name>Territory_Only</name>
        <label>Territory Only</label>
        <locationX>1186</locationX>
        <locationY>736</locationY>
        <defaultConnector>
            <targetReference>Loop_on_Account_Share</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TerritoryShare</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AccountShareInLoop.RowCause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Territory</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountShareInLoop.RowCause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TerritoryManual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountShareInLoop.RowCause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Territory2AssociationManual</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountShareInLoop.RowCause</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TerritoryRule</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Territory_from_Group</targetReference>
            </connector>
            <label>TerritoryShare</label>
        </rules>
    </decisions>
    <description>RMA 21/01/2021 : Tech By Pass VR set to true</description>
    <interviewLabel>Opportunity Territory Calculation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Territory Calculation</label>
    <loops>
        <name>Loop_on_Account_Share</name>
        <label>Loop on Account Share</label>
        <locationX>1020</locationX>
        <locationY>664</locationY>
        <assignNextValueToReference>AccountShareInLoop</assignNextValueToReference>
        <collectionReference>Get_Account_Share_Territory</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Territory_Only</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Oppy_Expertise_and_Existing_User_Account_Territory</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Account_User_Territory</name>
        <label>Loop on Account User Territory</label>
        <locationX>848</locationX>
        <locationY>412</locationY>
        <assignNextValueToReference>AccountUserTerritoryInLoop</assignNextValueToReference>
        <collectionReference>Get_Account_User_Territory</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Territory_User_Account_Territory_In_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Account_Share_Territory</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Oppty_Owner_Territories</name>
        <label>Loop on Oppty Owner Territories</label>
        <locationX>967</locationX>
        <locationY>1189</locationY>
        <assignNextValueToReference>Territory2UserInLoop</assignNextValueToReference>
        <collectionReference>Get_oppy_Owner_Territories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Territory_User_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_No_Territory_ID</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Share_Territory</name>
        <label>Get Account Share Territory</label>
        <locationX>843</locationX>
        <locationY>649</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Account_Share</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountShare</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserOrGroupId</queriedFields>
        <queriedFields>RowCause</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_User_Territory</name>
        <label>Get Account User Territory</label>
        <locationX>649</locationX>
        <locationY>401</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Account_User_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountUserTerritory2View</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Territory2Id</queriedFields>
        <sortField>Territory2Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Territory_Model</name>
        <label>Get Active Territory Model</label>
        <locationX>509</locationX>
        <locationY>582</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Expertise</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2Model</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_No_Territory_ID</name>
        <label>Get No Territory ID</label>
        <locationX>1932</locationX>
        <locationY>1056</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Territory_Calculated_No_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No_Territory</stringValue>
            </value>
        </filters>
        <filters>
            <field>Territory2ModelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Active_Territory_Model.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2</object>
        <queriedFields>Id</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>390</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_Territory_Model</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Territory2Id</queriedFields>
        <queriedFields>Expertise__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Product_Line__c</queriedFields>
        <queriedFields>Partner_Distributor__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_oppy_Owner_Territories</name>
        <label>Get oppy Owner Territories</label>
        <locationX>818</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Oppty_Owner_Territories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserTerritory2Association</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Territory2Id</queriedFields>
        <queriedFields>RoleInTerritory2</queriedFields>
        <sortField>Territory2Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory_Account_Share_Loop</name>
        <label>Get Territory Account Share Loop</label>
        <locationX>1503</locationX>
        <locationY>762</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Territory_on_Active_Model</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Territory_from_Group.RelatedId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Territory2ModelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Active_Territory_Model.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Channel__c</queriedFields>
        <queriedFields>Expertise__c</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory_from_Group</name>
        <label>Get Territory from Group</label>
        <locationX>1393</locationX>
        <locationY>754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Territory_Account_Share_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountShareInLoop.UserOrGroupId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelatedId</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory_User_Account_Territory_In_Loop</name>
        <label>Get Territory User Account Territory In Loop</label>
        <locationX>1046</locationX>
        <locationY>470</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Model_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountUserTerritoryInLoop.Territory2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Territory2ModelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Active_Territory_Model.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Channel__c</queriedFields>
        <queriedFields>Expertise__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory_User_Loop</name>
        <label>Get Territory User Loop</label>
        <locationX>1151</locationX>
        <locationY>1281</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Territory_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Territory2UserInLoop.Territory2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Territory2ModelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Active_Territory_Model.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Expertise__c</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Channel__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Oppy</name>
        <label>Update Oppy</label>
        <locationX>2640</locationX>
        <locationY>547</locationY>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Oppy_0</name>
        <label>Update Oppy</label>
        <locationX>2594</locationX>
        <locationY>891</locationY>
        <connector>
            <targetReference>Calculate_Opportunity_Attributes</targetReference>
        </connector>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>571</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Calculate Opportunity Attributes from Owner &amp; Territory attributes</description>
        <name>Calculate_Opportunity_Attributes</name>
        <label>Calculate Opportunity Attributes</label>
        <locationX>2770</locationX>
        <locationY>895</locationY>
        <flowName>Opportunity_Attributes_Calculation</flowName>
        <inputAssignments>
            <name>OpportunityID</name>
            <value>
                <elementReference>OpportunityID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TerritoryID</name>
            <value>
                <elementReference>CalculatedTerritoryID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AccountShareInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>AccountUserTerritoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountUserTerritoryInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountUserTerritory2View</objectType>
    </variables>
    <variables>
        <name>CalculatedTerritoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CPATerritoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the ID of the user account territory with expertise ERP Middle</description>
        <name>ERPMiddleTerritoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Input - OpportunityID</description>
        <name>OpportunityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SMBTerritoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Territory2UserInLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserTerritory2Association</objectType>
    </variables>
</Flow>
