unpackaged/main/default/flows/Oppy_Lead_Auto_Affectation_Account_known.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Oppy_Lead_to_the_dedicated_IC</name>
        <label>Assign Oppy Lead to the dedicated IC</label>
        <locationX>509</locationX>
        <locationY>222</locationY>
        <assignmentItems>
            <assignToReference>CurrentOppyLead.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountTeamMember_IC_Dedicated_To_BU.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_current_Oppy_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Checkbox Post_to_chatter to True for process Builder</description>
        <name>Set_Checkbox_Post_to_chatter_to_True</name>
        <label>Set Checkbox Post_to_chatter to True</label>
        <locationX>708</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>CurrentOppyLead.Post_to_chatter_group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_current_Oppy_Lead</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Dedicated_IC_found_or_not</name>
        <label>Dedicated IC found or not ?</label>
        <locationX>597</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Assign_Oppy_Lead_to_the_dedicated_IC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Dedicated_IC_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountTeamMember_IC_Dedicated_To_BU</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Checkbox_Post_to_chatter_to_True</targetReference>
            </connector>
            <label>Dedicated IC not found</label>
        </rules>
    </decisions>
    <formulas>
        <name>DefaultUserId</name>
        <dataType>String</dataType>
        <expression>{!$Label.ID_user_Queue}</expression>
    </formulas>
    <interviewLabel>Oppy Lead Auto Affectation - Account known {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oppy Lead Auto Affectation - Account known</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_AccountTeam</name>
        <label>Get AccountTeam</label>
        <locationX>463</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dedicated_IC_found_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppyLeadAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>Contains</operator>
            <value>
                <elementReference>CurrentOppyLead.Business_Unit_Opportunity__c</elementReference>
            </value>
        </filters>
        <object>AccountTeamMember</object>
        <outputReference>AccountTeamMember_IC_Dedicated_To_BU</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_current_Oppy_Lead</name>
        <label>Get current Oppy Lead</label>
        <locationX>187</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Oppy_Lead_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>CurrentOppyLead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Business_Unit_Opportunity__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Oppy_Lead_Account</name>
        <label>Get Oppy Lead Account</label>
        <locationX>321</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AccountTeam</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentOppyLead.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>OppyLeadAccount</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_current_Oppy_Lead</name>
        <label>Update the current Oppy Lead</label>
        <locationX>610</locationX>
        <locationY>382</locationY>
        <inputReference>CurrentOppyLead</inputReference>
    </recordUpdates>
    <startElementReference>Get_current_Oppy_Lead</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountTeamMember_IC_Dedicated_To_BU</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>CurrentOppyLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppyLeadAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
