unpackaged/main/default/flows/Order_Optional_Products_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AddToCollection</name>
        <label>AddToCollection</label>
        <locationX>644</locationX>
        <locationY>569</locationY>
        <assignmentItems>
            <assignToReference>OrderProductsToAssignCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentOrderProductToCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Quote_Line</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignInfoToCurrentOrderProduct</name>
        <label>AssignInfoToCurrentOrderProduct</label>
        <locationX>673</locationX>
        <locationY>403</locationY>
        <assignmentItems>
            <assignToReference>CurrentOrderProductToCreate.ListUnitPrice_Display__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Quote_Line.ListUnitPrice_Display__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderProductToCreate.Metric__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Quote_Line.Metric__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderProductToCreate.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderProductToCreate.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Quote_Line.SBQQ__PricebookEntryId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>For_Each_Quote_Line.SBQQ__Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Quote_Line.SBQQ__Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderProductToCreate.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Quote_Line.SBQQ__Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderProductToCreate.Reference_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Quote_Line.Reference_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderProductToCreate.SBQQ__QuoteLine__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Quote_Line.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderProductToCreate.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Quote_Line.NetUnitPrice_Display__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentOrderProductToCreate.SBQQ__ChargeType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Quote_Line.SBQQ__ChargeType__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>One_optional_Product_or_more</name>
        <label>One optional Product or more</label>
        <locationX>489</locationX>
        <locationY>703</locationY>
        <defaultConnector>
            <targetReference>For_Each_Quote_Line</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoOptionalProduct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Lines_for_Optional_Products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Continue_Step3_Order</targetReference>
            </connector>
            <label>No Optional Product</label>
        </rules>
    </decisions>
    <description>ACO: Continue Order Creation - Update with Colelction Var. AJOUT CHARGE TYPE</description>
    <interviewLabel>Order - Optional Products Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order - Optional Products Creation</label>
    <loops>
        <name>For_Each_Quote_Line</name>
        <label>For Each Quote Line</label>
        <locationX>416</locationX>
        <locationY>338</locationY>
        <collectionReference>Get_Quote_Lines_for_Optional_Products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignInfoToCurrentOrderProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Collection</name>
        <label>Create Collection</label>
        <locationX>854</locationX>
        <locationY>218</locationY>
        <connector>
            <targetReference>Continue_Step3_Order</targetReference>
        </connector>
        <inputReference>OrderProductsToAssignCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote_Lines_for_Optional_Products</name>
        <label>Get Quote Lines for Optional Products</label>
        <locationX>176</locationX>
        <locationY>413</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>One_optional_Product_or_more</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Optional__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NetUnitPrice_Display__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Continue_Step3_Order</name>
        <label>Continue Step3 Order</label>
        <locationX>1165</locationX>
        <locationY>296</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Continue_Order_Creation__c</field>
            <value>
                <stringValue>Step2</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Quote_Lines_for_Optional_Products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Continue_Order_Creation__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Step1</stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CurrentOrderProductToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>OrderProductsToAssignCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
