unpackaged/main/default/flows/PAC_Account_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Opty_PAC_Account</name>
        <label>Assign Opty PAC Account</label>
        <locationX>642</locationX>
        <locationY>390</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.PAC_Accounts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PAC_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>In_progress_PAC_Account</name>
        <label>In progress PAC Account</label>
        <locationX>1137</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>Get_PAC_Account.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales cycle in progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PAC_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Pac_Account_Initialisation</name>
        <label>New Pac Account Initialisation</label>
        <locationX>413</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>NewPacAccount.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPacAccount.Targeting_Plan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.Targeting_Plan__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPacAccount.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sales cycle in progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Status_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Oppy_Won</name>
        <label>Oppy Won</label>
        <locationX>591</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>NewPacAccount.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Pac_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PAC_Account_Done</name>
        <label>PAC Account Done</label>
        <locationX>1144</locationX>
        <locationY>521</locationY>
        <assignmentItems>
            <assignToReference>Get_PAC_Account.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Done</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_PAC_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Pac_Account_0</name>
        <label>Update Pac Account</label>
        <locationX>889</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.PAC_Accounts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewPacAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Opportunity_Status</name>
        <label>Opportunity Stage ?</label>
        <locationX>921</locationX>
        <locationY>500</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PAC_Account_Done</targetReference>
            </connector>
            <label>Closed Won Or PAC Account already &quot;Done&quot;</label>
        </rules>
        <rules>
            <name>PAC_Account_status_Done</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PAC_Account.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Done</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>In_progress_PAC_Account</targetReference>
            </connector>
            <label>PAC Account status != Done</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opportunity_Status_0</name>
        <label>Opportunity Stage ?</label>
        <locationX>582</locationX>
        <locationY>202</locationY>
        <defaultConnector>
            <targetReference>Create_New_Pac_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Closed_Won_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Oppy_Won</targetReference>
            </connector>
            <label>Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>PAC_Account_Found</name>
        <label>PAC Account Found ?</label>
        <locationX>409</locationX>
        <locationY>406</locationY>
        <defaultConnector>
            <targetReference>New_Pac_Account_Initialisation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PAC_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PAC_Account_To_Update</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>PAC_Account_To_Update</name>
        <label>PAC Account To Update ?</label>
        <locationX>496</locationX>
        <locationY>504</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.PAC_Accounts__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_PAC_Account.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Opty_PAC_Account</targetReference>
            </connector>
            <label>To update</label>
        </rules>
    </decisions>
    <description>RMA 07/07 : Add PAC Account creation when no PAC Account exists</description>
    <interviewLabel>PAC Account Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PAC Account Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Pac_Account</name>
        <label>Create New Pac Account</label>
        <locationX>755</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>Update_Pac_Account_0</targetReference>
        </connector>
        <inputReference>NewPacAccount</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>176</locationX>
        <locationY>501</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PAC_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PAC_Account</name>
        <label>Get PAC Account</label>
        <locationX>328</locationX>
        <locationY>501</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PAC_Account_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Targeting_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Targeting_Plan__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Target_Accounts__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>1049</locationX>
        <locationY>200</locationY>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opty</name>
        <label>Update Opty</label>
        <locationX>779</locationX>
        <locationY>390</locationY>
        <connector>
            <targetReference>Opportunity_Status</targetReference>
        </connector>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PAC_Account</name>
        <label>Update PAC Account</label>
        <locationX>1326</locationX>
        <locationY>495</locationY>
        <inputReference>Get_PAC_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>332</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewPacAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Target_Accounts__c</objectType>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
