unpackaged/main/default/flows/PB_Service_Level_Prices.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>ProcessBuilderByPass</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Do nothing</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>ProcessBuilderByPass</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Bypass PB</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Boolean</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Maximum_Price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Recorded with a Maximum Price</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision5</name>
        <label>myDecision5</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>Block Pricing Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>List Pricing Record Type</label>
        </rules>
    </decisions>
    <description>ACO : no more &quot;Update Siblings&quot;.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Service_Level_Price__c].RecordType.DeveloperName +
TEXT([Service_Level_Price__c].Service_Level__c) +
[Service_Level_Price__c].Product__c.Reference_Number__c +
[Service_Level_Price__c].Price_Book__c.Id +TEXT([Service_Level_Price__c].Sales_Purpose__c )+
IF(INCLUDES( [Service_Level_Price__c].Sales_Purposes__c  , &quot;Newcli&quot;), &quot;Newcli&quot;, &apos;&apos;)  +  
IF(INCLUDES( [Service_Level_Price__c].Sales_Purposes__c  , &quot;Renew&quot;), &quot;Renew&quot;, &apos;&apos;)  +  
IF(INCLUDES( [Service_Level_Price__c].Sales_Purposes__c  , &quot;Upsell only&quot;), &quot;Upsell only&quot;, &apos;&apos;) +
IF(INCLUDES( [Service_Level_Price__c].Sales_Purposes__c  , &quot;Migration OP/OP&quot;), &quot;Migration OP/OP&quot;, &apos;&apos;) +
IF(INCLUDES( [Service_Level_Price__c].Sales_Purposes__c  , &quot;Migration OP/SaaS&quot;), &quot;Migration OP/SaaS&quot;, &apos;&apos;) +
IF(INCLUDES( [Service_Level_Price__c].Sales_Purposes__c  , &quot;Migration SaaS/SaaS&quot;), &quot;Migration SaaS/SaaS&quot;, &apos;&apos;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_9_A1_7034010359</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.RecordType.DeveloperName} +
TEXT({!myVariable_current.Service_Level__c}) +
{!myVariable_current.Product__r.Reference_Number__c} +
{!myVariable_current.Price_Book__r.Id} +TEXT({!myVariable_current.Sales_Purpose__c} )+
IF(INCLUDES( {!myVariable_current.Sales_Purposes__c}  , &quot;Newcli&quot;), &quot;Newcli&quot;, &apos;&apos;)  +  
IF(INCLUDES( {!myVariable_current.Sales_Purposes__c}  , &quot;Renew&quot;), &quot;Renew&quot;, &apos;&apos;)  +  
IF(INCLUDES( {!myVariable_current.Sales_Purposes__c}  , &quot;Upsell only&quot;), &quot;Upsell only&quot;, &apos;&apos;) +
IF(INCLUDES( {!myVariable_current.Sales_Purposes__c}  , &quot;Migration OP/OP&quot;), &quot;Migration OP/OP&quot;, &apos;&apos;) +
IF(INCLUDES( {!myVariable_current.Sales_Purposes__c}  , &quot;Migration OP/SaaS&quot;), &quot;Migration OP/SaaS&quot;, &apos;&apos;) +
IF(INCLUDES( {!myVariable_current.Sales_Purposes__c}  , &quot;Migration SaaS/SaaS&quot;), &quot;Migration SaaS/SaaS&quot;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Service_Level_Price__c].Product__c.TECH_SLPwithAMaximumPriceRecorded__c + 1</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_3_A1_1584675327</name>
        <dataType>Number</dataType>
        <expression>{!myVariable_current.Product__r.TECH_SLPwithAMaximumPriceRecorded__c} + 1</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Service_Level_Price__c].RecordType.DeveloperName + TEXT([Service_Level_Price__c].Service_Level__c) +
[Service_Level_Price__c].Product__c.Reference_Number__c +
[Service_Level_Price__c].Price_Book__c.Id +
TEXT([Service_Level_Price__c].Lower_Bound__c)+TEXT([Service_Level_Price__c].Sales_Purpose__c )+
IF(INCLUDES( [Service_Level_Price__c].Sales_Purposes__c  , &quot;Newcli&quot;), &quot;Newcli&quot;, &apos;&apos;)  +  
IF(INCLUDES( [Service_Level_Price__c].Sales_Purposes__c  , &quot;Renew&quot;), &quot;Renew&quot;, &apos;&apos;)  +  
IF(INCLUDES( [Service_Level_Price__c].Sales_Purposes__c  , &quot;Upsell only&quot;), &quot;Upsell only&quot;, &apos;&apos;) +
IF(INCLUDES( [Service_Level_Price__c].Sales_Purposes__c  , &quot;Migration OP/OP&quot;), &quot;Migration OP/OP&quot;, &apos;&apos;) +
IF(INCLUDES( [Service_Level_Price__c].Sales_Purposes__c  , &quot;Migration OP/SaaS&quot;), &quot;Migration OP/SaaS&quot;, &apos;&apos;) +
IF(INCLUDES( [Service_Level_Price__c].Sales_Purposes__c  , &quot;Migration SaaS/SaaS&quot;), &quot;Migration SaaS/SaaS&quot;, &apos;&apos;) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_6_A1_1058052097</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.RecordType.DeveloperName} + TEXT({!myVariable_current.Service_Level__c}) +
{!myVariable_current.Product__r.Reference_Number__c} +
{!myVariable_current.Price_Book__r.Id} +
TEXT({!myVariable_current.Lower_Bound__c})+TEXT({!myVariable_current.Sales_Purpose__c} )+
IF(INCLUDES( {!myVariable_current.Sales_Purposes__c}  , &quot;Newcli&quot;), &quot;Newcli&quot;, &apos;&apos;)  +  
IF(INCLUDES( {!myVariable_current.Sales_Purposes__c}  , &quot;Renew&quot;), &quot;Renew&quot;, &apos;&apos;)  +  
IF(INCLUDES( {!myVariable_current.Sales_Purposes__c}  , &quot;Upsell only&quot;), &quot;Upsell only&quot;, &apos;&apos;) +
IF(INCLUDES( {!myVariable_current.Sales_Purposes__c}  , &quot;Migration OP/OP&quot;), &quot;Migration OP/OP&quot;, &apos;&apos;) +
IF(INCLUDES( {!myVariable_current.Sales_Purposes__c}  , &quot;Migration OP/SaaS&quot;), &quot;Migration OP/SaaS&quot;, &apos;&apos;) +
IF(INCLUDES( {!myVariable_current.Sales_Purposes__c}  , &quot;Migration SaaS/SaaS&quot;), &quot;Migration SaaS/SaaS&quot;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$User.BypassPB__c = True</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.BypassPB__c} = True</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Service_Level_Price__c].RecordType.DeveloperName  == &apos;Block_Pricing&apos;,ISNEW(),ISBLANK([Service_Level_Price__c].Sales_Purposes__c ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_6</name>
        <dataType>Boolean</dataType>
        <expression>AND({!myVariable_current.RecordType.DeveloperName}  == &apos;Block_Pricing&apos;,ISNEW(),ISBLANK({!myVariable_current.Sales_Purposes__c} ))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Service_Level_Price__c].RecordType.DeveloperName  == &apos;List_Pricing&apos;,ISNEW(),ISBLANK([Service_Level_Price__c].Sales_Purposes__c ))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND({!myVariable_current.RecordType.DeveloperName}  == &apos;List_Pricing&apos;,ISNEW(),ISBLANK({!myVariable_current.Sales_Purposes__c} ))</expression>
    </formulas>
    <interviewLabel>PB_Service_Level_Prices-5_InterviewLabel</interviewLabel>
    <label>PB Service Level Prices</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Service_Level_Price__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Service_Level_Price__c].Product</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Update Product TECH Counter</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision5</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Product__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>TECH_SLPwithAMaximumPriceRecorded</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>TECH_SLPwithAMaximumPriceRecorded__c</field>
            <value>
                <elementReference>formula_4_myRule_3_A1_1584675327</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Service_Level_Price__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_6_A1</name>
        <label>Set the RecordKey</label>
        <locationX>600</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision8</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>RecordKey</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordKey__c</field>
            <value>
                <elementReference>formula_7_myRule_6_A1_1058052097</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Level_Price__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Service_Level_Price__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Set the RecordKey</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>RecordKey</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>RecordKey__c</field>
            <value>
                <elementReference>formula_10_myRule_9_A1_7034010359</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Level_Price__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Service_Level_Price__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Level_Price__c</objectType>
    </variables>
</Flow>
