unpackaged/main/default/flows/Purchasing_Price_Insertion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>IA2PI3P {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchasing Price Insertion</label>
    <loops>
        <name>ForEachProductOption</name>
        <label>ForEachProductOption</label>
        <locationX>440</locationX>
        <locationY>143</locationY>
        <assignNextValueToReference>ProductOption_i</assignNextValueToReference>
        <collectionReference>Get_ProductOptions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UpdateConfiguredSKUPurchasingPrice</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ProductOptions</name>
        <label>Get ProductOptions</label>
        <locationX>253</locationX>
        <locationY>143</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ForEachProductOption</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__OptionalSKU__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ArticleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__ProductOption__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateConfiguredSKUPurchasingPrice</name>
        <label>UpdateConfiguredSKUPurchasingPrice</label>
        <locationX>670</locationX>
        <locationY>146</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProductOption_i.SBQQ__ConfiguredSKU__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Purchasing_Price__c</field>
            <value>
                <elementReference>ProductOption_i.SBQQ__OptionalSKU__r.Purchasing_Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>Product2</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_ProductOptions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ArticleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductOption_i</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SBQQ__ProductOption__c</objectType>
    </variables>
</Flow>
