unpackaged/main/default/flows/Qualification_Sheet_Creation_when_Quote_updated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Add_Offer</name>
        <label>Add Offer</label>
        <locationX>518</locationX>
        <locationY>525</locationY>
        <assignmentItems>
            <assignToReference>offers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Quote_Lines.Offer_Lookup__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Qualification_Sheet_Offers</name>
        <label>Add Qualification Sheet Offers</label>
        <locationX>440</locationX>
        <locationY>825</locationY>
        <assignmentItems>
            <assignToReference>Qualificationsheetoffers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Qualification_Sheet.Offer__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Qualification_Sheet</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Node_Already_Have_Offer</name>
        <label>Node Already Have Offer</label>
        <locationX>495</locationX>
        <locationY>339</locationY>
        <defaultConnector>
            <targetReference>Add_Offer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Already_Have_Offer</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>offers</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Quote_Lines.Offer_Lookup__r.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines.Offer_Lookup__r.Generate_Sheet_in_PS_Context__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Quote_Lines.Offer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Quote_Lines</targetReference>
            </connector>
            <label>Already Have Offer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Node_Find_Current_Qualification_Sheet_In_Offers</name>
        <label>Node Find Current Qualification Sheet In Offers</label>
        <locationX>372</locationX>
        <locationY>1005</locationY>
        <defaultConnector>
            <targetReference>Create_Qualification_Sheet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Find_Current_Qualification_Sheet_In_Offers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Qualificationsheetoffers</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_Offers</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Offers</targetReference>
            </connector>
            <label>Find Current Qualification Sheet In Offers</label>
        </rules>
    </decisions>
    <decisions>
        <name>Node_Qualification_Sheets_Is_Not_Null</name>
        <label>Node Qualification Sheets Is Not Null</label>
        <locationX>430</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>Loop_Offers_Without_QS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Qualification_Sheets_Is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Qualification_Sheet</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Qualification_Sheet</targetReference>
            </connector>
            <label>Qualification Sheets Is Not Null</label>
        </rules>
    </decisions>
    <interviewLabel>Qualification Sheet Creation when Quote updated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Qualification Sheet Creation when Quote updated</label>
    <loops>
        <name>Loop_Offers</name>
        <label>Loop Offers</label>
        <locationX>168</locationX>
        <locationY>1028</locationY>
        <collectionReference>offers</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Node_Find_Current_Qualification_Sheet_In_Offers</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Offers_Without_QS</name>
        <label>Loop Offers Without QS</label>
        <locationX>642</locationX>
        <locationY>674</locationY>
        <collectionReference>offers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>create_qualification_sheet_2</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Qualification_Sheet</name>
        <label>Loop Qualification Sheet</label>
        <locationX>163</locationX>
        <locationY>818</locationY>
        <collectionReference>Get_Qualification_Sheet</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Qualification_Sheet_Offers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Offers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Quote_Lines</name>
        <label>Loop Quote Lines</label>
        <locationX>184</locationX>
        <locationY>514</locationY>
        <collectionReference>Get_Quote_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Node_Already_Have_Offer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Qualification_Sheet</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Qualification_Sheet</name>
        <label>Create Qualification Sheet</label>
        <locationX>414</locationX>
        <locationY>1161</locationY>
        <connector>
            <targetReference>Loop_Offers</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Auto-generated Qualification Sheet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer__c</field>
            <value>
                <elementReference>Loop_Offers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Qualification_Sheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_qualification_sheet_2</name>
        <label>create qualification sheet 2</label>
        <locationX>646</locationX>
        <locationY>867</locationY>
        <connector>
            <targetReference>Loop_Offers_Without_QS</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Auto-generated Qualification Sheet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer__c</field>
            <value>
                <elementReference>Loop_Offers_Without_QS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Qualification_Sheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Qualification_Sheet</name>
        <label>Get Qualification Sheet</label>
        <locationX>186</locationX>
        <locationY>684</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Node_Qualification_Sheets_Is_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Qualification_Sheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Lines</name>
        <label>Get Quote Lines</label>
        <locationX>168</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Get_Quote_Lines</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>offers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Qualificationsheetoffers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
