unpackaged/main/default/flows/Qualification_Sheet_Creation_when_Quote_Line_Created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Empty</name>
        <label>Empty?</label>
        <locationX>87</locationX>
        <locationY>548</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Qualification_Sheet_exists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Qualification_Sheet</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>IdentifierKey</name>
        <dataType>String</dataType>
        <expression>{!$Record.SBQQ__Quote__r.Name}+{!$Record.Product_Line__r.Id}</expression>
    </formulas>
    <interviewLabel>Qualification Sheet Creation when Quote Line Created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Qualification Sheet Creation when Quote Line Created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Qualification_Sheet</name>
        <label>Create Qualification Sheet</label>
        <locationX>415</locationX>
        <locationY>570</locationY>
        <inputAssignments>
            <field>Identifier_Key__c</field>
            <value>
                <elementReference>IdentifierKey</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Auto-generated Qualification Sheet</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Line__c</field>
            <value>
                <elementReference>$Record.Product_Line__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>$Record.SBQQ__Quote__c</elementReference>
            </value>
        </inputAssignments>
        <object>Qualification_Sheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Qualification_Sheet_exists</name>
        <label>Qualification Sheet exists?</label>
        <locationX>182</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Identifier_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdentifierKey</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Qualification_Sheet__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Qualification_Sheet_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Line__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Catalog__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Generates_Sheet__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SBQQ__QuoteLine__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
