unpackaged/main/default/flows/Quote_Checks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Quote_Checked</name>
        <label>Assign Quote Checked</label>
        <locationX>1106</locationX>
        <locationY>4154</locationY>
        <assignmentItems>
            <assignToReference>GetQuote.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecordTypeId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Admin_SAAS</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tech_Passed_in_PS_OK</name>
        <label>Assign Tech_Passed in PS OK</label>
        <locationX>1493</locationX>
        <locationY>2990</locationY>
        <assignmentItems>
            <assignToReference>GetQuote.TECH_Passed_in_PS_OK_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Elearning_Lines_100_OK</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>E_Signer_Contract</name>
        <label>E Signer Contract</label>
        <locationX>373</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>GetQuote.SBQQ__QuoteTemplateId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CProjetTemplate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetQuote.E_Signer_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQuote.SBQQ__SalesRep__r.Exceptional_Date_Validator__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_on_legal_case</name>
        <label>Error on legal case</label>
        <locationX>461</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>BillingPlan_ErrorCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Billing_Plan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Has_Admin_SAAS</name>
        <label>Has Admin SAAS</label>
        <locationX>1106</locationX>
        <locationY>4262</locationY>
        <assignmentItems>
            <assignToReference>GetQuote.Saas_Admin_found__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HasAdminSAAS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Quotes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_XRP_Product</name>
        <label>No XRP Product</label>
        <locationX>637</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>BillingPlan_RecurringProductError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_of_percentage_error</name>
        <label>Sum of percentage error</label>
        <locationX>637</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>BillingPlan_PercentageError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Billing_Plans</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>At_least_one_Exceptional_Date_Request_opened</name>
        <label>At least one Exceptional Date Request opened</label>
        <locationX>809</locationX>
        <locationY>3422</locationY>
        <defaultConnector>
            <targetReference>Get_Approved_Particular_Conditions_Requests</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>At_least_One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Open_Exceptional_Date_Requests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_Request</targetReference>
            </connector>
            <label>At least One</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Sum_Percentage_100</name>
        <label>Check Sum Percentage = 100%</label>
        <locationX>549</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Sum_of_percentage_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>&lt;&gt; 100%</defaultConnectorLabel>
        <rules>
            <name>Sum_Percentage_100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_Billing_Plans.SumTransaction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_on_Billing_Plans</targetReference>
            </connector>
            <label>Sum Percentage = 100</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decomissioning_duration_check</name>
        <label>Decomissioning duration check</label>
        <locationX>549</locationX>
        <locationY>2666</locationY>
        <defaultConnector>
            <targetReference>Delay_negative</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuote.Decomissioning_duration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetQuote.HasNegativeLines__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_error_Decomissioning_duration</targetReference>
            </connector>
            <label>Is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delay_negative</name>
        <label>Delay negative</label>
        <locationX>1048</locationX>
        <locationY>2774</locationY>
        <defaultConnector>
            <targetReference>PS_OK_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Delay_Is_Negative</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuote.Delay_for_Service_Start_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>-1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_error_delay</targetReference>
            </connector>
            <label>Delay Is Negative</label>
        </rules>
    </decisions>
    <decisions>
        <name>Elearning_Lines_100_OK</name>
        <label>Elearning Lines 100% OK</label>
        <locationX>1493</locationX>
        <locationY>3098</locationY>
        <defaultConnector>
            <targetReference>Missing_Sessions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Missing_Session</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetQuote.CountELearningLinesWOAllTraining__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetQuote.CountELearningLinesWOAllTraining__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Status_Is_Not_Approved</targetReference>
            </connector>
            <label>No Missing Session</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error_message_on_Percentage</name>
        <label>Error message on Percentage</label>
        <locationX>373</locationX>
        <locationY>2174</locationY>
        <defaultConnector>
            <targetReference>Decomissioning_duration_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Percentage</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BillingPlan_PercentageError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BillingPlan_RecurringProductError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BillingPlan_ErrorCase</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Error_on_Billing_Plan_percentage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Billing_Plan</name>
        <label>Has Billing Plan?</label>
        <locationX>549</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Decomissioning_duration_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BillingPlan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuote.BillingPlan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Legal_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Legal_Case_validated</name>
        <label>Legal Case validated?</label>
        <locationX>373</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Error_on_legal_case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Error</defaultConnectorLabel>
        <rules>
            <name>Case_validated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LegalCaseBillingPlan</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Billing_Plan</targetReference>
            </connector>
            <label>Case validated</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Approved_PCR_and_Particular_Conditions_filled</name>
        <label>No Approved PCR and Particular Conditions filled</label>
        <locationX>1040</locationX>
        <locationY>3638</locationY>
        <defaultConnector>
            <targetReference>Get_pending_Particular_Conditions_Requests_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Particular_Conditions_validation_needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuote.Particular_Conditions__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Approved_Particular_Conditions_Requests</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ParticularConditions</targetReference>
            </connector>
            <label>Particular Conditions validation needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Pending_PCR</name>
        <label>No Pending PCR</label>
        <locationX>1238</locationX>
        <locationY>3854</locationY>
        <defaultConnector>
            <targetReference>ParticularConditions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_PCR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_pending_Particular_Conditions_Requests_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Service_Activation_Date_filled_In</targetReference>
            </connector>
            <label>No PCR</label>
        </rules>
    </decisions>
    <decisions>
        <name>PS_OK_Approval</name>
        <label>Approval &quot;Send to PS&quot; OK?</label>
        <locationX>1783</locationX>
        <locationY>2882</locationY>
        <defaultConnector>
            <targetReference>Not_Passed_PS_OK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not OK</defaultConnectorLabel>
        <rules>
            <name>PS_OK_Validated</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>GetQuote.ApprovalSendToPSRequired__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetQuote.TECH_Passed_in_PS_OK_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetQuote.Open_PS_Cases__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tech_Passed_in_PS_OK</targetReference>
            </connector>
            <label>PS OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Status_Is_Not_Approved</name>
        <label>Quote Status Is Approved</label>
        <locationX>1177</locationX>
        <locationY>3206</locationY>
        <defaultConnector>
            <targetReference>Quote_Not_Approved_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetQuote.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Open_Exceptional_Date_Requests</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Service_Activation_Date_filled_In</name>
        <label>Service Activation Date filled In</label>
        <locationX>1106</locationX>
        <locationY>3962</locationY>
        <defaultConnector>
            <targetReference>Assign_Quote_Checked</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetQuote.Service_Activation_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetQuote.Service_Activation_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Quote_Checked</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>XRP_product</name>
        <label>XRP product?</label>
        <locationX>549</locationX>
        <locationY>1790</locationY>
        <defaultConnector>
            <targetReference>No_XRP_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_XRP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Quote_Lines.SBQQ__Product__r.Flux_SI__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>XRP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Quote_Lines</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>ACO, 25/01/23 : Updates for W-002452 (Decomissioning duration) WITHOUT Admin Saas Check, as requested in B-2111. Currently, this version needs to be deployed in Production since there are still some issues with Admin Saas Fetchs.
ACO 30/01 : Update, add filter &quot;HasNegativeLines&quot;.



////////////////////////////
NEW VERSION WITH W-01485. Can&apos;t be activated because of Saas Admin current issue.

W-001317 - SMO added webservice callout verify if account has admin SAAS - 0812 - ACO Update : Update Quote only at the end.
1712 : ACoO : Update for the Service Activation Date Subject, W-001458.
Update Pending Exceptional Date Request
TNG : update delay negative

10/31 KMM : Integrate WS Find Admin Sass (WS001_FindAccountAdminSAAS)
21/11 MCU : Mise à jour du flux côté Admin Saas
11/04: Vente à l&apos;échéance &gt; revue du check &quot;Send To PS&quot; + Ajout check &quot;Billing Plans&quot;</description>
    <environments>Default</environments>
    <interviewLabel>Quote Checks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Checks</label>
    <loops>
        <name>Loop_on_Billing_Plans</name>
        <label>Loop on Billing Plans</label>
        <locationX>373</locationX>
        <locationY>974</locationY>
        <collectionReference>Get_Billing_Plan</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Sum_Percentage_100</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>E_Signer_Contract</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Quote_Lines</name>
        <label>Loop Quote Lines</label>
        <locationX>373</locationX>
        <locationY>1682</locationY>
        <collectionReference>Get_Quote_Lines</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>XRP_product</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Error_message_on_Percentage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Approved_Particular_Conditions_Requests</name>
        <label>Get Approved Particular Conditions Requests</label>
        <locationX>1040</locationX>
        <locationY>3530</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Approved_PCR_and_Particular_Conditions_filled</targetReference>
        </connector>
        <filterLogic>1 AND 3 AND (2 OR 4)</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Renewal_Mode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Requested_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Billing_Plan</name>
        <label>Get Billing Plans</label>
        <locationX>373</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Billing_Plans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQuote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BillingPlan__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SumTransaction__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Legal_Case</name>
        <label>Get Legal Case (delivered)</label>
        <locationX>373</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Legal_Case_validated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQuote.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Billing Plan Legal</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>LegalCaseBillingPlan</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Open_Exceptional_Date_Requests</name>
        <label>Get Open Exceptional Date Requests</label>
        <locationX>809</locationX>
        <locationY>3314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>At_least_one_Exceptional_Date_Request_opened</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Targeted_Exceptional_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_pending_Particular_Conditions_Requests_0</name>
        <label>Get pending Particular Conditions Requests</label>
        <locationX>1238</locationX>
        <locationY>3746</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Pending_PCR</targetReference>
        </connector>
        <filterLogic>1 AND 3 AND 5 AND (2 OR 4)</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Renewal_Mode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Requested_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Lines</name>
        <label>Get Quote Lines</label>
        <locationX>373</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Quote_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQuote.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BillingPlan__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SBQQ__ChargeType__c</queriedFields>
        <queriedFields>StructureLevel1__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuote</name>
        <label>GetQuote</label>
        <locationX>549</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRecordTypeId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SBQQ__Quote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeId</name>
        <label>GetRecordTypeId</label>
        <locationX>549</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Billing_Plan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>After_Checks</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Quotes</name>
        <label>Update Quotes</label>
        <locationX>1106</locationX>
        <locationY>4370</locationY>
        <connector>
            <targetReference>Quote_Checked</targetReference>
        </connector>
        <inputReference>GetQuote</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Display_Error_on_Billing_Plan_percentage</name>
        <label>Display Error on Billing Plan percentage</label>
        <locationX>241</locationX>
        <locationY>2282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ReviewErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 8px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Please review following error(s) :&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_recurring_product</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;Billing plan is allowed on quote that only has Professional Service products. You have 2 options:&lt;ul&gt;&lt;li&gt;Review products&lt;/li&gt;&lt;li&gt;Untick your quote&apos;s &quot;Billing Plan&quot;&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BillingPlan_RecurringProductError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;Your Billing Plan should have a sum of percentage = 100%. Please review it and try again.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BillingPlan_PercentageError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Error_LegalCase</name>
            <fieldText>&lt;ul&gt;&lt;li&gt;Legal Case has to be validated for Billing Plan, please review.&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BillingPlan_ErrorCase</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Missing_Sessions</name>
        <label>Missing Sessions</label>
        <locationX>1810</locationX>
        <locationY>3206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Missing_Session</name>
            <fieldText>&lt;p&gt;&lt;i&gt;Training Sessions for e-learning Products to be filled. Please, update blank Training Sessions records. &lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Not_Passed_PS_OK</name>
        <label>Not Passed PS OK</label>
        <locationX>2074</locationX>
        <locationY>2990</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Passed_PS_OK</name>
            <fieldText>&lt;p&gt;&lt;i&gt;You have to send your Quote to Professional Services Teams because it contains Products to review.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;Please, click on &quot;Send to PS&quot; Button.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ParticularConditions</name>
        <label>ParticularConditions</label>
        <locationX>1040</locationX>
        <locationY>4862</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Particular1</name>
            <fieldText>&lt;p&gt;&lt;i&gt;Legal Validators need to approve your Particular Conditions. If you sent a request, please contact Legal.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Pending_Request</name>
        <label>Pending Request</label>
        <locationX>578</locationX>
        <locationY>3530</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>WarningMessageRequest</name>
            <fieldText>&lt;p&gt;&lt;i style=&quot;color: rgb(255, 0, 0);&quot;&gt;An Exceptional Date Request is pending.&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;color: rgb(255, 0, 0);&quot;&gt;Verify the current Case Status.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Quote_Checked</name>
        <label>Quote Checked</label>
        <locationX>1106</locationX>
        <locationY>4478</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Quote_Checked_Text</name>
            <fieldText>&lt;p&gt;Your Quote has been checked!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Quote_Not_Approved_Screen</name>
        <label>Quote Not Approved</label>
        <locationX>1546</locationX>
        <locationY>3314</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Quote_Not_Approved</name>
            <fieldText>&lt;p&gt;You have to submit your Quote for Approval before to check it.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_error_Decomissioning_duration</name>
        <label>Screen error Decomissioning duration</label>
        <locationX>50</locationX>
        <locationY>2774</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_Decomissioning_duration</name>
            <fieldText>&lt;p&gt;&lt;em&gt;{!$Label.Decomissioning_duration_needed}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>&lt;p&gt;The delay value is negative, check the Start Date Delay table.&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_error_delay</name>
        <label>Screen error delay</label>
        <locationX>314</locationX>
        <locationY>2882</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>error_delay</name>
            <fieldText>&lt;p&gt;&lt;i&gt;The delay value is negative, check the Start Date Delay table.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>&lt;p&gt;The delay value is negative, check the Start Date Delay table.&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>423</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetQuote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BillingPlan_ErrorCase</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BillingPlan_PercentageError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BillingPlan_RecurringProductError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BUDirector</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BUDirectorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CProjetTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Label.C_Projet_Template</elementReference>
        </value>
    </variables>
    <variables>
        <description>Variable to store response from apex WS call</description>
        <name>HasAdminSAAS</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>LegalCaseBillingPlan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Store response details from WS for error handling</description>
        <name>WSResponseDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
