unpackaged/main/default/flows/Quote_Main_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Change_to_Accepted</name>
        <label>Change to Accepted</label>
        <locationX>3746</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LockedQuote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__Ordered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>is_Approved_Condition_Met</name>
        <label>is Approved Condition Met</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteRTDefault</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__WatermarkShown__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Is_PS_OK</name>
        <label>Is PS OK</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteRTDefault</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>is_Recalled</name>
        <label>is Recalled</label>
        <locationX>3482</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteRTDefault</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>is_Rejected</name>
        <label>is Rejected</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Denied</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>QuoteRTDefault</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Pending_is_ApprovalPending</name>
        <label>Pending is ApprovalPending</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LockedQuote</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Primary_Contact</name>
        <label>Primary Contact</label>
        <locationX>1634</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Primary_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SBQQ__PrimaryContact__r.Email</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Copy_into_NEW_BIC</name>
        <label>Update Copy into NEW BIC</label>
        <locationX>2954</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.BIC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.New_BIC_Temp__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Copy_into_NEW_IBAN</name>
        <label>Update Copy into NEW IBAN</label>
        <locationX>3218</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.IBAN__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.New_IBAN_Temp__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Customer_denied_Quote</name>
        <label>Update Customer denied Quote</label>
        <locationX>2426</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_If_Approved_by_Collection_Team</name>
        <label>Update If Approved by Collection Team</label>
        <locationX>2690</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LockedQuote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__Ordered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_POMandatory</name>
        <label>Update POMandatory</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.No_PO_Exception__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Sales_Rep</name>
        <label>Update Sales Rep</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__SalesRep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>2162</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Blocked</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Update_Tech</name>
        <label>Update TECH_Passed_in_PS_OK_Status__c</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.TECH_Passed_in_PS_OK_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>All_Decisions</name>
        <label>All Decisions</label>
        <locationX>2030</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>The_Owner_is_set_or_changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_Rep</targetReference>
            </connector>
            <label>The Owner is set or changed</label>
        </rules>
        <rules>
            <name>Pending_PS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SBQQ__Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending PS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Tech</targetReference>
            </connector>
            <label>Pending PS</label>
        </rules>
        <rules>
            <name>If_Approval_is_pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pending_is_ApprovalPending</targetReference>
            </connector>
            <label>If Approval is pending</label>
        </rules>
        <rules>
            <name>If_the_Quote_is_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Rejected</targetReference>
            </connector>
            <label>If the Quote is Rejected</label>
        </rules>
        <rules>
            <name>If_the_Quote_is_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ApprovalStatus__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__DocumentStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Approved_Condition_Met</targetReference>
            </connector>
            <label>If the Quote is Approved</label>
        </rules>
        <rules>
            <name>Quote_is_now_PS_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PS Ok</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_PS_OK</targetReference>
            </connector>
            <label>Quote is now PS OK</label>
        </rules>
        <rules>
            <name>Primary_Contact_modified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryContact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.SBQQ__PrimaryContact__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__PrimaryContact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Primary_Contact</targetReference>
            </connector>
            <label>Primary Contact modified</label>
        </rules>
        <rules>
            <name>POMandatory_Temp_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.POMandatoryTemp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_POMandatory</targetReference>
            </connector>
            <label>POMandatory Temp = No ?</label>
        </rules>
        <rules>
            <name>If_a_quote_is_signed_with_missing_PO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__DocumentStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.No_PO_Exception__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Purchase_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SBQQ__Account__r.PO_Mandatory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status</targetReference>
            </connector>
            <label>If a quote is signed with missing PO</label>
        </rules>
        <rules>
            <name>Customer_denied_Quote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_denied_Quote__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Customer_denied_Quote__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_denied_Quote__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Customer_denied_Quote</targetReference>
            </connector>
            <label>Customer denied Quote</label>
        </rules>
        <rules>
            <name>If_Approved_by_Collection_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blocked</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tech_CollectionStatus_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_If_Approved_by_Collection_Team</targetReference>
            </connector>
            <label>If Approved by Collection Team</label>
        </rules>
        <rules>
            <name>Copy_into_NEW_BIC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.New_BIC_Temp__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Copy_into_NEW_BIC</targetReference>
            </connector>
            <label>Copy into NEW BIC</label>
        </rules>
        <rules>
            <name>Copy_into_NEW_IBAN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.New_IBAN_Temp__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Copy_into_NEW_IBAN</targetReference>
            </connector>
            <label>Copy into NEW IBAN</label>
        </rules>
        <rules>
            <name>If_the_Approval_is_Recalled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recalled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>is_Recalled</targetReference>
            </connector>
            <label>If the Approval is Recalled</label>
        </rules>
        <rules>
            <name>Quote_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SBQQ__DocumentStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_to_Accepted</targetReference>
            </connector>
            <label>Quote Accepted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Quote Main Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote Main Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1904</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>All_Decisions</targetReference>
        </connector>
        <object>SBQQ__Quote__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Contains RT Locked Quote Id</description>
        <name>LockedQuote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0121t0000005xzsAAA</stringValue>
        </value>
    </variables>
    <variables>
        <name>QuoteRTDefault</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0121t0000005xzrAAA</stringValue>
        </value>
    </variables>
</Flow>
