unpackaged/main/default/flows/Set_Function_Values.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Set_Contact</name>
        <label>Set Contact</label>
        <locationX>397</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>ContactRec.FunctionId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FunctionRec.FunctionId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRec.BuyerPersonaCPA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FunctionRec.BuyerPersonaCPA__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRec.BuyerPersonaEducation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FunctionRec.BuyerPersonaEducation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRec.BuyerPersonaERPHigh__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FunctionRec.BuyerPersonaERPHigh__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRec.BuyerPersonaERPMiddle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FunctionRec.BuyerPersonaERPMiddle__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRec.BuyerPersonaHCM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FunctionRec.BuyerPersonaHCM__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRec.BuyerPersonaPortailTPE__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FunctionRec.BuyerPersonaPortailTPE__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRec.BuyerPersonaRetail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FunctionRec.BuyerPersonaRetail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRec.BuyerPersonaSMB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FunctionRec.BuyerPersonaSMB__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactRec.BuyerPersonaTAX__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FunctionRec.BuyerPersonaTAX__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Set Function Values {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Function Values</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Function</name>
        <label>Get Function</label>
        <locationX>236</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Function__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactRec.Function__c</elementReference>
            </value>
        </filters>
        <object>Function__c</object>
        <outputReference>FunctionRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FunctionId__c</queriedFields>
        <queriedFields>Function__c</queriedFields>
        <queriedFields>BuyerPersonaCPA__c</queriedFields>
        <queriedFields>BuyerPersonaEducation__c</queriedFields>
        <queriedFields>BuyerPersonaERPHigh__c</queriedFields>
        <queriedFields>BuyerPersonaERPMiddle__c</queriedFields>
        <queriedFields>BuyerPersonaHCM__c</queriedFields>
        <queriedFields>BuyerPersonaPortailTPE__c</queriedFields>
        <queriedFields>BuyerPersonaRetail__c</queriedFields>
        <queriedFields>BuyerPersonaSMB__c</queriedFields>
        <queriedFields>BuyerPersonaTAX__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetContact</name>
        <label>Get Contact</label>
        <locationX>55</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Function</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ContactRec</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Function__c</queriedFields>
        <queriedFields>FunctionId__c</queriedFields>
        <queriedFields>BuyerPersonaCPA__c</queriedFields>
        <queriedFields>BuyerPersonaEducation__c</queriedFields>
        <queriedFields>BuyerPersonaERPHigh__c</queriedFields>
        <queriedFields>BuyerPersonaERPMiddle__c</queriedFields>
        <queriedFields>BuyerPersonaHCM__c</queriedFields>
        <queriedFields>BuyerPersonaPortailTPE__c</queriedFields>
        <queriedFields>BuyerPersonaRetail__c</queriedFields>
        <queriedFields>BuyerPersonaSMB__c</queriedFields>
        <queriedFields>BuyerPersonaTAX__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>572</locationX>
        <locationY>182</locationY>
        <inputReference>ContactRec</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactFunction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>FunctionRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Function__c</objectType>
    </variables>
    <variables>
        <name>TestId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
