unpackaged/main/default/flows/Summer_2021_B2B_Checkout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Activates an order and create an Order Summary completing a checkout.

This may fallback to asynchronous mode even if it&apos;s marked synchronous, so we&apos;ll need to make sure there is logic to handle that case.</description>
        <name>Activate_Order</name>
        <label>Activate Order</label>
        <locationX>5513</locationX>
        <locationY>829</locationY>
        <actionName>activateOrderAction</actionName>
        <actionType>activateOrderAction</actionType>
        <connector>
            <targetReference>Wait_if_Activate_Order_reverts_Async</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_2</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderStatus</name>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>runAsync</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>This will cancel active checkouts. This helps create a secure and consistent checkout experience. Allowing multiple tabs to do checkout at the same time but on different steps could lead to unexpected and unreliable behavior. There would be a possibility of abuse by a bad actor. This prevents that.</description>
        <name>Cancel_Checkouts</name>
        <label>Cancel Checkouts</label>
        <locationX>1129</locationX>
        <locationY>843</locationY>
        <actionName>cancelCartAsyncOperation</actionName>
        <actionType>cancelCartAsyncOperation</actionType>
        <connector>
            <targetReference>Start_Checkout_Session</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Creates an order from a cart. Still requires activation of the cart to complete checkout.

This may fallback to asynchronous mode even if it&apos;s marked synchronous, so we&apos;ll need to make sure there is logic to handle that case.</description>
        <name>Cart_to_Order</name>
        <label>Cart to Order</label>
        <locationX>4402</locationX>
        <locationY>830</locationY>
        <actionName>cartToOrderAction</actionName>
        <actionType>cartToOrderAction</actionType>
        <connector>
            <targetReference>Wait_If_Cart_To_Order_reverts_Async</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_2</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>runAsync</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Create_Training_Session_Records_and_Send_Email</name>
        <label>Create Training Session Records and Send Email</label>
        <locationX>6021</locationX>
        <locationY>1328</locationY>
        <actionName>B2B_OrderConfirmationEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Final_Checkout_Session</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>listMainCheckoutSession</name>
            <value>
                <elementReference>mainCheckoutSession</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>GetUserEmail</name>
        <label>GetUserEmail</label>
        <locationX>1460</locationX>
        <locationY>1315</locationY>
        <actionName>B2B_GetConnectedUserEmail</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>BillingInfoScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <outputParameters>
            <assignToReference>ConnectedUserEmail</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Set_Delivery_Method</name>
        <label>Set Delivery Method</label>
        <locationX>4038</locationX>
        <locationY>976</locationY>
        <actionName>B2B_DeliveryMethod</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Checkout_Session_After_Summary</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>listWebcartIds</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Creates a new checkout session and gives it an initial state. This also updates the cart&apos;s status to be &apos;Checkout&apos;.</description>
        <name>Start_Checkout_Session</name>
        <label>Start Checkout Session</label>
        <locationX>1355</locationX>
        <locationY>832</locationY>
        <actionName>checkoutSessionAction</actionName>
        <actionType>checkoutSessionAction</actionType>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>initialState</name>
            <value>
                <stringValue>Start</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>checkoutSessionId</assignToReference>
            <name>requestId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Adds taxes to the cart. This calls a custom inventory invocable action that should be further customized.</description>
        <name>Taxes</name>
        <label>Taxes</label>
        <locationX>636</locationX>
        <locationY>810</locationY>
        <actionName>B2BSyncTax</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>OrderRecap</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_3</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>cartIds</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Add_Product_Name</name>
        <label>Add Product Name</label>
        <locationX>1656</locationX>
        <locationY>2245</locationY>
        <assignmentItems>
            <assignToReference>ProductNamesWithWrongExpertise</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Lines.Product2.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductNamesWithWrongExpertise</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Lines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Record_To_Record_Collection</name>
        <label>Add Record To Record Collection</label>
        <locationX>6486</locationX>
        <locationY>864</locationY>
        <assignmentItems>
            <assignToReference>ConvertedOrderInfluencesToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConvertedOrderInfluenceToCreateItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Though_Converted_Influences</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Sales_Names</name>
        <label>Add Sales Names</label>
        <locationX>2329</locationX>
        <locationY>1610</locationY>
        <assignmentItems>
            <assignToReference>InfluencerNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_active_Influences.Owner:User.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InfluencerNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderInfluencesToConvert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_active_Influences.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_active_Influences</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Sales_Names_0</name>
        <label>Add Sales Names</label>
        <locationX>2443</locationX>
        <locationY>1769</locationY>
        <assignmentItems>
            <assignToReference>InfluencerNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_active_Influences.Customer_Care_Rep_Full_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InfluencerNames</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderInfluencesToConvert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_active_Influences.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_active_Influences</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AccountId</name>
        <label>Assign AccountId</label>
        <locationX>1328</locationX>
        <locationY>1346</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Account_Expetises</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>6485</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>ConvertedOrderInfluenceToCreateItem.Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>mainCheckoutSession.OrderId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConvertedOrderInfluenceToCreateItem.Order_Influence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Though_Converted_Influences</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Record_To_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This node is here for cosmetic purposes. It helps make the flow easier to read, but is not a necessary technical component.</description>
        <name>Beatification_No_Logic2</name>
        <label>Beatification - No Logic</label>
        <locationX>6274</locationX>
        <locationY>2361</locationY>
        <assignmentItems>
            <assignToReference>cartId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Order_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Collection</name>
        <label>Build Collection</label>
        <locationX>1308</locationX>
        <locationY>1949</locationY>
        <assignmentItems>
            <assignToReference>ExpertiseCol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Expertises.Expertise__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Expertises</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Collection_0</name>
        <label>Build Collection</label>
        <locationX>1350</locationX>
        <locationY>2163</locationY>
        <assignmentItems>
            <assignToReference>ProductLineCol</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Lines.Product2.Product_Line__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProductExpertise</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Lines.Product2.Expertise__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccountExpertises_Collection_contains_Line_Expertise</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>cartToOrder was designed to be run asynchronously and expects a &quot;Next State&quot;. Without a next state, cartToOrder assumes a failure, so we provide when even though it&apos;s not necessary for the rest of the flow.</description>
        <name>Update_Next_State_to_ActivateOrder</name>
        <label>Update Next State to ActivateOrder</label>
        <locationX>5342</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>mainCheckoutSession.NextState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activate Order</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Order_Po_Number.UMR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_session_for_Activate_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>cartToOrder was designed to be run asynchronously and expects a &quot;Next State&quot;. Without a next state, cartToOrder assumes a failure, so we provide when even though it&apos;s not necessary for the rest of the flow.</description>
        <name>Update_Next_State_to_Authorize_Payment</name>
        <label>Update Next State to Authorize Payment</label>
        <locationX>4403</locationX>
        <locationY>1321</locationY>
        <assignmentItems>
            <assignToReference>mainCheckoutSession.NextState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Authorize Payment</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_session</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>isFalse</name>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </constants>
    <decisions>
        <name>AccountExpertises_Collection_contains_Line_Expertise</name>
        <label>AccountExpertises Collection contains Line Expertise</label>
        <locationX>1443</locationX>
        <locationY>2288</locationY>
        <defaultConnector>
            <targetReference>Add_Product_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ExpertiseCol</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ProductExpertise</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_through_Lines.Product2.Expertise__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Lines</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Activate_Order_has_Errors</name>
        <label>Activate Order has Errors?</label>
        <locationX>5763</locationX>
        <locationY>1335</locationY>
        <defaultConnector>
            <targetReference>Create_Training_Session_Records_and_Send_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No errors</defaultConnectorLabel>
        <rules>
            <name>ActivateOrder_had_an_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mainCheckoutSession.IsError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Session_had_an_Error</targetReference>
            </connector>
            <label>ActivateOrder had an error</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cart_To_Order_has_Errors</name>
        <label>Cart To Order has Errors?</label>
        <locationX>4681</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>Get_Cart</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No errors</defaultConnectorLabel>
        <rules>
            <name>CartToOrder_had_an_error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mainCheckoutSession.IsError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Session_had_an_Error</targetReference>
            </connector>
            <label>CartToOrder had an error</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Wrong_Expertise</name>
        <label>If Wrong Expertise</label>
        <locationX>1606</locationX>
        <locationY>2086</locationY>
        <defaultConnector>
            <targetReference>Get_Active_Influences</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_WrongEwpertise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductNamesWithWrongExpertise</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>,</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ScreenSumExpertise</targetReference>
            </connector>
            <label>Yes_WrongEwpertise</label>
        </rules>
    </decisions>
    <decisions>
        <name>Influence_found</name>
        <label>Influence found</label>
        <locationX>1773</locationX>
        <locationY>1517</locationY>
        <defaultConnector>
            <targetReference>ScreenOrderInfluence</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_influence</name>
            <conditionLogic>NOT(1)</conditionLogic>
            <conditions>
                <leftValueReference>InfluencerNames</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>,</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Info</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the cart is already closed then the cart has already been converted to an order. If that&apos;s the case, show the buyer the Order Confirmation page.

There&apos;s more smarts that could be here by adding other outcomes of the status. For instance, if the webCart status is:
* &apos;Checkout&apos;: We probably need to cancel a checkout session
* &apos;Active&apos;: We could likely skip canceling the checkout, saving a small amount of time and resources</description>
        <name>Is_Cart_Already_Complete</name>
        <label>Is Cart Already Complete</label>
        <locationX>839</locationX>
        <locationY>1265</locationY>
        <defaultConnector>
            <targetReference>Cancel_Checkouts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Checkout not Closed</defaultConnectorLabel>
        <rules>
            <name>Closed_Checkout_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>webCart.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Completed_Session</targetReference>
            </connector>
            <label>Closed - Checkout Complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_MandaSEPA_New</name>
        <label>Is MandaSEPA New?</label>
        <locationX>5128</locationX>
        <locationY>649</locationY>
        <defaultConnector>
            <targetReference>UpdateOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_it_is_new</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paymentMethodScreen.isSepaCustom</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order</targetReference>
            </connector>
            <label>Check if it is new</label>
        </rules>
        <rules>
            <name>is_payment_CB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>paymentMethodScreen.userSelectedPaymentTypes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.b2bCardPaymentFlow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Order_for_CB_Purchase</targetReference>
            </connector>
            <label>is payment CB</label>
        </rules>
    </decisions>
    <decisions>
        <description>Ensures that if the buyer starts a second checkout that we don&apos;t attempt to progress this duplicate checkout.</description>
        <name>Is_Session_Still_Valid_After_Delivery</name>
        <label>Is Session Still Valid After Delivery?</label>
        <locationX>3037</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Update_Delivery_Method_If_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Session is Valid</defaultConnectorLabel>
        <rules>
            <name>Session_No_Longer_Valid4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mainCheckoutSession.IsArchived</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Invalid_Session</targetReference>
            </connector>
            <label>Session No Longer Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Ensures that if the buyer starts a second checkout that we don&apos;t attempt to progress this duplicate checkout.</description>
        <name>Is_Session_Still_Valid_After_Payment</name>
        <label>Is Session Still Valid After Payment?</label>
        <locationX>3933</locationX>
        <locationY>1320</locationY>
        <defaultConnector>
            <targetReference>Set_Delivery_Method</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Session is Valid</defaultConnectorLabel>
        <rules>
            <name>Session_No_Longer_Valid2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mainCheckoutSession.IsArchived</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Invalid_Session</targetReference>
            </connector>
            <label>Session No Longer Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Ensures that if the buyer starts a second checkout that we don&apos;t attempt to progress this duplicate checkout.</description>
        <name>Is_Session_Still_Valid_After_Shipping</name>
        <label>Is Session Still Valid After Shipping?</label>
        <locationX>1673</locationX>
        <locationY>1272</locationY>
        <defaultConnector>
            <targetReference>Get_Contact_Point_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Session is Valid</defaultConnectorLabel>
        <rules>
            <name>Session_No_Longer_Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mainCheckoutSession.IsArchived</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Invalid_Session</targetReference>
            </connector>
            <label>Session No Longer Valid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Ensures that if the buyer starts a second checkout that we don&apos;t attempt to progress this duplicate checkout.</description>
        <name>Is_Session_Still_Valid_After_Summary</name>
        <label>Is Session Still Valid After Summary?</label>
        <locationX>4160</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Update_Next_State_to_Authorize_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Session is Valid</defaultConnectorLabel>
        <rules>
            <name>Session_No_Longer_Valid3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>mainCheckoutSession.IsArchived</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Invalid_Session</targetReference>
            </connector>
            <label>Session No Longer Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCustomerCareFullNameNull</name>
        <label>IsCustomerCareFullNameNull?</label>
        <locationX>2285</locationX>
        <locationY>1858</locationY>
        <defaultConnector>
            <targetReference>Add_Sales_Names_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_active_Influences.Customer_Care_Rep_Full_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Sales_Names</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProductLineCol_contains_OrderInfluence_PL</name>
        <label>ProductLineCol contains OrderInfluence PL</label>
        <locationX>2080</locationX>
        <locationY>1860</locationY>
        <defaultConnector>
            <targetReference>Loop_through_active_Influences</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProductLineCol</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_through_active_Influences.Product_Line__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsCustomerCareFullNameNull</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>No sense updating a delivery method that hasn&apos;t changed from the default suggestion.</description>
        <name>Update_Delivery_Method_If_Changed</name>
        <label>Update Delivery Method if Changed</label>
        <locationX>3280</locationX>
        <locationY>1297</locationY>
        <defaultConnector>
            <targetReference>Payment_And_Billing_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Delivery Method Unchanged</defaultConnectorLabel>
        <rules>
            <name>Delivery_Method_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>orderDeliveryMethodId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>orderDeliveryMethodId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payment_And_Billing_Address</targetReference>
            </connector>
            <label>Delivery Method Changed</label>
        </rules>
    </decisions>
    <description>ACO - Include Expertise Check
11/08/2021 GDH - added Payment Method
17/08/21 ACO - New Screens for Influence and Expertises
18/08/21 ACO - Updates for Order Delivery Method
24/08/2021 ACO - Add Billing Info
2/9/2021 KMM - Removing Order Delivery Method
7/10/2021 VMO - Modified &quot;UpdateOrder&quot; Subflow to include update of lookup field on Cart on the Order record
7/10/2021 VMO - Modified &quot;Update Order If Influenced&quot; as field Influenced Order is a chekbox but the Subflow assigned it a value of &quot;Not Recognized&quot;
10/8/2021 KMM - Remove Shipping Options
18/10/2021 VMO - Called apex class B2B_OrderConfirmationEmail if no errors on order
20/10/2021 KMM - AddConnected Email Address
21/10/2021 GDH - Removed Payment authorization since payment already made in lwc
03/11/2021 KMM - Sepa Payment was modified to handle new an existing one
03/11/2021 KMM - Store Id
17/11/2021 GDH - Remove Summary screen
17/11/2021 KMM - Order Fields
17/11/2021 GDH - Translate Next &amp; previous buttons for payment screen
08/12/2022 ASE - Translate Expertise Screen</description>
    <environments>Default</environments>
    <formulas>
        <name>Influencers</name>
        <dataType>String</dataType>
        <expression>LEFT({!InfluencerNames},LEN({!InfluencerNames})-2)</expression>
    </formulas>
    <formulas>
        <name>NotRecognition</name>
        <dataType>Boolean</dataType>
        <expression>NOT({!I_don_t_recognize_Influence})</expression>
    </formulas>
    <interviewLabel>(Summer 2021) B2B Checkout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Checkout</label>
    <loops>
        <name>Loop_Though_Converted_Influences</name>
        <label>Loop Though Converted Influences</label>
        <locationX>6273</locationX>
        <locationY>806</locationY>
        <collectionReference>OrderInfluencesToConvert</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Converted_Order_Influences</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_active_Influences</name>
        <label>Loop through active Influences</label>
        <locationX>1883</locationX>
        <locationY>1771</locationY>
        <collectionReference>Get_Active_Influences</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ProductLineCol_contains_OrderInfluence_PL</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Influence_found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Expertises</name>
        <label>Loop through Expertises</label>
        <locationX>1309</locationX>
        <locationY>1709</locationY>
        <collectionReference>Get_Account_Expetises</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Lines_Expertises</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Lines</name>
        <label>Loop through Lines</label>
        <locationX>1450</locationX>
        <locationY>2023</locationY>
        <collectionReference>Get_Lines_Expertises</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Collection_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_Wrong_Expertise</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>CheckoutFlow</processType>
    <recordCreates>
        <name>Create_Converted_Order_Influences</name>
        <label>Create Converted Order Influences</label>
        <locationX>6270</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>Order_Confirmation_Redirect</targetReference>
        </connector>
        <inputReference>ConvertedOrderInfluencesToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1312</locationX>
        <locationY>1229</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_AccountId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WebCart</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Expetises</name>
        <label>Get Account Expetises</label>
        <locationX>1309</locationX>
        <locationY>1485</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Expertises</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Expertise__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>1542</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUserEmail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Influences</name>
        <label>Get Active Influences</label>
        <locationX>1760</locationX>
        <locationY>1918</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_active_Influences</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order_Influence__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cart</name>
        <label>Get Cart</label>
        <locationX>4847</locationX>
        <locationY>1102</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Po_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <object>WebCart</object>
        <outputReference>webCart</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>PaymentMethodId</queriedFields>
        <queriedFields>GrandTotalAmount</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Cart Status is used to ensure the cart exists and if the cart is already complete, then forward buyer to the Order Confirmation page.</description>
        <name>Get_Cart_Status</name>
        <label>Get Cart Status</label>
        <locationX>846</locationX>
        <locationY>967</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Cart_Already_Complete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <object>WebCart</object>
        <outputReference>webCart</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>After each screen, we need to ensure the session is still active. If the buyer started a new checkout, this tab might still be active but the session is archived. We want to terminate if that&apos;s the case.</description>
        <name>Get_Checkout_Session_After_Payment</name>
        <label>Get Checkout Session After Payment</label>
        <locationX>3832</locationX>
        <locationY>1087</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Session_Still_Valid_After_Payment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>checkoutSessionId</elementReference>
            </value>
        </filters>
        <object>CartCheckoutSession</object>
        <outputReference>mainCheckoutSession</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsArchived</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>After each screen, we need to ensure the session is still active. If the buyer started a new checkout, this tab might still be active but the session is archived. We want to terminate if that&apos;s the case.</description>
        <name>Get_Checkout_Session_After_Summary</name>
        <label>Get Checkout Session After Summary</label>
        <locationX>4168</locationX>
        <locationY>1097</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Session_Still_Valid_After_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>checkoutSessionId</elementReference>
            </value>
        </filters>
        <object>CartCheckoutSession</object>
        <outputReference>mainCheckoutSession</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>NextState</queriedFields>
        <queriedFields>IsArchived</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the non-archived session. Only one session will be non-archived at a time, and since we know we have a completed cart, this session is the session that was used to complete the checkout.</description>
        <name>Get_Completed_Session</name>
        <label>Get Completed Session</label>
        <locationX>845</locationX>
        <locationY>2362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Beatification_No_Logic2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WebCartId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsArchived</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>CartCheckoutSession</object>
        <outputReference>mainCheckoutSession</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrderId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the Contact Point Address that the buyer selected as their shipping address.</description>
        <name>Get_Contact_Point_Address</name>
        <label>Get Contact Point Address</label>
        <locationX>1882</locationX>
        <locationY>961</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Cart_Delivery_Group_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactPointAddressId</elementReference>
            </value>
        </filters>
        <object>ContactPointAddress</object>
        <outputReference>shippingContactPointAddress</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>City</queriedFields>
        <queriedFields>Country</queriedFields>
        <queriedFields>GeocodeAccuracy</queriedFields>
        <queriedFields>Latitude</queriedFields>
        <queriedFields>Longitude</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>PostalCode</queriedFields>
        <queriedFields>State</queriedFields>
        <queriedFields>Street</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>The checkout session contains a foreign key to the order, which we&apos;ll use to get the order summary Id.</description>
        <name>Get_Final_Checkout_Session</name>
        <label>Get Final Checkout Session</label>
        <locationX>6021</locationX>
        <locationY>1098</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>checkoutSessionId</elementReference>
            </value>
        </filters>
        <object>CartCheckoutSession</object>
        <outputReference>mainCheckoutSession</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OrderId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Lines_Expertises</name>
        <label>Get Lines Expertises</label>
        <locationX>1445</locationX>
        <locationY>1825</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CartId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CartItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Po_Number</name>
        <label>Get Order Po Number</label>
        <locationX>5000</locationX>
        <locationY>1101</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCartInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>mainCheckoutSession.OrderId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PoNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>On the Order Confirmation, we show data from the Order Summary. This gets the order summary id.</description>
        <name>Get_Order_Summary</name>
        <label>Get Order Summary</label>
        <locationX>6279</locationX>
        <locationY>1099</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Order_if_Influenced</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OriginalOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>mainCheckoutSession.OrderId</elementReference>
            </value>
        </filters>
        <object>OrderSummary</object>
        <outputAssignments>
            <assignToReference>OrderSummaryId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>After each screen, we need to ensure the session is still active. If the buyer started a new checkout, this tab might still be active but the session is archived. We want to terminate if that&apos;s the case.</description>
        <name>Get_Session_After_Delivery</name>
        <label>Get Session After Delivery</label>
        <locationX>3045</locationX>
        <locationY>1072</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Session_Still_Valid_After_Delivery</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>checkoutSessionId</elementReference>
            </value>
        </filters>
        <object>CartCheckoutSession</object>
        <outputReference>mainCheckoutSession</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsArchived</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>After each screen, we need to ensure the session is still active. If the buyer started a new checkout, this tab might still be active but the session is archived. We want to terminate if that&apos;s the case.</description>
        <name>Get_Session_After_Shipping</name>
        <label>Get Session After Shipping</label>
        <locationX>1680</locationX>
        <locationY>1066</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Session_Still_Valid_After_Shipping</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>checkoutSessionId</elementReference>
            </value>
        </filters>
        <object>CartCheckoutSession</object>
        <outputReference>mainCheckoutSession</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsArchived</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Session_Possible_Error_ActivateOrder</name>
        <label>Get Session Possible Error ActivateOrder</label>
        <locationX>5771</locationX>
        <locationY>1099</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Activate_Order_has_Errors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>checkoutSessionId</elementReference>
            </value>
        </filters>
        <object>CartCheckoutSession</object>
        <outputReference>mainCheckoutSession</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsError</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Session_Possible_Errors_CartToOrder</name>
        <label>Get Session Possible Errors CartToOrder</label>
        <locationX>4689</locationX>
        <locationY>1100</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cart_To_Order_has_Errors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>checkoutSessionId</elementReference>
            </value>
        </filters>
        <object>CartCheckoutSession</object>
        <outputReference>mainCheckoutSession</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsError</queriedFields>
        <queriedFields>OrderId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCartInfo</name>
        <label>GetCartInfo</label>
        <locationX>5138</locationX>
        <locationY>1102</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_MandaSEPA_New</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WebCart</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Copies the contact point address fields into the CartDeliveryGroup. Also, adds the shipping instructions.</description>
        <name>Update_Cart_Delivery_Group_Address</name>
        <label>Update Cart Delivery Group&apos;s Address</label>
        <locationX>2056</locationX>
        <locationY>1075</locationY>
        <connector>
            <targetReference>Get_Session_After_Delivery</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CartId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DeliverToCity</field>
            <value>
                <elementReference>shippingContactPointAddress.City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToCountry</field>
            <value>
                <elementReference>shippingContactPointAddress.Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToGeocodeAccuracy</field>
            <value>
                <elementReference>shippingContactPointAddress.GeocodeAccuracy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToLatitude</field>
            <value>
                <elementReference>shippingContactPointAddress.Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToLongitude</field>
            <value>
                <elementReference>shippingContactPointAddress.Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToName</field>
            <value>
                <elementReference>shippingContactPointAddress.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToPostalCode</field>
            <value>
                <elementReference>shippingContactPointAddress.PostalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToState</field>
            <value>
                <elementReference>shippingContactPointAddress.State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeliverToStreet</field>
            <value>
                <elementReference>shippingContactPointAddress.Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingInstructions</field>
            <value>
                <elementReference>shippingInstructions</elementReference>
            </value>
        </inputAssignments>
        <object>CartDeliveryGroup</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order</name>
        <label>Update Order</label>
        <locationX>5334</locationX>
        <locationY>786</locationY>
        <connector>
            <targetReference>Update_Next_State_to_ActivateOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>mainCheckoutSession.OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>B2BOrder__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cart__c</field>
            <value>
                <elementReference>GetCartInfo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_BIC__c</field>
            <value>
                <elementReference>paymentMethodScreen.bic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Bank_City__c</field>
            <value>
                <elementReference>paymentMethodScreen.bankCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Bank_Name__c</field>
            <value>
                <elementReference>paymentMethodScreen.bankName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_IBAN__c</field>
            <value>
                <elementReference>paymentMethodScreen.iban</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentTypes__c</field>
            <value>
                <elementReference>paymentMethodScreen.userSelectedPaymentTypes</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_for_CB_Purchase</name>
        <label>Update Order for CB Purchase</label>
        <locationX>5402</locationX>
        <locationY>646</locationY>
        <connector>
            <targetReference>Update_Next_State_to_ActivateOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>mainCheckoutSession.OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AcompteCB__c</field>
            <value>
                <elementReference>GetCartInfo.GrandTotalAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>B2BOrder__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cart__c</field>
            <value>
                <elementReference>GetCartInfo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentTypes__c</field>
            <value>
                <elementReference>paymentMethodScreen.userSelectedPaymentTypes</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Order_if_Influenced</name>
        <label>Update Order if Influenced</label>
        <locationX>6071</locationX>
        <locationY>820</locationY>
        <connector>
            <targetReference>Loop_Though_Converted_Influences</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>mainCheckoutSession.OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Influenced_Order__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_session</name>
        <label>Update session</label>
        <locationX>4403</locationX>
        <locationY>1095</locationY>
        <connector>
            <targetReference>Cart_to_Order</targetReference>
        </connector>
        <inputReference>mainCheckoutSession</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_session_for_Activate_Order</name>
        <label>Update session for Activate Order</label>
        <locationX>5513</locationX>
        <locationY>1111</locationY>
        <connector>
            <targetReference>Activate_Order</targetReference>
        </connector>
        <inputReference>mainCheckoutSession</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOrder</name>
        <label>UpdateOrder</label>
        <locationX>5218</locationX>
        <locationY>879</locationY>
        <connector>
            <targetReference>Update_Next_State_to_ActivateOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>mainCheckoutSession.OrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>B2BOrder__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BIC__c</field>
            <value>
                <elementReference>paymentMethodScreen.bic</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_City__c</field>
            <value>
                <elementReference>paymentMethodScreen.bankCity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bank_Name__c</field>
            <value>
                <elementReference>paymentMethodScreen.bankName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cart__c</field>
            <value>
                <elementReference>GetCartInfo.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IBAN__c</field>
            <value>
                <elementReference>paymentMethodScreen.iban</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentTypes__c</field>
            <value>
                <elementReference>paymentMethodScreen.userSelectedPaymentTypes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UMR__c</field>
            <value>
                <elementReference>paymentMethodScreen.rum</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>BillingInfoScreen</name>
        <label>BillingInfoScreen</label>
        <locationX>1542</locationX>
        <locationY>1151</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Session_After_Shipping</targetReference>
        </connector>
        <fields>
            <name>BillingInfos</name>
            <fieldText>&lt;p&gt;Pour rappel, l&apos;adresse de facturation est  : &lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Account_Info.BillingStreet}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Account_Info.BillingPostalCode} &lt;/span&gt;{!Get_Account_Info.BillingCity}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Account_Info.BillingCountry}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Vous recevrez la confirmation de commande  l&apos;adresse mail : {!ConnectedUserEmail}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Checkout_Summary</name>
        <label>Checkout Summary</label>
        <locationX>4018</locationX>
        <locationY>801</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RO_ShippingAddress</name>
            <extensionName>forceCommunity:commerceDelivery</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showShippingInstructions</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>RO_DeliveryMethod</name>
            <extensionName>commerce_checkout:deliveryMethod</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>isReadOnly</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>cartId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RO_CheckoutSummary</name>
            <extensionName>forceCommunity:commerceCheckoutSummary</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showShipping</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showTax</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Order_Confirmation_Redirect</name>
        <label>Order Confirmation Redirect</label>
        <locationX>6015</locationX>
        <locationY>493</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OrderConfirmationRedirectComp</name>
            <extensionName>forceCommunity:flowRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>pageName</name>
                <value>
                    <stringValue>orderconfirmation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>OrderSummaryId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OrderRecap</name>
        <label>OrderRecap</label>
        <locationX>636</locationX>
        <locationY>967</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Cart_Status</targetReference>
        </connector>
        <fields>
            <name>cartSummary</name>
            <extensionName>c:b2bOrderRecap</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>getCartIds</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Payment_And_Billing_Address</name>
        <label>Payment And Billing Address</label>
        <locationX>3830</locationX>
        <locationY>829</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Checkout_Session_After_Payment</targetReference>
        </connector>
        <fields>
            <name>paymentMethodScreen</name>
            <extensionName>c:paymentMethod</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>nextButtonLabel</name>
                <value>
                    <stringValue>Suivant</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>previousButtonLabel</name>
                <value>
                    <stringValue>Prcdent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedPaymentType</name>
                <value>
                    <stringValue>CardPayment</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenOrderInfluence</name>
        <label>ScreenOrderInfluence</label>
        <locationX>1538</locationX>
        <locationY>1576</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Account_Info</targetReference>
        </connector>
        <fields>
            <name>ThankYou</name>
            <fieldText>&lt;p&gt;Thank you for your Order.&lt;/p&gt;&lt;p&gt;Was this purchase recommended to you by your sales contact(s)? &lt;i&gt;(Click Continue to say Yes)&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_don_t_recognize_Influence</name>
            <dataType>Boolean</dataType>
            <fieldText>No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenSumExpertise</name>
        <label>ScreenSumExpertise</label>
        <locationX>1629</locationX>
        <locationY>1944</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Active_Influences</targetReference>
        </connector>
        <fields>
            <name>WarningMessageExpertise</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.B2B_Expertise_Screen_1}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!ProductNamesWithWrongExpertise}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.B2B_Expertise_Screen_2}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Shipping_Options</name>
        <label>Shipping Options</label>
        <locationX>1543</locationX>
        <locationY>739</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Shipping</name>
            <extensionName>forceCommunity:commerceDelivery</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cartId</name>
                <value>
                    <elementReference>cartId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>shippingInstructions</assignToReference>
                <name>shippingInstructions</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>contactPointAddressId</assignToReference>
                <name>contactPointAddressId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>test</name>
        <label>test</label>
        <locationX>4490</locationX>
        <locationY>690</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>test2</name>
        <label>test2</label>
        <locationX>4623</locationX>
        <locationY>689</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Wait_if_Activate_Order_reverts_Async</name>
        <label>Wait if Activate Order reverts Async</label>
        <locationX>5771</locationX>
        <locationY>829</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Session_Possible_Error_ActivateOrder</targetReference>
        </connector>
        <fields>
            <name>Wait3</name>
            <extensionName>forceCommunity:commerceScreenWait</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cartCheckoutSessionId</name>
                <value>
                    <elementReference>checkoutSessionId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Wait_If_Cart_To_Order_reverts_Async</name>
        <label>Wait If Cart To Order reverts Async</label>
        <locationX>4699</locationX>
        <locationY>830</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Session_Possible_Errors_CartToOrder</targetReference>
        </connector>
        <fields>
            <name>wait2</name>
            <extensionName>forceCommunity:commerceScreenWait</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cartCheckoutSessionId</name>
                <value>
                    <elementReference>checkoutSessionId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>295</locationX>
        <locationY>641</locationY>
        <connector>
            <targetReference>Taxes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Shows the fault message. Same as other error subflows that show fault message (though copied to make the flow look nicer).</description>
        <name>Error</name>
        <label>Error</label>
        <locationX>1319</locationX>
        <locationY>408</locationY>
        <flowName>Summer_2021_Subflow_Error</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Error_2</name>
        <label>Error</label>
        <locationX>5004</locationX>
        <locationY>250</locationY>
        <flowName>Summer_2021_Subflow_Error</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Shows the fault message. Same as other error subflows that show fault message (though copied to make the flow look nicer).</description>
        <name>Error_3</name>
        <label>Error</label>
        <locationX>896</locationX>
        <locationY>564</locationY>
        <flowName>Summer_2021_Subflow_Error</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Error_Invalid_Session</name>
        <label>Error - Invalid Session</label>
        <locationX>3645</locationX>
        <locationY>2198</locationY>
        <flowName>Summer_2021_Subflow_Error</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <stringValue>Looks like you don&apos;t have an activat CartCheckoutSession. Do you have a checkout running in another tab?</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>This error subflow catches the cases where the built in cartToOrder/activateOrder marked the session as having had an error.</description>
        <name>Session_had_an_Error</name>
        <label>Session had an Error</label>
        <locationX>5165</locationX>
        <locationY>1752</locationY>
        <flowName>Summer_2021_Subflow_Error</flowName>
        <inputAssignments>
            <name>cartId</name>
            <value>
                <elementReference>cartId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ErrorMessage</name>
            <value>
                <elementReference>errorMessage</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>cartId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>checkoutSessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConnectedUserEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactPointAddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ConvertedOrderInfluencesToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Converted_Order_Influence__c</objectType>
    </variables>
    <variables>
        <name>ConvertedOrderInfluenceToCreateItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Converted_Order_Influence__c</objectType>
    </variables>
    <variables>
        <description>Used to put error messages in for the error subflow</description>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ExpertiseCol</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InfluencerNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>mainCheckoutSession</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartCheckoutSession</objectType>
    </variables>
    <variables>
        <name>orderDeliveryMethodId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderInfluencesToConvert</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductExpertise</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductLineCol</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductNamesWithWrongExpertise</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sessions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CartCheckoutSession</objectType>
    </variables>
    <variables>
        <name>shippingContactPointAddress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContactPointAddress</objectType>
    </variables>
    <variables>
        <name>shippingInstructions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.B2BStorePricebookId</elementReference>
        </value>
    </variables>
    <variables>
        <name>webCart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WebCart</objectType>
    </variables>
</Flow>
