unpackaged/main/default/flows/Territory_Assignation_on_Account_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>453</locationX>
        <locationY>505</locationY>
        <assignmentItems>
            <assignToReference>AccountTerritoryToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleAccountTerritoryAssociation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Territory</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignSingleAccountTerritory</name>
        <label>AssignSingleAccountTerritory</label>
        <locationX>601</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>SingleAccountTerritoryAssociation.SobjectType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAccountTerritoryAssociation.Territory2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Assignable_Terrritory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAccountTerritoryAssociation.ObjectId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAccountTerritoryAssociation.AssociationCause</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Territory2Manual</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>TerritoryFound</name>
        <label>TerritoryFound ?</label>
        <locationX>583</locationX>
        <locationY>331</locationY>
        <defaultConnector>
            <targetReference>Loop_Territory</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assignable_Terrritory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignSingleAccountTerritory</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>RMA - 19/01/2020 : Ajout filtre sur modèle de territoires actif</description>
    <interviewLabel>Territory Assignation on Account Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Territory Assignation on Account Creation</label>
    <loops>
        <name>Loop_Territory</name>
        <label>Loop Territory</label>
        <locationX>250</locationX>
        <locationY>344</locationY>
        <assignNextValueToReference>TerritoryLoopItem</assignNextValueToReference>
        <collectionReference>Get_Owner_s_Territories</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Assignable_Terrritory</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Account_Territory</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account_Territory</name>
        <label>Create Account Territory</label>
        <locationX>254</locationX>
        <locationY>541</locationY>
        <inputReference>AccountTerritoryToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>79</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner_s_Territories</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Territory_Model</name>
        <label>Get Active Territory Model</label>
        <locationX>172</locationX>
        <locationY>343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>State</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2Model</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assignable_Terrritory</name>
        <label>Get Assignable Terrritory</label>
        <locationX>512</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TerritoryFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assign_To_New_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TerritoryLoopItem.Territory2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Territory2ModelId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Active_Territory_Model.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_s_Territories</name>
        <label>Get Owner&apos;s Territories</label>
        <locationX>80</locationX>
        <locationY>343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Active_Territory_Model</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RoleInTerritory2</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity Owner</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>UserTerritory2Association</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountTerritoryToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ObjectTerritory2Association</objectType>
    </variables>
    <variables>
        <name>SingleAccountTerritoryAssociation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ObjectTerritory2Association</objectType>
    </variables>
    <variables>
        <name>TerritoryLoopItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>UserTerritory2Association</objectType>
    </variables>
</Flow>
