unpackaged/main/default/flows/TriggerFlow_Lead_AfterUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Marketing_Status_Cold</name>
        <label>Marketing Status Cold</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>associatedContact.Marketing_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Associated_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>W-001539 : When a Contact Lead is set to Closed - Not Converted, it should set Marketing Status of associated Contact to Cold</description>
        <name>Contact_Lead_is_Closed_Not_Converted</name>
        <label>Contact Lead is Closed - Not Converted ?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Lead_Closed_Not_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Not Converted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Associated_Contact</targetReference>
            </connector>
            <label>Contact Lead Closed Not Converted</label>
        </rules>
    </decisions>
    <description>After Update trigger flow on Lead Object</description>
    <interviewLabel>TriggerFlow_Lead_AfterUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TriggerFlow_Lead_AfterUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Associated_Contact</name>
        <label>Get Associated Contact</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Marketing_Status_Cold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>associatedContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Marketing_Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Associated_Contact</name>
        <label>Update Associated Contact</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <inputReference>associatedContact</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_Lead_is_Closed_Not_Converted</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>associatedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
