unpackaged/main/default/flows/Update_Siblings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Update Siblings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Siblings</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Infos</name>
        <label>Get Infos</label>
        <locationX>390</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Siblings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Service_Level_Price__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Siblings</name>
        <label>Update Siblings</label>
        <locationX>557</locationX>
        <locationY>50</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>InputID</elementReference>
            </value>
        </filters>
        <filters>
            <field>SLP_Identifier_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InputSLPIdentified</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Discount_Schedule__c</field>
            <value>
                <elementReference>Get_Infos.Discount_Schedule__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lower_Bound__c</field>
            <value>
                <elementReference>Get_Infos.Lower_Bound__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Maximum_Price__c</field>
            <value>
                <elementReference>Get_Infos.Maximum_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Book__c</field>
            <value>
                <elementReference>Get_Infos.Price_Book__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegularPrice__c</field>
            <value>
                <elementReference>Get_Infos.RegularPrice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Service_Level__c</field>
            <value>
                <elementReference>Get_Infos.Service_Level__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Upper_Bound__c</field>
            <value>
                <elementReference>Get_Infos.Upper_Bound__c</elementReference>
            </value>
        </inputAssignments>
        <object>Service_Level_Price__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Infos</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>InputID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InputSLPIdentified</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
